<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pe="http://primefaces.org/ui/extensions"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <div class="debug-links">
        <h:outputLink styleClass="edit-assignment-link" value="#" onclick="$('#quick-pia-iframe').attr('src', '/cms/quick-page-item-assignment/#{assignment.id}');PF('quick-pia-dialog').show();return false;" rendered="#{request.isUserInRole('Admin')}"><span class="icon-edit"></span></h:outputLink>
        <h:outputLink styleClass="delete-assignment-link" onclick="assignmentToDelete = #{assignment['id']};PF('delete-assignment-confirm-dialog').show();return false;" value="#" rendered="#{request.isUserInRole('Admin')}"><span class="icon-remove2"></span></h:outputLink>
        <h:outputLink styleClass="move-assignment-link" value="#" rendered="#{request.isUserInRole('Admin')}"><span class="icon-arrow-right"></span></h:outputLink>
        <a class="show-urls-link" href="#"><span class="icon-link2"></span></a>
    </div>
</ui:composition>
