<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pe="http://primefaces.org/ui/extensions"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <div class="assignment-move-to"><h:selectOneMenu onchange="moveToPageRegion(#{assignment.id},#{cc.attrs.regionId},this.value);" rendered="#{request.isUserInRole('Admin')}"><f:selectItem itemLabel="Move to...." itemValue=""/><f:selectItems var="item" value="#{cmsUtil.pageRegions}" itemLabel="#{item.name}" itemValue="#{item.id}"/></h:selectOneMenu></div>
    <div class="urls-debug">
        <div>Assignment Scope: #{assignment.scope}</div>
        <c:if test="#{!assignment['inScope']}"><div>NOT IN SCOPE</div></c:if>
        <div class="allowed-url-header">Allowed Urls:</div>
        <c:if test="#{assignment.allowedUrls.size() > 0}">
            <c:forEach var="aUrl" items="#{assignment.allowedUrls}">
                <div class="allowed-url-debug"><h:outputText value="#{aUrl.url}"/></div>
            </c:forEach>
        </c:if>
        <c:if test="#{assignment.allowedUrls == null || assignment.allowedUrls.size() == 0}">
            <span class="allowed-url-debug">none</span>
        </c:if>
        <div class="denied-url-header">Denied Urls:</div>
        <c:if test="#{assignment.deniedUrls.size() > 0}">
            <c:forEach var="dUrl" items="#{assignment.deniedUrls}">
                <div class="denied-url-debug"><h:outputText value="#{dUrl.url}"/></div>
            </c:forEach>
        </c:if>
        <c:if test="#{assignment.deniedUrls == null || assignment.deniedUrls.size() == 0}">
            <span class="denied-url-debug">none</span>
        </c:if>
    </div>
    <div class="debug-screens">
        Screens: <c:if test="#{assignment['desktopOnly'] or !assignment['mobileOnly']}"><span class="icon-screen"></span></c:if>
        <c:if test="#{!assignment['desktopOnly'] or assignment['mobileOnly']}"><span class="icon-mobile"></span></c:if>
        <c:if test="#{!assignment['pageRendered']}"><span class="not-rendered-message">NOT RENDERED ON PAGE</span></c:if>
    </div>

</ui:composition>
