<?xml version="1.0" encoding="UTF-8"?>
<!--
  Created by IntelliJ IDEA.
  User: Jim May
  Date: 8/3/14
  Time: 11:46 PM
-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
      xmlns:composite="http://xmlns.jcp.org/jsf/composite"
      xmlns:iberis="http://xmlns.jcp.org/jsf/composite/uicomponents">

    <composite:interface>
        <composite:attribute name="pageItem" required="true"/>
        <composite:attribute name="instanceId" required="true"/>
    </composite:interface>

    <composite:implementation>

        <c:if test="#{cc.attrs.pageItem == 62}">
            <c:set var="contentItem" value="#{cmsUtil.getContent(cc.attrs.instanceId)}"/>
            <h:form onsubmit="return false;" styleClass="assignment-edit-menu" rendered="#{request.isUserInRole('Admin')}">
                <p:menuButton icon="icon-edit">
                    <p:menuitem url="/cms/content-management/form/#{cc.attrs.instanceId}" value="Full Edit Content"/>
                    <p:menuitem url="#" onclick="showContentQuickDialog(#{cc.attrs.instanceId});return false;" value="Quick Edit Content" rendered="#{content.customContentTemplate == null or content.customContentTemplate.trim() == ''}"/>
                </p:menuButton>
            </h:form>
            <c:if test="#{(contentItem.customContentTemplate == null || contentItem.customContentTemplate.trim() == '')}">
                <ui:include src="contentblockdynamiccontent.xhtml"/>
            </c:if>
            <c:if test="#{contentItem.customContentTemplate != null and contentItem.customContentTemplate.trim() != ''}">
                <ui:include src="/views/custom/content/#{contentItem.customContentTemplate}.xhtml"/>
            </c:if>
        </c:if>

        <c:if test="#{cc.attrs.pageItem == 61}">
            <h:form onsubmit="return false;" styleClass="assignment-edit-menu" rendered="#{request.isUserInRole('Admin')}">
                <p:menuButton icon="icon-edit">
                    <p:menuitem url="/cms/presentation-slide-management/#{cc.attrs.instanceId}" value="Full Edit Presentation"/>
                    <p:menuitem url="#" onclick="showPresentationQuickDialog(#{cc.attrs.instanceId});return false;" value="Quick Edit Presentation"/>
                </p:menuButton>
            </h:form>
            <iberis:presentation assignmentId="#{cc.namingContainer.clientId.replace(':','')}" presentation="#{cmsUtil.getPresentation(cc.attrs.instanceId)}"/>
        </c:if>

        <c:if test="#{cc.attrs.pageItem == 65}">
            <h:form onsubmit="return false;" styleClass="assignment-edit-menu" rendered="#{request.isUserInRole('Admin')}">
                <p:menuButton icon="icon-edit">
                    <p:menuitem url="/cms/gallery-image-management/#{cc.attrs.instanceId}" value="Full Edit Gallery"/>
                    <p:menuitem url="#" onclick="showGalleryQuickDialog(#{cc.attrs.instanceId});return false;" value="Quick Edit Gallery"/>
                </p:menuButton>
            </h:form>
            <iberis:gallery assignmentId="#{cc.namingContainer.clientId.replace(':','')}" gallery="#{cmsUtil.getGallery(cc.attrs.instanceId)}"/>
        </c:if>

        <c:if test="#{cc.attrs.pageItem == 66}">
            <h:form onsubmit="return false;" styleClass="assignment-edit-menu" rendered="#{request.isUserInRole('Admin')}">
                <p:menuButton icon="icon-edit">
                    <p:menuitem url="/cms/menu-management/#{cc.attrs.instanceId}" value="Full Edit Menu"/>
                    <p:menuitem url="#" onclick="showMenuQuickDialog(#{cc.attrs.instanceId});return false;" value="Quick Edit Menu"/>
                </p:menuButton>
            </h:form>
            <iberis:menu assignmentId="#{cc.namingContainer.clientId.replace(':','')}" menu="#{cmsUtil.getMenu(cc.attrs.instanceId)}" zIndex="100"/>
        </c:if>

        <c:if test="#{cc.attrs.pageItem == 33}">
            <h:form onsubmit="return false;" styleClass="assignment-edit-menu" rendered="#{request.isUserInRole('Admin')}">
                <p:menuButton icon="icon-edit">
                    <p:menuitem url="#" onclick="showImageQuickDialog(#{cc.attrs.instanceId});return false;" value="Quick Edit Image"/>
                    <p:menuitem url="/cms/image-management/#{cc.attrs.instanceId}" value="Full Edit Image"/>
                </p:menuButton>
            </h:form>
            <iberis:image image="#{cmsUtil.getImage(cc.attrs.instanceId)}"/>
        </c:if>

        <c:if test="#{cc.attrs.pageItem == 75}">
            <h:form onsubmit="return false;" styleClass="assignment-edit-menu" rendered="#{request.isUserInRole('Admin')}">
                <p:menuButton icon="icon-edit">
                    <p:menuitem url="/cms/dynamic-form-management/form/#{cc.attrs.instanceId}" value="Edit Form"/>
                </p:menuButton>
            </h:form>
            <iberis:dynamicform dForm="#{cmsUtil.getDynamicForm(cc.attrs.instanceId)}" regionId="0"/>
        </c:if>

        <c:if test="#{cc.attrs.pageItem == 83}">
            <h:form onsubmit="return false;" styleClass="assignment-edit-menu" rendered="#{request.isUserInRole('Admin')}">
                <p:menuButton icon="icon-edit">
                    <p:menuitem url="/ecommerce/product-catalog-management/#{cc.attrs.instanceId}" value="Edit Catalog"/>
                </p:menuButton>
            </h:form>
            <iberis:productcatalog catalog="#{cmsUtil.getProductCatalog(cc.attrs.instanceId)}"/>
        </c:if>

        <c:if test="#{cc.attrs.pageItem == 89}">
            <h:form onsubmit="return false;" styleClass="assignment-edit-menu" rendered="#{request.isUserInRole('Admin')}">
                <p:menuButton icon="icon-edit">
                    <p:menuitem url="/cms/video-management/#{cc.attrs.instanceId}" value="Full Edit Video"/>
                    <p:menuitem url="#" onclick="showVideoQuickDialog(#{cc.attrs.instanceId});return false;" value="Quick Edit Video"/>
                </p:menuButton>
            </h:form>
            <iberis:videoplayer video="#{cmsUtil.getVideo(cc.attrs.instanceId)}"/>
        </c:if>
    </composite:implementation>
</html>