<?xml version="1.0" encoding="UTF-8"?>
<!--
  Created by IntelliJ IDEA.
  User: Jim May
  Date: 8/3/14
  Time: 11:46 PM
-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
      xmlns:composite="http://xmlns.jcp.org/jsf/composite"
      xmlns:iberis="http://xmlns.jcp.org/jsf/composite/uicomponents">

    <composite:interface>
        <composite:attribute name="content" required="true"/>
    </composite:interface>

    <composite:implementation>

        <!-- Headers -->
        <c:if test="#{cc.attrs.content['blocksSectionType'] == 0}">
            <c:forEach items="#{cc.attrs.content['contentBlockSections']}" var="section">
                <c:if test="#{section.showTitle}">
                    <h2>#{section.title}</h2>
                </c:if>

                <h:panelGroup layout="block" styleClass="ui-g">
                    <c:forEach items="#{section['contentBlocks']}" var="cBlock">
                        <div class="ui-g-#{cBlock.width} ui-sm-12 ui-g-nopad content-item" style="position: relative">
                            <iberis:contentblock pageItem="#{cBlock.pageItem}" instanceId="#{cBlock.pageItemInstanceId}"/>
                        </div>
                    </c:forEach>
                </h:panelGroup>

            </c:forEach>
        </c:if>

        <!-- Accordion -->
        <c:if test="#{cc.attrs.content['blocksSectionType'] == 3}">
            <p:accordionPanel>
                <c:forEach items="#{cc.attrs.content['contentBlockSections']}" var="section">
                    <p:tab title="#{section.title}">
                        <h:panelGroup layout="block" styleClass="ui-g">
                            <c:forEach items="#{section['contentBlocks']}" var="cBlock">
                                <div class="ui-g-#{cBlock.width} ui-sm-12 ui-g-nopad content-item" style="position: relative">
                                    <iberis:contentblock pageItem="#{cBlock.pageItem}" instanceId="#{cBlock.pageItemInstanceId}"/>
                                </div>
                            </c:forEach>
                        </h:panelGroup>
                    </p:tab>
                </c:forEach>
            </p:accordionPanel>
        </c:if>

        <!-- Tab View -->
        <c:if test="#{cc.attrs.content['blocksSectionType'] == 1}">
            <p:tabView scrollable="true">
                <c:forEach items="#{cc.attrs.content['contentBlockSections']}" var="section">
                    <p:tab title="#{section.title}">
                        <h:panelGroup layout="block" styleClass="ui-g">
                            <c:forEach items="#{section['contentBlocks']}" var="cBlock">
                                <div class="ui-g-#{cBlock.width} ui-sm-12 ui-g-nopad content-item" style="position: relative">
                                    <iberis:contentblock pageItem="#{cBlock.pageItem}" instanceId="#{cBlock.pageItemInstanceId}"/>
                                </div>
                            </c:forEach>
                        </h:panelGroup>
                    </p:tab>
                </c:forEach>
            </p:tabView>
        </c:if>

        <!-- Field Set -->
        <c:if test="#{cc.attrs.content['blocksSectionType'] == 2}">
            <c:forEach items="#{cc.attrs.content['contentBlockSections']}" var="section">
                <p:fieldset legend="#{section.title}" toggleable="true">
                    <h:panelGroup layout="block" styleClass="ui-g">
                        <c:forEach items="#{section['contentBlocks']}" var="cBlock">
                            <div class="ui-g-#{cBlock.width} ui-sm-12 ui-g-nopad content-item" style="position: relative">
                                <iberis:contentblock pageItem="#{cBlock.pageItem}" instanceId="#{cBlock.pageItemInstanceId}"/>
                            </div>
                        </c:forEach>
                    </h:panelGroup>
                </p:fieldset>
            </c:forEach>
        </c:if>

    </composite:implementation>
</html>