<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pe="http://primefaces.org/ui/extensions"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
                xmlns:iberis="http://xmlns.jcp.org/jsf/composite/uicomponents">

    <h:panelGroup layout="block" styleClass="dynamic-content-block #{textUtil.getWrapperClass(contentItem.title)}" id="content-block-#{contentItem.id}" rendered="#{contentItem != null}">
        <c:if test="#{contentItem.showBlockTitle and contentItem.showTitleAboveBanner}">
            <h:outputText value="&lt;#{contentItem.blockTitleSize}&gt;#{textUtil.getCleanHtml(contentItem.title)}&lt;/#{contentItem.blockTitleSize}&gt;" escape="false"/>
        </c:if>

        <h:panelGroup layout="block" rendered="#{contentItem.bannerGraphic != null}">
            <h:graphicImage styleClass="content-banner print-excluded" value="#{contentItem.bannerGraphic.filePath}"/>
        </h:panelGroup>

        <c:if test="#{contentItem.showBlockTitle and !contentItem.showTitleAboveBanner}">
            <h:outputText value="&lt;#{contentItem.blockTitleSize}&gt;#{textUtil.getCleanHtml(contentItem.title, contentItem['allowEditorStyles'])}&lt;/#{contentItem.blockTitleSize}&gt;" escape="false"/>
        </c:if>

        <h:panelGroup id="header-bodies" layout="block" style="margin-top: 15px" rendered="#{(contentItem.header != null and contentItem.header != '') or (contentItem.subHeader != null and contentItem.subHeader != '') }">

            <div class="ui-g">
                <h:outputText value="&lt;div class='ui-g-12 ui-g-nopad'&gt;" escape="false" rendered="#{contentItem.headerLayout == null || contentItem.headerLayout == '' || contentItem.headerLayout == 'stacked'}"/>
                <h:outputText value="&lt;div class='ui-g-6 ui-sm-12 ui-g-nopad content-item-left'&gt;" escape="false" rendered="#{contentItem.headerLayout == 'side by side'}"/>

                <h:outputText value="#{textUtil.getCleanHtml(contentItem.header, contentItem['allowEditorStyles'])}" escape="false"/>

                <h:outputText value="&lt;br/&gt;" escape="false" rendered="#{contentItem.headerLayout == 'stacked'}"/>
                <h:outputText value="&lt;/div&gt;&lt;div class='ui-g-6 ui-sm-12 ui-g-nopad'&gt;" escape="false" rendered="#{contentItem.headerLayout == 'side by side'}"/>

                <h:outputText value="#{textUtil.getCleanHtml(contentItem.subHeader, contentItem['allowEditorStyles'])}" escape="false" rendered="#{contentItem.headerLayout != null and contentItem.headerLayout != ''}"/>

                <h:outputText value="&lt;/div&gt;" escape="false" />
            </div>
        </h:panelGroup>

        <h:panelGroup id="content-bodies" layout="block" styleClass="content-bodies" style="#{((contentItem.header != null and contentItem.header != '') or (contentItem.subHeader != null and contentItem.subHeader != ''))? 'margin-top: 15px':''}">
            <div class="ui-g">
                <h:outputText value="&lt;div class='ui-g-12 ui-g-nopad'&gt;" escape="false" rendered="#{contentItem.contentLayout == null || contentItem.contentLayout == '' || contentItem.contentLayout == '2 stacked' || contentItem.contentLayout == '3 stacked' || contentItem.contentLayout == '4 stacked' || contentItem.contentLayout == '2 stacked 2 even'}"/>
                <h:outputText value="&lt;div class='ui-g-6 ui-sm-12 ui-g-nopad content-item-left'&gt;" escape="false" rendered="#{contentItem.contentLayout == '4 even' || contentItem.contentLayout == '2 even 2 stacked' || contentItem.contentLayout == '2 even'}"/>

                <h:outputText value="#{textUtil.getCleanHtml(contentItem.body, contentItem['allowEditorStyles'])}" escape="false"/>

                <h:outputText value="&lt;br/&gt;" escape="false" rendered="#{contentItem.contentLayout == '2 stacked' || contentItem.contentLayout == '3 stacked' || contentItem.contentLayout == '4 stacked' || contentItem.contentLayout == '2 stacked 2 even'}"/>
                <h:outputText value="&lt;/div&gt;&lt;div class='ui-g-6 ui-sm-12 ui-g-nopad'&gt;" escape="false" rendered="#{contentItem.contentLayout == '4 even' || contentItem.contentLayout == '2 even 2 stacked' || contentItem.contentLayout == '2 even'}"/>

                <h:outputText value="#{textUtil.getCleanHtml(contentItem.body2, contentItem['allowEditorStyles'])}" escape="false" rendered="#{contentItem.contentLayout != null and contentItem.contentLayout != ''}"/>

                <h:outputText value="&lt;/div&gt;" escape="false"/>
            </div>
        </h:panelGroup>

        <h:panelGroup id="content-bodies-2" layout="block" styleClass="content-bodies-2" style="margin-top: 15px" rendered="#{contentItem.contentLayout == '3 stacked' || contentItem.contentLayout == '4 stacked' || contentItem.contentLayout == '2 even 2 stacked' || contentItem.contentLayout == '4 even' || contentItem.contentLayout == '2 stacked 2 even'}">
            <div class="ui-g">
                <h:outputText value="&lt;div class='ui-g-6 ui-sm-12 ui-g-nopad content-item-left'&gt;" escape="false" rendered="#{contentItem.contentLayout == '4 even' || contentItem.contentLayout == '2 stacked 2 even'}"/>
                <h:outputText value="&lt;div class='ui-g-12 ui-g-nopad'&gt;" escape="false" rendered="#{contentItem.contentLayout == '3 stacked' || contentItem.contentLayout == '4 stacked' || contentItem.contentLayout == '2 even 2 stacked'}"/>

                <h:outputText value="#{textUtil.getCleanHtml(contentItem.body3, contentItem['allowEditorStyles'])}" escape="false"/>

                <h:outputText value="&lt;/div&gt;&lt;div class='ui-g-6 ui-sm-12 ui-g-nopad'&gt;" escape="false" rendered="#{contentItem.contentLayout == '4 even' || contentItem.contentLayout == '2 stacked 2 even'}"/>
                <h:outputText value="&lt;br/&gt;" escape="false" rendered="#{contentItem.contentLayout == '3 stacked' || contentItem.contentLayout == '4 stacked' || contentItem.contentLayout == '2 even 2 stacked'}"/>

                <h:outputText value="#{textUtil.getCleanHtml(contentItem.body4, contentItem['allowEditorStyles'])}" escape="false" rendered="#{contentItem.contentLayout == '4 even' || contentItem.contentLayout == '2 stacked 2 even'  || contentItem.contentLayout == '4 stacked'  || contentItem.contentLayout == '2 even 2 stacked'}"/>

                <h:outputText value="&lt;/div&gt;" escape="false"/>
            </div>
        </h:panelGroup>

        <h:panelGroup id="presentation-section" layout="block" style="margin-top: 15px;position: relative" rendered="#{contentItem.presentation != null}">
            <h:form onsubmit="return false;" styleClass="assignment-edit-menu" rendered="#{request.isUserInRole('Admin')}">
                <p:menuButton icon="icon-edit">
                    <p:menuitem url="/cms/presentation-slide-management/#{contentItem.presentation.id}" value="Full Edit Presentation"/>
                    <p:menuitem url="#" onclick="showPresentationQuickDialog(#{contentItem.presentation.id});return false;" value="Quick Edit Presentation"/>
                </p:menuButton>
            </h:form>
            <iberis:presentation assignmentId="#{cc.attrs.assignmentId}" id="presentation-#{contentItem.id}-#{contentItem.presentation.id}" presentation="#{contentItem.presentation}"/>
        </h:panelGroup>

        <h:panelGroup id="gallery-section" layout="block" style="margin-top: 15px;position: relative" rendered="#{contentItem.gallery != null}">
            <h:form onsubmit="return false;" styleClass="assignment-edit-menu" rendered="#{request.isUserInRole('Admin')}">
                <p:menuButton icon="icon-edit">
                    <p:menuitem url="/cms/gallery-image-management/#{contentItem.gallery.id}" value="Full Edit Gallery"/>
                    <p:menuitem url="#" onclick="showGalleryQuickDialog(#{contentItem.gallery.id});return false;" value="Quick Edit Gallery"/>
                </p:menuButton>
            </h:form>
            <iberis:gallery assignmentId="#{cc.attrs.assignmentId}" id="gallery-#{contentItem.id}-#{contentItem.gallery.id}" gallery="#{contentItem.gallery}"/>
        </h:panelGroup>

        <c:if test="#{contentItem.type == 'unit_grid'}">
            <h:panelGroup id="unit-grid-section" layout="block" style="margin-top: 15px" rendered="#{contentItem.type == 'unit_grid'}">
                <ui:include src="/views/dynamic/ContentUnitGrid.xhtml" />
            </h:panelGroup>
        </c:if>

        <h:panelGroup rendered="#{contentItem.showFilesDownload and contentItem.contentFiles != null and contentItem.contentFiles.size() > 0}">
            <h3 class="content-files-header"><h:outputText value="#{(contentItem.filesHeaderText != null and contentItem.filesHeaderText.trim() != '')?contentItem.filesHeaderText:'Files'}"/></h3>
            <p:dataGrid var="item" columns="1" value="#{contentItem.contentFiles}" rendered="#{contentItem.contentFiles != null and contentItem.contentFiles.size() > 0}">
                <h:outputLink value="#{request.contextPath}#{item.file.filePath}" target="_blank">#{item.file.displayName}</h:outputLink>
            </p:dataGrid>
        </h:panelGroup>

        <h:panelGroup id="footer-bodies" layout="block" style="margin-top: 15px" rendered="#{(contentItem.footer != null and contentItem.footer != '') or (contentItem.subFooter != null and contentItem.subFooter != '') }">
            <div class="ui-g">
                <h:outputText value="&lt;div class='ui-g-12 ui-g-nopad'&gt;" escape="false" rendered="#{contentItem.footerLayout == null || contentItem.footerLayout == '' || contentItem.footerLayout == 'stacked'}"/>
                <h:outputText value="&lt;div class='ui-g-6 ui-sm-12 ui-g-nopad content-item-left'&gt;" escape="false" rendered="#{contentItem.footerLayout == 'side by side'}"/>

                <h:outputText value="#{textUtil.getCleanHtml(contentItem.footer, contentItem['allowEditorStyles'])}" escape="false"/>

                <h:outputText value="&lt;br/&gt;" escape="false" rendered="#{contentItem.footerLayout == 'stacked'}"/>
                <h:outputText value="&lt;/div&gt;&lt;div class='ui-g-6 ui-sm-12 ui-g-nopad'&gt;" escape="false"  rendered="#{contentItem.footerLayout == 'side by side'}"/>

                <h:outputText value="#{textUtil.getCleanHtml(contentItem.subFooter, contentItem['allowEditorStyles'])}" escape="false" rendered="#{contentItem.footerLayout != null and contentItem.footerLayout != ''}"/>

                <h:outputText value="&lt;/div&gt;" escape="false"/>
            </div>

        </h:panelGroup>
    </h:panelGroup>
    
</ui:composition>
