<?xml version="1.0" encoding="UTF-8"?>
<!--
  Created by IntelliJ IDEA.
  User: Jim May
  Date: 8/3/14
  Time: 11:46 PM
-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:composite="http://xmlns.jcp.org/jsf/composite"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
      xmlns:iberis="http://xmlns.jcp.org/jsf/composite/uicomponents">

    <composite:interface>
        <composite:attribute name="dForm" required="true"/>
        <composite:attribute name="regionId" required="true"/>
    </composite:interface>

    <composite:implementation>
        <h:form>
            <ui:include src="../../views/CsrfTokenInsert.xhtml"/>
            <h:panelGroup layout="block" id="dynamic-form-block-#{cc.attrs.regionId}-#{cc.attrs.dForm['id']}">
                <h:panelGroup rendered="#{!cc.attrs.dForm['submitted']}">
                    <c:if test="#{cc.attrs.dForm['showTitle']}">
                        <h1><h:outputText value="&lt;#{cc.attrs.dForm['titleSize']}&gt;#{textUtil.getCleanHtml(cc.attrs.dForm['title'])}&lt;/#{cc.attrs.dForm['titleSize']}&gt;" escape="false"/></h1>
                    </c:if>

                    <h:outputText rendered="#{cc.attrs.dForm['header'] != null and cc.attrs.dForm['header'] != ''}" value="#{textUtil.getCleanHtml(cc.attrs.dForm['header'])}" escape="false"/>

                    <!-- Headers -->
                    <c:if test="#{cc.attrs.dForm['sectionsType'] == 0}">
                        <c:forEach items="#{cc.attrs.dForm['formSections']}" var="section">
                            <c:if test="#{section.showTitle}">
                                <h2>#{section.title}</h2>
                            </c:if>
                            <iberis:dynamicformsection section="#{section}" sectionType="#{cc.attrs.dForm['sectionsType']}"/>
                        </c:forEach>
                    </c:if>

                    <!-- Accordion -->
                    <c:if test="#{cc.attrs.dForm['sectionsType'] == 3}">
                        <p:accordionPanel>
                            <c:forEach items="#{cc.attrs.dForm['formSections']}" var="section">
                                <p:tab title="#{section.title}">
                                    <iberis:dynamicformsection section="#{section}" sectionType="#{cc.attrs.dForm['sectionsType']}"/>
                                </p:tab>
                            </c:forEach>
                        </p:accordionPanel>
                    </c:if>

                    <!-- Tab View -->
                    <c:if test="#{cc.attrs.dForm['sectionsType'] == 1}">
                        <p:tabView scrollable="true">
                            <c:forEach items="#{cc.attrs.dForm['formSections']}" var="section">
                                <p:tab title="#{section.title}">
                                    <iberis:dynamicformsection section="#{section}" sectionType="#{cc.attrs.dForm['sectionsType']}"/>
                                </p:tab>
                            </c:forEach>
                        </p:tabView>
                    </c:if>

                    <!-- Field Set -->
                    <c:if test="#{cc.attrs.dForm['sectionsType'] == 2}">
                        <c:forEach items="#{cc.attrs.dForm['formSections']}" var="section">
                            <p:fieldset legend="#{section.title}" toggleable="true">
                                <iberis:dynamicformsection section="#{section}" sectionType="#{cc.attrs.dForm['sectionsType']}"/>
                            </p:fieldset>
                        </c:forEach>
                    </c:if>

                    <c:if test="#{cc.attrs.dForm['useCaptcha']}">
                        <p:captcha label="Captcha"/>
                    </c:if>

                    <h:outputText rendered="#{cc.attrs.dForm['footer'] != null and cc.attrs.dForm['footer'] != ''}" value="#{textUtil.getCleanHtml(cc.attrs.dForm['footer'])}" escape="false"/>

                    <p:commandButton styleClass="#{cc.attrs.dForm['buttonCssClasses']}" id="form-submit-btn-#{cc.attrs.regionId}-#{cc.attrs.dForm['id']}" update="msg-#{cc.attrs.regionId}-#{cc.attrs.dForm['id']}" oncomplete="if (args &amp;&amp; !args.validationFailed) {submitDynamicForm('dynamic-form-block-' + #{cc.attrs.regionId} + '-' + #{cc.attrs.dForm['id']}, #{cc.attrs.dForm['id']});} else {highlightErrorFields('dynamic-form-block-' + #{cc.attrs.regionId} + '-' + #{cc.attrs.dForm['id']});}" value="#{cc.attrs.dForm['submitButtonText']}"/>
                </h:panelGroup>
            </h:panelGroup>
            <p:blockUI block="dynamic-form-block-#{cc.attrs.regionId}-#{cc.attrs.dForm['id']}" trigger="form-submit-btn-#{cc.attrs.regionId}-#{cc.attrs.dForm['id']}" />
            <div id="dynamic-form-block-#{cc.attrs.regionId}-#{cc.attrs.dForm['id']}-confirmation" class="ui-messages-info ui-corner-all" style="display: none">
                <h:outputText value="#{cc.attrs.dForm.confirmation}" escape="false"/>
            </div>
            <div id="dynamic-form-block-#{cc.attrs.regionId}-#{cc.attrs.dForm['id']}-error" class="ui-messages-error ui-corner-all" style="display: none">
                The form could not be submitted.
            </div>
            <p:messages id="msg-#{cc.attrs.regionId}-#{cc.attrs.dForm['id']}" escape="false" autoUpdate="false"/>
        </h:form>

    </composite:implementation>
</html>