<?xml version="1.0" encoding="UTF-8"?>
<!--
  Created by IntelliJ IDEA.
  User: Jim May
  Date: 8/3/14
  Time: 11:46 PM
-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:composite="http://xmlns.jcp.org/jsf/composite"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
      xmlns:iberis="http://xmlns.jcp.org/jsf/composite/uicomponents">

    <composite:interface>
        <composite:attribute name="content" required="true"/>
        <composite:attribute name="assignmentId" required="false" default="0"/>
    </composite:interface>

    <composite:implementation>
        <h:panelGroup layout="block" styleClass="dynamic-content-block #{textUtil.getWrapperClass(cc.attrs.content.title)}" id="content-block-#{cc.attrs.content.id}" rendered="#{cc.attrs.content != null}">
            <c:if test="#{cc.attrs.content.showBlockTitle and cc.attrs.content.showTitleAboveBanner}">
                <h:outputText value="&lt;#{cc.attrs.content.blockTitleSize}&gt;#{textUtil.getCleanHtml(cc.attrs.content.title, cc.attrs.content['allowEditorStyles'])}&lt;/#{cc.attrs.content.blockTitleSize}&gt;" escape="false"/>
            </c:if>

            <h:panelGroup layout="block" rendered="#{cc.attrs.content.bannerGraphic != null}">
                <h:graphicImage styleClass="content-banner print-excluded" value="#{cc.attrs.content.bannerGraphic.filePath}"/>
            </h:panelGroup>

            <c:if test="#{cc.attrs.content.showBlockTitle and !cc.attrs.content.showTitleAboveBanner}">
                <h:outputText value="&lt;#{cc.attrs.content.blockTitleSize}&gt;#{textUtil.getCleanHtml(cc.attrs.content.title, cc.attrs.content['allowEditorStyles'])}&lt;/#{cc.attrs.content.blockTitleSize}&gt;" escape="false"/>
            </c:if>

            <h:panelGroup id="header-bodies" layout="block" style="margin-top: 15px" rendered="#{(cc.attrs.content.header != null and cc.attrs.content.header != '') or (cc.attrs.content.subHeader != null and cc.attrs.content.subHeader != '') }">

                <div class="ui-g">
                    <h:outputText value="&lt;div class='ui-g-12 ui-g-nopad'&gt;" escape="false" rendered="#{cc.attrs.content.headerLayout == null || cc.attrs.content.headerLayout == '' || cc.attrs.content.headerLayout == 'stacked'}"/>
                    <h:outputText value="&lt;div class='ui-g-6 ui-sm-12 ui-g-nopad content-item-left'&gt;" escape="false" rendered="#{cc.attrs.content.headerLayout == 'side by side'}"/>

                    <h:outputText value="#{textUtil.getCleanHtml(cc.attrs.content.header, cc.attrs.content['allowEditorStyles'])}" escape="false"/>

                    <h:outputText value="&lt;br/&gt;" escape="false" rendered="#{cc.attrs.content.headerLayout == 'stacked'}"/>
                    <h:outputText value="&lt;/div&gt;&lt;div class='ui-g-6 ui-sm-12 ui-g-nopad content-item-right'&gt;" escape="false" rendered="#{cc.attrs.content.headerLayout == 'side by side'}"/>

                    <h:outputText value="#{textUtil.getCleanHtml(cc.attrs.content.subHeader, cc.attrs.content['allowEditorStyles'])}" escape="false" rendered="#{cc.attrs.content.headerLayout != null and cc.attrs.content.headerLayout != ''}"/>

                    <h:outputText value="&lt;/div&gt;" escape="false" />
                </div>
            </h:panelGroup>

            <h:panelGroup id="content-bodies" layout="block" styleClass="content-bodies" style="#{((cc.attrs.content.header != null and cc.attrs.content.header != '') or (cc.attrs.content.subHeader != null and cc.attrs.content.subHeader != ''))? 'margin-top: 15px':''}">
                <div class="ui-g">
                    <h:outputText value="&lt;div class='ui-g-12 ui-g-nopad'&gt;" escape="false" rendered="#{cc.attrs.content.contentLayout == null || cc.attrs.content.contentLayout == '' || cc.attrs.content.contentLayout == '2 stacked' || cc.attrs.content.contentLayout == '3 stacked' || cc.attrs.content.contentLayout == '4 stacked' || cc.attrs.content.contentLayout == '2 stacked 2 even'}"/>
                    <h:outputText value="&lt;div class='ui-g-6 ui-sm-12 ui-g-nopad content-item-left'&gt;" escape="false" rendered="#{cc.attrs.content.contentLayout == '4 even' || cc.attrs.content.contentLayout == '2 even 2 stacked' || cc.attrs.content.contentLayout == '2 even'}"/>

                    <h:outputText value="#{textUtil.getCleanHtml(cc.attrs.content.body, cc.attrs.content['allowEditorStyles'])}" escape="false"/>

                    <h:outputText value="&lt;br/&gt;" escape="false" rendered="#{cc.attrs.content.contentLayout == '2 stacked' || cc.attrs.content.contentLayout == '3 stacked' || cc.attrs.content.contentLayout == '4 stacked' || cc.attrs.content.contentLayout == '2 stacked 2 even'}"/>
                    <h:outputText value="&lt;/div&gt;&lt;div class='ui-g-6 ui-sm-12 ui-g-nopad content-item-right'&gt;" escape="false" rendered="#{cc.attrs.content.contentLayout == '4 even' || cc.attrs.content.contentLayout == '2 even 2 stacked' || cc.attrs.content.contentLayout == '2 even'}"/>

                    <h:outputText value="#{textUtil.getCleanHtml(cc.attrs.content.body2, cc.attrs.content['allowEditorStyles'])}" escape="false" rendered="#{cc.attrs.content.contentLayout != null and cc.attrs.content.contentLayout != ''}"/>

                    <h:outputText value="&lt;/div&gt;" escape="false"/>
                </div>
            </h:panelGroup>

            <h:panelGroup id="content-bodies-2" layout="block" styleClass="content-bodies-2" style="margin-top: 15px" rendered="#{cc.attrs.content.contentLayout == '3 stacked' || cc.attrs.content.contentLayout == '4 stacked' || cc.attrs.content.contentLayout == '2 even 2 stacked' || cc.attrs.content.contentLayout == '4 even' || cc.attrs.content.contentLayout == '2 stacked 2 even'}">
                <div class="ui-g">
                    <h:outputText value="&lt;div class='ui-g-6 ui-sm-12 ui-g-nopad content-item-left'&gt;" escape="false" rendered="#{cc.attrs.content.contentLayout == '4 even' || cc.attrs.content.contentLayout == '2 stacked 2 even'}"/>
                    <h:outputText value="&lt;div class='ui-g-12 ui-g-nopad'&gt;" escape="false" rendered="#{cc.attrs.content.contentLayout == '3 stacked' || cc.attrs.content.contentLayout == '4 stacked' || cc.attrs.content.contentLayout == '2 even 2 stacked'}"/>

                    <h:outputText value="#{textUtil.getCleanHtml(cc.attrs.content.body3, cc.attrs.content['allowEditorStyles'])}" escape="false"/>

                    <h:outputText value="&lt;/div&gt;&lt;div class='ui-g-6 ui-sm-12 ui-g-nopad content-item-right'&gt;" escape="false" rendered="#{cc.attrs.content.contentLayout == '4 even' || cc.attrs.content.contentLayout == '2 stacked 2 even'}"/>
                    <h:outputText value="&lt;br/&gt;" escape="false" rendered="#{cc.attrs.content.contentLayout == '3 stacked' || cc.attrs.content.contentLayout == '4 stacked' || cc.attrs.content.contentLayout == '2 even 2 stacked'}"/>

                    <h:outputText value="#{textUtil.getCleanHtml(cc.attrs.content.body4, cc.attrs.content['allowEditorStyles'])}" escape="false" rendered="#{cc.attrs.content.contentLayout == '4 even' || cc.attrs.content.contentLayout == '2 stacked 2 even'  || cc.attrs.content.contentLayout == '4 stacked'  || cc.attrs.content.contentLayout == '2 even 2 stacked'}"/>

                    <h:outputText value="&lt;/div&gt;" escape="false"/>
                </div>
            </h:panelGroup>

            <h:panelGroup id="presentation-section" layout="block" style="margin-top: 15px;position: relative" rendered="#{cc.attrs.content.presentation != null}">
                <h:form onsubmit="return false;" styleClass="assignment-edit-menu" rendered="#{request.isUserInRole('Admin')}">
                    <p:menuButton icon="icon-edit">
                        <p:menuitem url="/cms/presentation-slide-management/#{cc.attrs.content.presentation.id}" value="Full Edit Presentation"/>
                        <p:menuitem url="#" onclick="showPresentationQuickDialog(#{cc.attrs.content.presentation.id});return false;" value="Quick Edit Presentation"/>
                    </p:menuButton>
                </h:form>
                <iberis:presentation assignmentId="#{cc.attrs.assignmentId}" id="presentation-#{cc.attrs.content.id}-#{cc.attrs.content.presentation.id}" presentation="#{cc.attrs.content.presentation}"/>
            </h:panelGroup>

            <h:panelGroup id="gallery-section" layout="block" style="margin-top: 15px;position: relative" rendered="#{cc.attrs.content.gallery != null}">
                <h:form onsubmit="return false;" styleClass="assignment-edit-menu" rendered="#{request.isUserInRole('Admin')}">
                    <p:menuButton icon="icon-edit">
                        <p:menuitem url="/cms/gallery-image-management/#{cc.attrs.content.gallery.id}" value="Full Edit Gallery"/>
                        <p:menuitem url="#" onclick="showGalleryQuickDialog(#{cc.attrs.content.gallery.id});return false;" value="Quick Edit Gallery"/>
                    </p:menuButton>
                </h:form>
                <iberis:gallery assignmentId="#{cc.attrs.assignmentId}" id="gallery-#{cc.attrs.content.id}-#{cc.attrs.content.gallery.id}" gallery="#{cc.attrs.content.gallery}"/>
            </h:panelGroup>

            <c:if test="#{cc.attrs.content.type == 'unit_grid'}">
                <h:panelGroup id="unit-grid-section" layout="block" style="margin-top: 15px" rendered="#{cc.attrs.content.type == 'unit_grid'}">
                    <ui:include src="/views/dynamic/ContentUnitGrid.xhtml" />
                </h:panelGroup>
            </c:if>

            <c:if test="#{cc.attrs.content.contentBlockSections != null and cc.attrs.content.contentBlockSections.size() > 0}">
                <iberis:contentblocks content="#{cc.attrs.content}" />
            </c:if>

            <h:panelGroup rendered="#{cc.attrs.content.showFilesDownload and cc.attrs.content.contentFiles != null and cc.attrs.content.contentFiles.size() > 0}">
                <h3 class="content-files-header"><h:outputText value="#{(cc.attrs.content.filesHeaderText != null and cc.attrs.content.filesHeaderText.trim() != '')?cc.attrs.content.filesHeaderText:'Files'}"/></h3>
                <p:dataGrid var="item" columns="1" value="#{cc.attrs.content.contentFiles}" rendered="#{cc.attrs.content.contentFiles != null and cc.attrs.content.contentFiles.size() > 0}">
                    <h:outputLink value="#{request.contextPath}#{item.file.filePath}" target="_blank">#{item.file.displayName}</h:outputLink>
                </p:dataGrid>
            </h:panelGroup>

            <h:panelGroup id="footer-bodies" layout="block" style="margin-top: 15px" rendered="#{(cc.attrs.content.footer != null and cc.attrs.content.footer != '') or (cc.attrs.content.subFooter != null and cc.attrs.content.subFooter != '') }">
                <div class="ui-g">
                    <h:outputText value="&lt;div class='ui-g-12 ui-g-nopad'&gt;" escape="false" rendered="#{cc.attrs.content.footerLayout == null || cc.attrs.content.footerLayout == '' || cc.attrs.content.footerLayout == 'stacked'}"/>
                    <h:outputText value="&lt;div class='ui-g-6 ui-sm-12 ui-g-nopad content-item-left'&gt;" escape="false" rendered="#{cc.attrs.content.footerLayout == 'side by side'}"/>

                    <h:outputText value="#{textUtil.getCleanHtml(cc.attrs.content.footer, cc.attrs.content['allowEditorStyles'])}" escape="false"/>

                    <h:outputText value="&lt;br/&gt;" escape="false" rendered="#{cc.attrs.content.footerLayout == 'stacked'}"/>
                    <h:outputText value="&lt;/div&gt;&lt;div class='ui-g-6 ui-sm-12 ui-g-nopad content-item-right'&gt;" escape="false"  rendered="#{cc.attrs.content.footerLayout == 'side by side'}"/>

                    <h:outputText value="#{textUtil.getCleanHtml(cc.attrs.content.subFooter, cc.attrs.content['allowEditorStyles'])}" escape="false" rendered="#{cc.attrs.content.footerLayout != null and cc.attrs.content.footerLayout != ''}"/>

                    <h:outputText value="&lt;/div&gt;" escape="false"/>
                </div>

            </h:panelGroup>
        </h:panelGroup>

    </composite:implementation>
</html>
