<?xml version="1.0" encoding="UTF-8"?>
<!--
  Created by IntelliJ IDEA.
  User: Jim May
  Date: 8/3/14
  Time: 11:46 PM
-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:composite="http://xmlns.jcp.org/jsf/composite"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
      xmlns:iberis="http://xmlns.jcp.org/jsf/composite/uicomponents">

    <composite:interface>
        <composite:attribute name="regionId" required="true"/>
    </composite:interface>

    <composite:implementation>

        <c:forEach items="#{cmsUtil.regionPageAssignments[cc.attrs.regionId]}" var="assignment" varStatus="status">

            <c:if test="#{assignment['pageItem'] == 62}">
                <h:panelGroup id="assignment-#{assignment.id}" layout="block" style="position: relative" styleClass="assignment-block #{assignment['mobileOnly']?'mobile-only':''} #{assignment['desktopOnly']?'desktop-only':''}">
                    <c:set var="content" value="#{cmsUtil.getContent(assignment['pageItemInstanceId'])}"/>
                    <c:if test="#{assignment['useWrapper']}">
                        <h:outputText escape="false" value="#{assignment['beginWrapperHtml']}"/>
                    </c:if>
                    <c:if test="#{content.customContentTemplate == null || content.customContentTemplate.trim() == ''}">
                        <iberis:dynamiccontent assignmentId="#{assignment.id}" content="#{content}"/>
                    </c:if>
                    <c:if test="#{content.customContentTemplate != null and content.customContentTemplate.trim() != ''}">
                        <ui:include src="/views/custom/content/#{content.customContentTemplate}.xhtml"/>
                    </c:if>
                    <c:if test="#{assignment['useWrapper']}">
                        <h:outputText escape="false" value="#{assignment['endWrapperHtml']}"/>
                    </c:if>
                    <h:form onsubmit="return false;" styleClass="assignment-edit-menu" rendered="#{request.isUserInRole('Admin')}">
                        <p:menuButton icon="icon-edit">
                            <p:menuitem url="/cms/content-management/form/#{assignment['pageItemInstanceId']}" value="Full Edit Content"/>
                            <p:menuitem url="#" onclick="showContentQuickDialog(#{assignment['pageItemInstanceId']});return false;" value="Quick Edit Content" rendered="#{content.customContentTemplate == null or content.customContentTemplate.trim() == ''}"/>
                            <p:menuitem url="#" onclick="$('#quick-pia-iframe').attr('src', '/cms/quick-page-item-assignment/#{assignment.id}');PF('quick-pia-dialog').show();return false;" value="Edit Assignment"/>
                        </p:menuButton>
                    </h:form>
                </h:panelGroup>
                <p:contextMenu for="assignment-#{assignment.id}" rendered="#{request.isUserInRole('Admin')}">
                    <p:menuitem url="/cms/content-management/form/#{assignment['pageItemInstanceId']}" value="Full Edit Content"/>
                    <p:menuitem url="#" onclick="showContentQuickDialog(#{assignment['pageItemInstanceId']});return false;" value="Quick Edit Content" rendered="#{content.customContentTemplate == null or content.customContentTemplate.trim() == ''}"/>
                    <p:menuitem url="#" onclick="$('#quick-pia-iframe').attr('src', '/cms/quick-page-item-assignment/#{assignment.id}');PF('quick-pia-dialog').show();return false;" value="Edit Assignment"/>
                </p:contextMenu>
            </c:if>

            <c:if test="#{assignment['pageItem'] == 61}">
                <h:panelGroup id="assignment-#{assignment.id}" layout="block" style="position: relative" styleClass="assignment-block #{assignment['mobileOnly']?'mobile-only':''} #{assignment['desktopOnly']?'desktop-only':''}">
                    <c:if test="#{assignment['useWrapper']}">
                        <h:outputText escape="false" value="#{assignment['beginWrapperHtml']}"/>
                    </c:if>
                    <iberis:presentation assignmentId="#{assignment.id}" presentation="#{cmsUtil.getPresentation(assignment['pageItemInstanceId'])}"/>
                    <c:if test="#{assignment['useWrapper']}">
                        <h:outputText escape="false" value="#{assignment['endWrapperHtml']}"/>
                    </c:if>
                    <h:form onsubmit="return false;" styleClass="assignment-edit-menu" rendered="#{request.isUserInRole('Admin')}">
                        <p:menuButton icon="icon-edit">
                            <p:menuitem url="/cms/presentation-slide-management/#{assignment['pageItemInstanceId']}" value="Full Edit Presentation"/>
                            <p:menuitem url="#" onclick="showPresentationQuickDialog(#{assignment['pageItemInstanceId']});return false;" value="Quick Edit Presentation"/>
                            <p:menuitem url="#" onclick="$('#quick-pia-iframe').attr('src', '/cms/quick-page-item-assignment/#{assignment.id}');PF('quick-pia-dialog').show();return false;" value="Edit Assignment"/>
                        </p:menuButton>
                    </h:form>
                </h:panelGroup>
                <p:contextMenu for="assignment-#{assignment.id}" rendered="#{request.isUserInRole('Admin')}">
                    <p:menuitem url="/cms/presentation-slide-management/#{assignment['pageItemInstanceId']}" value="Full Edit Presentation"/>
                    <p:menuitem url="#" onclick="showPresentationQuickDialog(#{assignment['pageItemInstanceId']});return false;" value="Quick Edit Presentation"/>
                    <p:menuitem url="#" onclick="$('#quick-pia-iframe').attr('src', '/cms/quick-page-item-assignment/#{assignment.id}');PF('quick-pia-dialog').show();return false;" value="Edit Assignment"/>
                </p:contextMenu>
            </c:if>

            <c:if test="#{assignment['pageItem'] == 65}">
                <h:panelGroup id="assignment-#{assignment.id}" layout="block" style="position: relative" styleClass="assignment-block #{assignment['mobileOnly']?'mobile-only':''} #{assignment['desktopOnly']?'desktop-only':''}">
                    <c:if test="#{assignment['useWrapper']}">
                        <h:outputText escape="false" value="#{assignment['beginWrapperHtml']}"/>
                    </c:if>
                    <iberis:gallery assignmentId="#{assignment.id}" gallery="#{cmsUtil.getGallery(assignment['pageItemInstanceId'])}"/>
                    <c:if test="#{assignment['useWrapper']}">
                        <h:outputText escape="false" value="#{assignment['endWrapperHtml']}"/>
                    </c:if>
                    <h:form onsubmit="return false;" styleClass="assignment-edit-menu" rendered="#{request.isUserInRole('Admin')}">
                        <p:menuButton icon="icon-edit">
                            <p:menuitem url="/cms/gallery-image-management/#{assignment['pageItemInstanceId']}" value="Full Edit Gallery"/>
                            <p:menuitem url="#" onclick="showGalleryQuickDialog(#{assignment['pageItemInstanceId']});return false;" value="Quick Edit Gallery"/>
                            <p:menuitem url="#" onclick="$('#quick-pia-iframe').attr('src', '/cms/quick-page-item-assignment/#{assignment.id}');PF('quick-pia-dialog').show();return false;" value="Edit Assignment"/>
                        </p:menuButton>
                    </h:form>
                </h:panelGroup>
                <p:contextMenu for="assignment-#{assignment.id}" rendered="#{request.isUserInRole('Admin')}">
                    <p:menuitem url="/cms/gallery-image-management/#{assignment['pageItemInstanceId']}" value="Full Edit Gallery"/>
                    <p:menuitem url="#" onclick="showGalleryQuickDialog(#{assignment['pageItemInstanceId']});return false;" value="Quick Edit Gallery"/>
                    <p:menuitem url="#" onclick="$('#quick-pia-iframe').attr('src', '/cms/quick-page-item-assignment/#{assignment.id}');PF('quick-pia-dialog').show();return false;" value="Edit Assignment"/>
                </p:contextMenu>
            </c:if>

            <c:if test="#{assignment['pageItem'] == 66}">
                <h:panelGroup id="assignment-#{assignment.id}" layout="block" style="position: relative" styleClass="assignment-block #{assignment['mobileOnly']?'mobile-only':''} #{assignment['desktopOnly']?'desktop-only':''}">
                    <c:if test="#{assignment['useWrapper']}">
                        <h:outputText escape="false" value="#{assignment['beginWrapperHtml']}"/>
                    </c:if>
                    <iberis:menu assignmentId="#{assignment.id}" menu="#{cmsUtil.getMenu(assignment['pageItemInstanceId'])}" zIndex="#{100 - status.index}" siteId="#{cmsSite.siteId}"/>
                    <c:if test="#{assignment['useWrapper']}">
                        <h:outputText escape="false" value="#{assignment['endWrapperHtml']}"/>
                    </c:if>
                    <h:form onsubmit="return false;" styleClass="assignment-edit-menu" rendered="#{request.isUserInRole('Admin')}">
                        <p:menuButton icon="icon-edit">
                            <p:menuitem url="/cms/menu-management/#{assignment['pageItemInstanceId']}" value="Full Edit Menu"/>
                            <p:menuitem url="#" onclick="showMenuQuickDialog(#{assignment['pageItemInstanceId']});return false;" value="Quick Edit Menu"/>
                            <p:menuitem url="#" onclick="$('#quick-pia-iframe').attr('src', '/cms/quick-page-item-assignment/#{assignment.id}');PF('quick-pia-dialog').show();return false;" value="Edit Assignment"/>
                        </p:menuButton>
                    </h:form>
                </h:panelGroup>
                <p:contextMenu for="assignment-#{assignment.id}" rendered="#{request.isUserInRole('Admin')}">
                    <p:menuitem url="/cms/menu-management/#{assignment['pageItemInstanceId']}" value="Full Edit Menu"/>
                    <p:menuitem url="#" onclick="showMenuQuickDialog(#{assignment['pageItemInstanceId']});return false;" value="Quick Edit Menu"/>
                    <p:menuitem url="#" onclick="$('#quick-pia-iframe').attr('src', '/cms/quick-page-item-assignment/#{assignment.id}');PF('quick-pia-dialog').show();return false;" value="Edit Assignment"/>
                </p:contextMenu>
            </c:if>

            <c:if test="#{assignment['pageItem'] == 33}">
                <h:panelGroup id="assignment-#{assignment.id}" layout="block" style="position: relative" styleClass="assignment-block #{assignment['mobileOnly']?'mobile-only':''} #{assignment['desktopOnly']?'desktop-only':''}">
                    <c:if test="#{assignment['useWrapper']}">
                        <h:outputText escape="false" value="#{assignment['beginWrapperHtml']}"/>
                    </c:if>
                    <iberis:image image="#{cmsUtil.getImage(assignment['pageItemInstanceId'])}"/>
                    <c:if test="#{assignment['useWrapper']}">
                        <h:outputText escape="false" value="#{assignment['endWrapperHtml']}"/>
                    </c:if>
                    <h:form onsubmit="return false;" styleClass="assignment-edit-menu" rendered="#{request.isUserInRole('Admin')}">
                        <p:menuButton icon="icon-edit">
                            <p:menuitem url="/cms/image-management/#{assignment['pageItemInstanceId']}" value="Full Edit Image"/>
                            <p:menuitem url="#" onclick="showImageQuickDialog(#{assignment['pageItemInstanceId']});return false;" value="Quick Edit Image"/>
                            <p:menuitem url="#" onclick="$('#quick-pia-iframe').attr('src', '/cms/quick-page-item-assignment/#{assignment.id}');PF('quick-pia-dialog').show();return false;" value="Edit Assignment"/>
                        </p:menuButton>
                    </h:form>
                </h:panelGroup>
                <p:contextMenu for="assignment-#{assignment.id}" rendered="#{request.isUserInRole('Admin')}">
                    <p:menuitem url="/cms/image-management/#{assignment['pageItemInstanceId']}" value="Full Edit Image"/>
                    <p:menuitem url="#" onclick="showImageQuickDialog(#{assignment['pageItemInstanceId']});return false;" value="Quick Edit Image"/>
                    <p:menuitem url="#" onclick="$('#quick-pia-iframe').attr('src', '/cms/quick-page-item-assignment/#{assignment.id}');PF('quick-pia-dialog').show();return false;" value="Edit Assignment"/>
                </p:contextMenu>
            </c:if>

            <c:if test="#{assignment['pageItem'] == 75}">
                <h:panelGroup id="assignment-#{assignment.id}" layout="block" style="position: relative" styleClass="assignment-block #{assignment['mobileOnly']?'mobile-only':''} #{assignment['desktopOnly']?'desktop-only':''}">
                    <c:set var="dynamicForm" value="#{cmsUtil.getDynamicForm(assignment['pageItemInstanceId'])}"/>
                    <c:if test="#{assignment['useWrapper']}">
                        <h:outputText escape="false" value="#{assignment['beginWrapperHtml']}"/>
                    </c:if>
                    <c:if test="#{dynamicForm.customContentTemplate == null || dynamicForm.customContentTemplate.trim() == ''}">
                        <iberis:dynamicform dForm="#{dynamicForm}" regionId="#{assignment['pageRegion'].id}"/>
                    </c:if>
                    <c:if test="#{dynamicForm.customContentTemplate != null and dynamicForm.customContentTemplate.trim() != ''}">
                        <ui:include src="/views/custom/forms/#{dynamicForm.customContentTemplate}.xhtml"/>
                    </c:if>
                    <c:if test="#{assignment['useWrapper']}">
                        <h:outputText escape="false" value="#{assignment['endWrapperHtml']}"/>
                    </c:if>
                    <h:form onsubmit="return false;" styleClass="assignment-edit-menu" rendered="#{request.isUserInRole('Admin')}">
                        <p:menuButton icon="icon-edit">
                            <p:menuitem url="/cms/dynamic-form-management/form/#{assignment['pageItemInstanceId']}" value="Edit Form"/>
                            <p:menuitem url="#" onclick="$('#quick-pia-iframe').attr('src', '/cms/quick-page-item-assignment/#{assignment.id}');PF('quick-pia-dialog').show();return false;" value="Edit Assignment"/>
                        </p:menuButton>
                    </h:form>
                </h:panelGroup>
                <p:contextMenu for="assignment-#{assignment.id}" rendered="#{request.isUserInRole('Admin')}">
                    <p:menuitem url="/cms/dynamic-form-management/form/#{assignment['pageItemInstanceId']}" value="Edit Form"/>
                    <p:menuitem url="#" onclick="$('#quick-pia-iframe').attr('src', '/cms/quick-page-item-assignment/#{assignment.id}');PF('quick-pia-dialog').show();return false;" value="Edit Assignment"/>
                </p:contextMenu>
            </c:if>

            <c:if test="#{assignment['pageItem'] == 83}">
                <h:panelGroup id="assignment-#{assignment.id}" layout="block" style="position: relative" styleClass="assignment-block #{assignment['mobileOnly']?'mobile-only':''} #{assignment['desktopOnly']?'desktop-only':''}">
                    <c:if test="#{assignment['useWrapper']}">
                        <h:outputText escape="false" value="#{assignment['beginWrapperHtml']}"/>
                    </c:if>
                    <iberis:productcatalog catalog="#{cmsUtil.getProductCatalog(assignment['pageItemInstanceId'])}"/>
                    <c:if test="#{assignment['useWrapper']}">
                        <h:outputText escape="false" value="#{assignment['endWrapperHtml']}"/>
                    </c:if>
                    <h:form onsubmit="return false;" styleClass="assignment-edit-menu" rendered="#{request.isUserInRole('Admin')}">
                        <p:menuButton icon="icon-edit">
                            <p:menuitem url="/ecommerce/product-catalog-management/#{assignment['pageItemInstanceId']}" value="Edit Catalog"/>
                            <p:menuitem url="#" onclick="$('#quick-pia-iframe').attr('src', '/cms/quick-page-item-assignment/#{assignment.id}');PF('quick-pia-dialog').show();return false;" value="Edit Assignment"/>
                        </p:menuButton>
                    </h:form>
                </h:panelGroup>
                <p:contextMenu for="assignment-#{assignment.id}" rendered="#{request.isUserInRole('Admin')}">
                    <p:menuitem url="/ecommerce/product-catalog-management/#{assignment['pageItemInstanceId']}" value="Edit Catalog"/>
                    <p:menuitem url="#" onclick="$('#quick-pia-iframe').attr('src', '/cms/quick-page-item-assignment/#{assignment.id}');PF('quick-pia-dialog').show();return false;" value="Edit Assignment"/>
                </p:contextMenu>
            </c:if>

            <c:if test="#{assignment['pageItem'] == 89}">
                <h:panelGroup id="assignment-#{assignment.id}" layout="block" style="position: relative" styleClass="assignment-block #{assignment['mobileOnly']?'mobile-only':''} #{assignment['desktopOnly']?'desktop-only':''}">
                    <c:if test="#{assignment['useWrapper']}">
                        <h:outputText escape="false" value="#{assignment['beginWrapperHtml']}"/>
                    </c:if>
                    <iberis:videoplayer video="#{cmsUtil.getVideo(assignment['pageItemInstanceId'])}"/>
                    <c:if test="#{assignment['useWrapper']}">
                        <h:outputText escape="false" value="#{assignment['endWrapperHtml']}"/>
                    </c:if>
                    <h:form onsubmit="return false;" styleClass="assignment-edit-menu" rendered="#{request.isUserInRole('Admin')}">
                        <p:menuButton icon="icon-edit">
                            <p:menuitem url="/cms/video-management/#{assignment['pageItemInstanceId']}" value="Full Edit Video"/>
                            <p:menuitem url="#" onclick="showVideoQuickDialog(#{assignment['pageItemInstanceId']});return false;" value="Quick Edit Video"/>
                            <p:menuitem url="#" onclick="$('#quick-pia-iframe').attr('src', '/cms/quick-page-item-assignment/#{assignment.id}');PF('quick-pia-dialog').show();return false;" value="Edit Assignment"/>
                        </p:menuButton>
                    </h:form>
                </h:panelGroup>
                <p:contextMenu for="assignment-#{assignment.id}" rendered="#{request.isUserInRole('Admin')}">
                    <p:menuitem url="/cms/video-management/#{assignment['pageItemInstanceId']}" value="Full Edit Video"/>
                    <p:menuitem url="#" onclick="showVideoQuickDialog(#{assignment['pageItemInstanceId']});return false;" value="Quick Edit Video"/>
                    <p:menuitem url="#" onclick="$('#quick-pia-iframe').attr('src', '/cms/quick-page-item-assignment/#{assignment.id}');PF('quick-pia-dialog').show();return false;" value="Edit Assignment"/>
                </p:contextMenu>
            </c:if>

            <c:if test="#{assignment['pageItem'] == 90}">
                <h:panelGroup id="assignment-#{assignment.id}" layout="block" style="position: relative" styleClass="assignment-block #{assignment['mobileOnly']?'mobile-only':''} #{assignment['desktopOnly']?'desktop-only':''}">
                    <c:if test="#{assignment['useWrapper']}">
                        <h:outputText escape="false" value="#{assignment['beginWrapperHtml']}"/>
                    </c:if>
                    <iberis:blog blog="#{cmsUtil.getBlog(assignment['pageItemInstanceId'])}"/>
                    <c:if test="#{assignment['useWrapper']}">
                        <h:outputText escape="false" value="#{assignment['endWrapperHtml']}"/>
                    </c:if>
                    <h:form onsubmit="return false;" styleClass="assignment-edit-menu" rendered="#{request.isUserInRole('Admin')}">
                        <p:menuButton icon="icon-edit">
                            <p:menuitem url="/cms/blog-management/#{assignment['pageItemInstanceId']}" value="Edit Blog"/>
                            <p:menuitem url="#" onclick="$('#quick-pia-iframe').attr('src', '/cms/quick-page-item-assignment/#{assignment.id}');PF('quick-pia-dialog').show();return false;" value="Edit Assignment"/>
                        </p:menuButton>
                    </h:form>
                </h:panelGroup>
                <p:contextMenu for="assignment-#{assignment.id}" rendered="#{request.isUserInRole('Admin')}">
                    <p:menuitem url="/cms/blog-management/#{assignment['pageItemInstanceId']}" value="Edit Blog"/>
                    <p:menuitem url="#" onclick="$('#quick-pia-iframe').attr('src', '/cms/quick-page-item-assignment/#{assignment.id}');PF('quick-pia-dialog').show();return false;" value="Edit Assignment"/>
                </p:contextMenu>
            </c:if>

            <c:if test="#{assignment['printable']}">
                <div style="display: flex;justify-content: flex-end">
                    <p:commandButton escape="false" value="&lt;span class='icon-printer2'&gt;&lt;/span&gt; Print" type="button" styleClass="printer-button">
                        <p:printer target="assignment-#{assignment.id}" />
                    </p:commandButton>
                </div>
            </c:if>

            <h:panelGroup rendered="#{!assignment['removeSpacer']}" layout="block" styleClass="assignment-spacer #{assignment['mobileOnly']?'mobile-only':''} #{assignment['desktopOnly']?'desktop-only':''}"/>

        </c:forEach>

    </composite:implementation>
</html>