<?xml version="1.0" encoding="UTF-8"?>
<!--
  Created by IntelliJ IDEA.
  User: Jim May
  Date: 8/3/14
  Time: 11:46 PM
-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:composite="http://xmlns.jcp.org/jsf/composite"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
      xmlns:iberis="http://xmlns.jcp.org/jsf/composite/uicomponents">

    <composite:interface>
        <composite:attribute name="regionId" required="true"/>
    </composite:interface>

    <composite:implementation>

        <div>
            <h4>[#{cmsUtil.getPageRegionTitle(cc.attrs.regionId)}]</h4>
            <div class="region-list" region="#{cc.attrs.regionId}">
                <c:forEach items="#{cmsUtil.regionPageAssignments[cc.attrs.regionId]}" var="assignment">
                    <c:if test="#{assignment['pageItem'] == 62}">
                        <c:set var="content" value="#{cmsUtil.getContent(assignment['pageItemInstanceId'])}"/>
                        <h:panelGroup id="assignment-#{assignment.id}" layout="block" styleClass="content-block #{!assignment['pageRendered']?'not-page-rendered':''} assignment-#{assignment.id}">
                            <div class="portlet-header"><span style="font-size: 1.4em" class="icon-article"></span><span class="portlet-header-type-title">Content (#{content.id})<c:if test="#{content.customContentTemplate != null and content.customContentTemplate.trim() != ''}"> - <h:outputText value="#{content.customContentTemplate}.xhtml"/></c:if></span><span class="portlet-handlebar icon-move"></span></div>
                            <ui:include src="assignmentdebuglinks.xhtml"/>
                            <div class="debug-item-title">#{content.title}</div>
                            <ui:include src="assignmentdebug.xhtml"/>
                        </h:panelGroup>
                        <p:contextMenu for="assignment-#{assignment.id}">
                            <p:menuitem url="/cms/content-management/form/#{content.id}" value="Edit Content"/>
                            <p:menuitem url="#" onclick="showContentQuickDialog(#{assignment['pageItemInstanceId']});return false;" value="Quick Edit Content"/>
                            <p:menuitem url="#" onclick="$('#quick-pia-iframe').attr('src', '/cms/quick-page-item-assignment/#{assignment.id}');PF('quick-pia-dialog').show();return false;" value="Edit Assignment"/>
                        </p:contextMenu>
                    </c:if>

                    <c:if test="#{assignment['pageItem'] == 61}">
                        <c:set var="presentation" value="#{cmsUtil.getPresentation(assignment['pageItemInstanceId'])}"/>
                        <h:panelGroup id="assignment-#{assignment.id}" layout="block" styleClass="presentation-block #{!assignment['pageRendered']?'not-page-rendered':''} assignment-#{assignment.id}">
                            <div class="portlet-header"><span style="font-size: 1.4em" class="icon-grid5"></span><span class="portlet-header-type-title">Presentation (#{presentation.id})</span><span class="portlet-handlebar icon-move"></span></div>
                            <ui:include src="assignmentdebuglinks.xhtml"/>
                            <div class="debug-item-title">#{presentation.name}</div>
                            <ui:include src="assignmentdebug.xhtml"/>
                        </h:panelGroup>
                        <p:contextMenu for="assignment-#{assignment.id}">
                            <p:menuitem url="/cms/presentation-slide-management/#{presentation.id}" value="Edit Presentation"/>
                            <p:menuitem url="#" onclick="showPresentationQuickDialog(#{assignment['pageItemInstanceId']});return false;" value="Quick Edit Presentation"/>
                            <p:menuitem url="#" onclick="$('#quick-pia-iframe').attr('src', '/cms/quick-page-item-assignment/#{assignment.id}');PF('quick-pia-dialog').show();return false;" value="Edit Assignment"/>
                        </p:contextMenu>
                    </c:if>

                    <c:if test="#{assignment['pageItem'] == 65}">
                        <c:set var="gallery" value="#{cmsUtil.getGallery(assignment['pageItemInstanceId'])}"/>
                        <h:panelGroup id="assignment-#{assignment.id}" layout="block" styleClass="gallery-block #{!assignment['pageRendered']?'not-page-rendered':''} assignment-#{assignment.id}">
                            <div class="portlet-header"><span style="font-size: 1.4em" class="icon-images2"></span><span class="portlet-header-type-title">Gallery (#{gallery.id})</span><span class="portlet-handlebar icon-move"></span></div>
                            <ui:include src="assignmentdebuglinks.xhtml"/>
                            <div class="debug-item-title">#{gallery.name}</div>
                            <ui:include src="assignmentdebug.xhtml"/>
                        </h:panelGroup>
                        <p:contextMenu for="assignment-#{assignment.id}">
                            <p:menuitem url="/cms/gallery-image-management/#{gallery.id}" value="Edit Gallery"/>
                            <p:menuitem url="#" onclick="showGalleryQuickDialog(#{assignment['pageItemInstanceId']});return false;" value="Quick Edit Gallery"/>
                            <p:menuitem url="#" onclick="$('#quick-pia-iframe').attr('src', '/cms/quick-page-item-assignment/#{assignment.id}');PF('quick-pia-dialog').show();return false;" value="Edit Assignment"/>
                        </p:contextMenu>
                    </c:if>

                    <c:if test="#{assignment['pageItem'] == 66}">
                        <c:set var="menu" value="#{cmsUtil.getMenu(assignment['pageItemInstanceId'])}"/>
                        <h:panelGroup id="assignment-#{assignment.id}" layout="block" styleClass="menu-block #{!assignment['pageRendered']?'not-page-rendered':''} assignment-#{assignment.id}">
                            <div class="portlet-header"><span style="font-size: 1.4em" class="icon-menu6"></span><span class="portlet-header-type-title">Menu (#{menu.id})</span><span class="portlet-handlebar icon-move"></span></div>
                            <ui:include src="assignmentdebuglinks.xhtml"/>
                            <div class="debug-item-title">#{menu.name}</div>
                            <ui:include src="assignmentdebug.xhtml"/>
                        </h:panelGroup>
                        <p:contextMenu for="assignment-#{assignment.id}">
                            <p:menuitem url="/cms/menu-management/#{menu.id}" value="Edit Menu"/>
                            <p:menuitem url="#" onclick="showMenuQuickDialog(#{assignment['pageItemInstanceId']});return false;" value="Quick Edit Menu"/>
                            <p:menuitem url="#" onclick="$('#quick-pia-iframe').attr('src', '/cms/quick-page-item-assignment/#{assignment.id}');PF('quick-pia-dialog').show();return false;" value="Edit Assignment"/>
                        </p:contextMenu>
                    </c:if>

                    <c:if test="#{assignment['pageItem'] == 33}">
                        <c:set var="image" value="#{cmsUtil.getImage(assignment['pageItemInstanceId'])}"/>
                        <h:panelGroup id="assignment-#{assignment.id}" layout="block" styleClass="image-block #{!assignment['pageRendered']?'not-page-rendered':''} assignment-#{assignment.id}">
                            <div class="portlet-header"><span style="font-size: 1.4em" class="icon-image3"></span><span class="portlet-header-type-title">Image (#{image.imageid})</span><span class="portlet-handlebar icon-move"></span></div>
                            <ui:include src="assignmentdebuglinks.xhtml"/>
                            <div class="debug-item-title">#{image.name}</div>
                            <ui:include src="assignmentdebug.xhtml"/>
                        </h:panelGroup>
                        <p:contextMenu for="assignment-#{assignment.id}">
                            <p:menuitem url="/cms/image-management/#{image.imageid}" value="Full Edit Image"/>
                            <p:menuitem url="#" onclick="showImageQuickDialog(#{assignment['pageItemInstanceId']});return false;" value="Quick Edit Image"/>
                            <p:menuitem url="#" onclick="$('#quick-pia-iframe').attr('src', '/cms/quick-page-item-assignment/#{assignment.id}');PF('quick-pia-dialog').show();return false;" value="Edit Assignment"/>
                        </p:contextMenu>

                    </c:if>

                    <c:if test="#{assignment['pageItem'] == 75}">
                        <c:set var="dForm" value="#{cmsUtil.getDynamicForm(assignment['pageItemInstanceId'])}"/>
                        <h:panelGroup id="assignment-#{assignment.id}" layout="block" styleClass="dform-block #{!assignment['pageRendered']?'not-page-rendered':''} assignment-#{assignment.id}">
                            <div class="portlet-header"><span style="font-size: 1.4em" class="icon-newspaper"></span><span class="portlet-header-type-title">Dynamic Form (#{dForm.id})</span><span class="portlet-handlebar icon-move"></span></div>
                            <ui:include src="assignmentdebuglinks.xhtml"/>
                            <div class="debug-item-title">#{dForm.title}</div>
                            <ui:include src="assignmentdebug.xhtml"/>
                        </h:panelGroup>
                        <p:contextMenu for="assignment-#{assignment.id}">
                            <p:menuitem url="/cms/dynamic-form-management/form/#{dForm.id}" value="Edit Form"/>
                            <p:menuitem url="#" onclick="$('#quick-pia-iframe').attr('src', '/cms/quick-page-item-assignment/#{assignment.id}');PF('quick-pia-dialog').show();return false;" value="Edit Assignment"/>
                        </p:contextMenu>
                    </c:if>

                    <c:if test="#{assignment['pageItem'] == 83}">
                        <c:set var="catalog" value="#{cmsUtil.getProductCatalog(assignment['pageItemInstanceId'])}"/>
                        <h:panelGroup id="assignment-#{assignment.id}" layout="block" styleClass="catalog-block #{!assignment['pageRendered']?'not-page-rendered':''} assignment-#{assignment.id}">
                            <div class="portlet-header"><span style="font-size: 1.4em" class="icon-box4"></span><span class="portlet-header-type-title">Product Catalog (#{catalog.id})</span><span class="portlet-handlebar icon-move"></span></div>
                            <ui:include src="assignmentdebuglinks.xhtml"/>
                            <div class="debug-item-title">#{catalog.name}</div>
                            <ui:include src="assignmentdebug.xhtml"/>
                        </h:panelGroup>
                        <p:contextMenu for="assignment-#{assignment.id}">
                            <p:menuitem url="/ecommerce/product-catalog-management/#{catalog.id}" value="Edit Catalog"/>
                            <p:menuitem url="#" onclick="$('#quick-pia-iframe').attr('src', '/cms/quick-page-item-assignment/#{assignment.id}');PF('quick-pia-dialog').show();return false;" value="Edit Assignment"/>
                        </p:contextMenu>
                    </c:if>

                    <c:if test="#{assignment['pageItem'] == 89}">
                        <c:set var="video" value="#{cmsUtil.getVideo(assignment['pageItemInstanceId'])}"/>
                        <h:panelGroup id="assignment-#{assignment.id}" layout="block" styleClass="video-block #{!assignment['pageRendered']?'not-page-rendered':''} assignment-#{assignment.id}">
                            <div class="portlet-header"><span style="font-size: 1.4em" class="icon-film4"></span><span class="portlet-header-type-title">Video (#{video.id})</span><span class="portlet-handlebar icon-move"></span></div>
                            <ui:include src="assignmentdebuglinks.xhtml"/>
                            <div class="debug-item-title">#{video.name}</div>
                            <ui:include src="assignmentdebug.xhtml"/>
                        </h:panelGroup>
                        <p:contextMenu for="assignment-#{assignment.id}">
                            <p:menuitem url="/cms/video-management/#{video.id}" value="Edit Video"/>
                            <p:menuitem url="#" onclick="showVideoQuickDialog(#{assignment['pageItemInstanceId']});return false;" value="Quick Edit Video"/>
                            <p:menuitem url="#" onclick="$('#quick-pia-iframe').attr('src', '/cms/quick-page-item-assignment/#{assignment.id}');PF('quick-pia-dialog').show();return false;" value="Edit Assignment"/>
                        </p:contextMenu>
                    </c:if>

                    <c:if test="#{assignment['pageItem'] == 90}">
                        <c:set var="blog" value="#{cmsUtil.getBlog(assignment['pageItemInstanceId'])}"/>
                        <h:panelGroup id="assignment-#{assignment.id}" layout="block" styleClass="blog-block #{!assignment['pageRendered']?'not-page-rendered':''} assignment-#{assignment.id}">
                            <div class="portlet-header"><span style="font-size: 1.4em" class="icon-image3"></span><span class="portlet-header-type-title">Blog (#{blog.id})</span><span class="portlet-handlebar icon-move"></span></div>
                            <ui:include src="assignmentdebuglinks.xhtml"/>
                            <div class="debug-item-title">#{blog.name}</div>
                            <ui:include src="assignmentdebug.xhtml"/>
                        </h:panelGroup>
                        <p:contextMenu for="assignment-#{assignment.id}" rendered="#{request.isUserInRole('Admin')}">
                            <p:menuitem url="/cms/blog-management/#{assignment['pageItemInstanceId']}" value="Edit Blog"/>
                            <p:menuitem url="#" onclick="$('#quick-pia-iframe').attr('src', '/cms/quick-page-item-assignment/#{assignment.id}');PF('quick-pia-dialog').show();return false;" value="Edit Assignment"/>
                        </p:contextMenu>
                    </c:if>
                </c:forEach>
            </div>
        </div>
    </composite:implementation>
</html>