body
{
	font-family: 'Indie Flower', cursive;
	font-size: 1.4em;
	background: white;
}

p, h1, h2, h3, h4, h5
{
	margin-top: 5px;
	margin-bottom: 5px;
}

.ui-widget
{
	font-family: 'Indie Flower', cursive;
}

.nav-wrapper
{


}

.nav-wrapper a,
.nav-wrapper a:visited
{

}

.smart-menu-container
{
	border: none;
	box-shadow: none;
}

.header-wrapper
{

}

.iberis-menu.sm
{
	background: none;
}

.iberis-menu.sm li
{
	font-size: 26px;
}

.iberis-menu.sm > ul > li
{

}

.iberis-menu.sm .sub-arrow
{

}

.iberis-menu.sm.sm-vertical .sub-arrow
{

}

.iberis-menu.sm ul .sub-arrow
{
	border-color: transparent transparent transparent white;
}

.iberis-menu.sm ul
{

}

.iberis-menu.sm a
{

}

.iberis-menu.sm .ui-menuitem-link.ui-state-hover
{

}

.smart-menu-container .nav-mobile-text
{

}

.smart-menu-btn-icon,
.smart-menu-btn-icon:before,
.smart-menu-btn-icon:after
{

}

.main-content-wrapper
{
	background: url(../images/water-bubbles-18552.jpg) no-repeat bottom center;
}

@media (min-width: 768px)
{
	.iberis-menu.sm ul li a
	{
		color: white;
		background: slategray;
	}

	.iberis-menu.sm a:hover,
	.iberis-menu.sm a:active,
	.iberis-menu.sm a.highlighted
	{
		color: white;
		background: midnightblue;
	}

	.iberis-menu.sm a.highlighted .sub-arrow
	{
		border-color: white transparent transparent transparent;
	}

	.iberis-menu.sm.sm-vertical a.highlighted .sub-arrow
	{
		border-color: transparent transparent transparent white;
	}

	.iberis-menu.sm ul a.highlighted .sub-arrow
	{
		border-color: transparent transparent transparent white;
	}

	.main-content-wrapper
	{
		background-size: 100%;
	}
}

@media (max-width: 767px)
{
	div.live-site-title
	{
		font-size: 2em;
	}
}

.main-content-wrapper .dynamic-content,
.content-search-block
{
	padding: 6px;
	background: rgba(0, 0, 0, 0.5);
	border-radius: 8px;
	border: 1px solid white;
	color: white;
}

.region-wrapper
{
	background: url(../images/bubble-clipart-underwater-bubbles-14.jpg) no-repeat #2c78c7;
	border-top: 2px white ridge;
	color: white;
}

.region-wrapper a,
.region-wrapper a:visited
{
	color: white;
}

.region-wrapper .ui-datatable a,
.region-wrapper .ui-datatable a:visited
{
	color: #4a4a4a;
}

.region-wrapper .assignment-block
{
	padding: 6px;
	background: rgba(0, 0, 0, 0.5);
	border-radius: 8px;
	border: 1px solid white;
}

.footer-wrapper
{
	background: slategray;
	color: white;
	border-top: 2px white ridge;
}

.footer-wrapper a,
.footer-wrapper a:visited
{
	color: white;
}

.footer-wrapper .p-menu-sub-group
{
	color: white;
}

.login-block
{

}

.login-block .logout-button
{
	margin-top: 5px;
}

.shopping-cart-dash
{

}

.shopping-cart-dash span
{
	margin-left: 5px;
}

.shopping-cart-dash a,
.shopping-cart-dash a:visited
{
	font-size: .8em;
	text-decoration: none;
}

.shopping-cart-dash a:hover
{
	text-decoration: underline;
}

.ui-widget-content
{

}

.ui-accordion .ui-accordion-header.ui-state-default
{
	background: midnightblue;
}

.ui-accordion .ui-accordion-header.ui-state-active
{
	background: slategray;
	border-color: midnightblue;
}

.ui-accordion .ui-accordion-header.ui-state-hover
{
	border-color: slategray;
	background: slategray;
}

.ui-tabs.ui-tabs-top .ui-tabs-nav.ui-widget-header .ui-state-default.ui-tabs-selected,
.ui-tabs.ui-tabs-top .ui-tabs-nav.ui-widget-header .ui-state-default.ui-tabs-selected.ui-state-hover
{
	background: slategray;
	border-color: midnightblue;
}

.ui-tabs.ui-tabs-top .ui-tabs-nav.ui-widget-header .ui-state-default.ui-state-hover
{
	background: slategray;
	border-color: slategray;
}

.ui-breadcrumb.ui-widget-header
{
	background: none;
	border: none;
}

.ui-breadcrumb.ui-widget-header ul .ui-menuitem-link.ui-icon-home
{
	font-size: 18px;
	height: 18px;
	margin-top: 4px;
}

.ui-breadcrumb.ui-widget-header ul .ui-menuitem-link.ui-icon-home,
.ui-breadcrumb.ui-widget-header ul .ui-breadcrumb-chevron,
.ui-breadcrumb.ui-widget-header ul .ui-menuitem-link,
.ui-breadcrumb.ui-widget-header ul .ui-menuitem-link .ui-menuitem-text
{
	color: black;
}

.ui-breadcrumb.ui-widget-header ul .ui-menuitem-link
{
	text-decoration: underline;
}

.side-by-side-caption
{
	color: white;
	padding: 5px;
}

.flex-caption
{
	font-size: 20px;
}

.printer-button
{
	font-size: .8em;
}

.gallery-carousel.ui-carousel .ui-carousel-header.ui-widget-header
{
	background: midnightblue;
}

div.live-site .video-overlay-caption a,
div.live-site .video-overlay-caption a:visited
{
	color: white;
}

div.live-site .video-overlay-caption a:hover,
div.live-site .video-overlay-caption a:focus,
div.live-site .video-overlay-caption a:active
{
	color: black;
}

.slider-presentation .bx-wrapper .bx-viewport
{
	background: slategray;
}

.slider-presentation .bx-wrapper .bx-viewport .default-slide-contents
{
	padding: .3em;
}

#sticky-admin-bar
{
	height: 60px;
}