body
{
	font-family: 'Fauna One', serif;
	background: url(../images/bg-body.gif) repeat center;
	color: white;
}

div.live-site div.nav-wrapper a,
div.live-site div.main-content-wrapper a,
div.live-site div.region-row-2 a
{

}

div.live-site div.hero div.slide-link a
{
	color: white;
}

p, h1, h2, h3, h4, h5
{
	margin-top: 5px;
	margin-bottom: 5px;
}

p
{
   line-height: 1.6em;
}

.ui-widget
{
	font-family: 'Fauna One', serif;
}

.nav-wrapper
{
	border-bottom: 2px white ridge;
}

.nav-wrapper a,
.nav-wrapper a:visited
{
	color: #dadada;
	text-shadow: none;
}

.smart-menu-container
{
	border: none;
	box-shadow: none;
}

.header-wrapper .iberis-menu
{
	background: none;
}

.header-wrapper .iberis-menu li
{
	font-size: 18px;
}

.header-wrapper .iberis-menu > ul > li
{

}

.header-wrapper .iberis-menu li a,
.header-wrapper .iberis-menu ul li a
{
	color: #80662b;
}

.header-wrapper .iberis-menu .sub-arrow
{
	border-color: #80662b transparent transparent transparent;
}

.header-wrapper .iberis-menu ul .sub-arrow
{
	border-color: transparent transparent transparent #80662b;
}

.header-wrapper .iberis-menu ul
{

}

.header-wrapper .iberis-menu .ui-menuitem-link.ui-state-hover
{

}

.header-wrapper .nav-mobile-text
{
	color: #80662b;
}

.header-wrapper .smart-menu-btn-icon,
.header-wrapper .smart-menu-btn-icon:before,
.header-wrapper .smart-menu-btn-icon:after
{
	background: #80662b;
}

@media (min-width: 768px)
{
	.header-wrapper .iberis-menu a:hover,
	.header-wrapper .iberis-menu a:active,
	.header-wrapper .iberis-menu a.highlighted
	{
		color: white;
		background: #80662b;
	}

	.header-wrapper .iberis-menu a.highlighted .sub-arrow
	{
		border-color: white transparent transparent transparent;
	}

	.header-wrapper .iberis-menu ul a.highlighted .sub-arrow
	{
		border-color: transparent transparent transparent white;
	}
}

.hero-region-wrapper
{
	background: url(../images/bg-headliner.gif) repeat top center;
}

.main-content-wrapper
{
	background: url(../images/bg-featured.png) repeat top center;
	color: #525252;
}

.region-wrapper
{

}

.region-wrapper p
{
	text-shadow: 1px 1px 0 #e8e6e7;
}

.region-row-2
{

}

.region-row-2 p
{
	text-shadow: 1px 1px 0 #F4DCB6;
}

.footer-wrapper
{
	border-top: 2px white ridge;
   	color: #dadada;
	text-shadow: none;
}

.footer-wrapper a,
.footer-wrapper a:visited
{
	color: #dadada;
	text-shadow: none;
}

.footer-wrapper .p-menu-sub-group
{
	color: #dadada;
	text-shadow: none;
}

.login-block
{

}

.login-block .logout-button
{
	margin-top: 5px;
}

.shopping-cart-dash
{

}

.shopping-cart-dash span
{
	margin-left: 5px;
}

.shopping-cart-dash a,
.shopping-cart-dash a:visited
{
	font-size: .8em;
	text-decoration: none;
}

.shopping-cart-dash a:hover
{
	text-decoration: underline;
}

.ui-widget-content
{

}

.ui-accordion .ui-accordion-header.ui-state-default
{
	background: darkolivegreen;
}

.ui-accordion .ui-accordion-header.ui-state-active
{
	background: #ea9624;
	border-color: #e88524;
}

.ui-accordion .ui-accordion-header.ui-state-hover
{
	border-color: #e88524;
	background: #e88524;
}

.ui-tabs.ui-tabs-top .ui-tabs-nav.ui-widget-header .ui-state-default.ui-tabs-selected
{
	background: #ea9624;
	border-color: #e88524;
}

.ui-tabs.ui-tabs-top .ui-tabs-nav.ui-widget-header .ui-state-default.ui-state-hover
{
	background: #9a9a9a;
	border-color: #757575;
}

.ui-breadcrumb.ui-widget-header
{
	background: none;
	border: none;
}

.ui-breadcrumb.ui-widget-header ul .ui-menuitem-link.ui-icon-home
{
	font-size: 18px;
	height: 18px;
	margin-top: 4px;
}

.ui-breadcrumb.ui-widget-header ul .ui-menuitem-link.ui-icon-home,
.ui-breadcrumb.ui-widget-header ul .ui-breadcrumb-chevron,
.ui-breadcrumb.ui-widget-header ul .ui-menuitem-link,
.ui-breadcrumb.ui-widget-header ul .ui-menuitem-link .ui-menuitem-text
{
	color: #80662b;
}

.ui-breadcrumb.ui-widget-header ul .ui-menuitem-link
{
	text-decoration: underline;
}

.bx-wrapper p
{
	text-shadow: none;
}

div.iberis-image .caption-overlay-inner p,
div.iberis-image .caption-full-overlay-inner p
{
	text-shadow: none;
}

div.live-site .video-overlay-caption a,
div.live-site .video-overlay-caption a:visited
{
	color: white;
}

div.live-site .video-overlay-caption a:hover,
div.live-site .video-overlay-caption a:focus,
div.live-site .video-overlay-caption a:active
{
	color: black;
}

.header-wrapper,
.stack-region-1,
.stack-region-3
{
	position: relative;
	height: 600px;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.header-wrapper .ui-g,
.stack-region-1 .ui-g,
.stack-region-3 .ui-g
{
	position: absolute;
	margin: auto;
	width: auto;
	transform: translate(-50%, -50%);
	left: 50%;
	top: 50%;
}

.header-wrapper .ui-g .ui-g-12,
.stack-region-1 .ui-g .ui-g-12,
.stack-region-3 .ui-g .ui-g-12
{
	font-size: 8vw;
	color: #666666;
}

.stack-region-3 .ui-g .ui-g-12
{
	color: #444444;
}

.header-wrapper
{
	background-image: url('../images/arctic-1.jpg');
}

.stack-region-1
{
	background-image: url('../images/arctic-2.jpg');
}

.stack-region-2
{
	background: url(../images/bg-featured.png) repeat top center;
	color: #525252;
}

.stack-region-3
{
	background-image: url('../images/arctic-3.jpg');
}

.stack-region-4
{
	background: url(../images/bg-featured.png) repeat top center;
	color: #525252;
}