body
{
	font-family: 'Fauna One', serif;
	color: #80662b;
	background: url(../images/bg-body.gif) repeat center;
}

div.live-site div.nav-wrapper a,
div.live-site div.main-content-wrapper a,
div.live-site div.region-row-2 a
{
	color: #80662b;
}

div.live-site div.hero div.slide-link a
{
	color: white;
}

.slide-caption p
{
	text-shadow: none;
}

article.hentry p
{
	text-shadow: none;
}

article.hentry .slide-link a,
article.hentry .slide-link a:visited
{
	color: white;
}

p, h1, h2, h3, h4, h5
{
	margin-top: 5px;
	margin-bottom: 5px;
}

p
{
	text-shadow: 1px 1px 0 #F4DCB6;
	line-height: 1.6em;
}

.ui-widget
{
	font-family: 'Fauna One', serif;
}

.nav-wrapper
{
	background: url(../images/bg-header.png) repeat top center;
	border-bottom: 2px white ridge;
}

.nav-wrapper a,
.nav-wrapper a:visited
{

}

.smart-menu-container
{
	border: none;
	box-shadow: none;
}

.header-wrapper
{
	background-image: url(../images/bg-headliner.gif);
	background-repeat: repeat;
	background-position: top center;
}

.iberis-menu.sm
{
	background: none;
}

.iberis-menu.sm li
{
	font-size: 18px;
}

.iberis-menu.sm > ul > li
{

}

.iberis-menu.sm li a,
.iberis-menu.sm ul li a
{
	color: #80662b;
}

.iberis-menu.sm .sub-arrow
{
	border-color: #80662b transparent transparent transparent;
}

.iberis-menu.sm.sm-vertical .sub-arrow
{
	border-color: transparent transparent transparent #80662b;
}

.iberis-menu.sm ul .sub-arrow
{
	border-color: transparent transparent transparent #80662b;
}

.iberis-menu.sm ul
{

}

.iberis-menu.sm .ui-menuitem-link.ui-state-hover
{

}

.smart-menu-container .nav-mobile-text
{
	color: #80662b;
}

.smart-menu-btn-icon,
.smart-menu-btn-icon:before,
.smart-menu-btn-icon:after
{
	background: #80662b;
}

@media (min-width: 768px)
{
	.iberis-menu.sm a:hover,
	.iberis-menu.sm a:active,
	.iberis-menu.sm a.highlighted
	{
		color: white;
		background: #80662b;
	}

	.iberis-menu.sm a.highlighted .sub-arrow
	{
		border-color: white transparent transparent transparent;
	}

	.iberis-menu.sm.sm-vertical a.highlighted .sub-arrow
	{
		border-color: transparent transparent transparent white;
	}

	.iberis-menu.sm ul a.highlighted .sub-arrow
	{
		border-color: transparent transparent transparent white;
	}
}

@media (max-width: 767px)
{
	div.live-site-title
	{
		font-size: 2em;
	}
}

.hero-region-wrapper
{
	background: url(../images/bg-headliner.gif) repeat top center;
}

.main-content-wrapper
{
	background-image: url(../images/bg-headliner-bottom-shadow.jpg), url(../images/bg-headliner.gif);
	background-repeat: no-repeat, repeat;
	background-position: bottom center, top center;
}

.region-wrapper
{
	background: url(../images/bg-featured.png) repeat top center;
	border-top: 2px white ridge;
	color: #525252;
}

.region-wrapper p
{
	text-shadow: 1px 1px 0 #e8e6e7;
}

.region-row-2
{
	background: url(../images/bg-headliner.gif) repeat top center;
	color: #80662b;
}

.region-row-2 p
{
	text-shadow: 1px 1px 0 #F4DCB6;
}

.footer-wrapper
{
	border-top: 2px white ridge;
   	color: #dadada;
	text-shadow: none;
}

.footer-wrapper a,
.footer-wrapper a:visited
{
	color: #dadada;
	text-shadow: none;
}

.footer-wrapper .p-menu-sub-group
{
	color: #dadada;
	text-shadow: none;
}

.login-block
{

}

.login-block .logout-button
{
	margin-top: 5px;
}

.shopping-cart-dash
{

}

.shopping-cart-dash span
{
	margin-left: 5px;
}

.shopping-cart-dash a,
.shopping-cart-dash a:visited
{
	font-size: .8em;
	text-decoration: none;
}

.shopping-cart-dash a:hover
{
	text-decoration: underline;
}

.ui-widget-content
{

}

.ui-accordion .ui-accordion-header.ui-state-default
{
	background: darkolivegreen;
}

.ui-accordion .ui-accordion-header.ui-state-active
{
	background: #ea9624;
	border-color: #e88524;
}

.ui-accordion .ui-accordion-header.ui-state-hover
{
	border-color: #e88524;
	background: #e88524;
}

.ui-tabs.ui-tabs-top .ui-tabs-nav.ui-widget-header .ui-state-default.ui-tabs-selected
{
	background: #ea9624;
	border-color: #e88524;
}

.ui-tabs.ui-tabs-top .ui-tabs-nav.ui-widget-header .ui-state-default.ui-state-hover
{
	background: #9a9a9a;
	border-color: #757575;
}

.ui-breadcrumb.ui-widget-header
{
	background: none;
	border: none;
}

.ui-breadcrumb.ui-widget-header ul .ui-menuitem-link.ui-icon-home
{
	font-size: 18px;
	height: 18px;
	margin-top: 4px;
}

.ui-breadcrumb.ui-widget-header ul .ui-menuitem-link.ui-icon-home,
.ui-breadcrumb.ui-widget-header ul .ui-breadcrumb-chevron,
.ui-breadcrumb.ui-widget-header ul .ui-menuitem-link,
.ui-breadcrumb.ui-widget-header ul .ui-menuitem-link .ui-menuitem-text
{
	color: #80662b;
}

.ui-breadcrumb.ui-widget-header ul .ui-menuitem-link
{
	text-decoration: underline;
}

.bx-wrapper p
{
	text-shadow: none;
}

div.iberis-image .caption-overlay-inner p,
div.iberis-image .caption-full-overlay-inner p
{
	text-shadow: none;
}

div.live-site .video-overlay-caption a,
div.live-site .video-overlay-caption a:visited
{
	color: white;
}

div.live-site .video-overlay-caption a:hover,
div.live-site .video-overlay-caption a:focus,
div.live-site .video-overlay-caption a:active
{
	color: black;
}