body
{
	font-family: 'Fauna One', serif;
	color: white;
	background: black;
}

p, h1, h2, h3, h4, h5
{
	margin-top: 5px;
	margin-bottom: 5px;
}

.ui-widget
{
	font-family: 'Fauna One', serif;
}

.nav-wrapper
{

	color: white;
}

.nav-wrapper a,
.nav-wrapper a:visited
{
	color: white;
}

.smart-menu-container
{
	border: none;
	box-shadow: none;
}

.header-wrapper
{

}

.iberis-menu.sm
{
	background: none;
}

.iberis-menu.sm li
{
	font-size: 18px;
}

.iberis-menu.sm > ul > li
{

}

.iberis-menu.sm .sub-arrow
{
	border-color: white transparent transparent transparent;
}

.iberis-menu.sm.sm-vertical .sub-arrow
{
	border-color: transparent transparent transparent white;
}

.iberis-menu.sm ul .sub-arrow
{
	border-color: transparent transparent transparent white;
}

.iberis-menu.sm ul
{

}

.iberis-menu.sm a
{
   color: white;
}

.iberis-menu.sm .ui-menuitem-link.ui-state-hover
{

}

.smart-menu-container .nav-mobile-text
{
	 color: white;
}

.smart-menu-btn-icon,
.smart-menu-btn-icon:before,
.smart-menu-btn-icon:after
{
	background: white;
}

.main-content-wrapper
{
	background: url(../images/black-cobra-african.jpg) no-repeat top center;
	background-size: 70%;
}

@media (min-width: 768px)
{
	.iberis-menu.sm ul li a
	{
		color: white;
		background: #333;
	}

	.iberis-menu.sm a:hover,
	.iberis-menu.sm a:active,
	.iberis-menu.sm a.highlighted
	{
		color: black;
		background: #cccccc;
	}

	.iberis-menu.sm a.highlighted .sub-arrow
	{
		border-color: black transparent transparent transparent;
	}

	.iberis-menu.sm.sm-vertical a.highlighted .sub-arrow
	{
		border-color: transparent transparent transparent white;
	}

	.iberis-menu.sm ul a.highlighted .sub-arrow
	{
		border-color: transparent transparent transparent black;
	}

	.main-content-wrapper
	{
		/*background-size: 100%;*/
	}
}

@media (max-width: 767px)
{
	.sm-simple li
	{
		border-color: gray;
	}

	.sm-simple a .sub-arrow
	{
	 	background: gray;
	}

	div.live-site-title
	{
		font-size: 2em;
	}
}

.main-content-wrapper .dynamic-content
{
	padding: 6px;
	background: rgba(0, 0, 0, 0.5);
	border-radius: 8px;
	border: 1px solid white;
	color: white;
}

.region-wrapper
{
	background: url(../images/albino-snake-head.jpg) no-repeat;
	border-top: 2px white ridge;
	color: white;
}

.region-wrapper a,
.region-wrapper a:visited
{
	color: white;
}

.region-wrapper .assignment-block
{
	padding: 6px;
	background: rgba(0, 0, 0, 0.5);
	border-radius: 8px;
	border: 1px solid white;
}


.footer-wrapper
{
	background: url(../images/bg-body.gif) repeat center;
	color: white;
	border-top: 2px white ridge;
}

.footer-wrapper a,
.footer-wrapper a:visited
{
	color: white;
}

.footer-wrapper .p-menu-sub-group
{
	color: white;
}

.login-block
{

}

.login-block .logout-button
{
	margin-top: 5px;
}

.shopping-cart-dash
{

}

.shopping-cart-dash span
{
	margin-left: 5px;
}

.shopping-cart-dash a,
.shopping-cart-dash a:visited
{
	font-size: .8em;
	text-decoration: none;
}

.shopping-cart-dash a:hover
{
	text-decoration: underline;
}

.ui-widget-content
{

}

.ui-accordion .ui-accordion-header.ui-state-default
{
	background: black;
}

.ui-accordion .ui-accordion-header.ui-state-active
{
	background: #aaaaaa;
	border-color: #333333;
}

.ui-accordion .ui-accordion-header.ui-state-hover
{
	border-color: #333333;
	background: #aaaaaa;
}

.ui-tabs.ui-tabs-top .ui-tabs-nav.ui-widget-header .ui-state-default.ui-tabs-selected,
.ui-tabs.ui-tabs-top .ui-tabs-nav.ui-widget-header .ui-state-default.ui-tabs-selected.ui-state-hover
{
	background: #aaaaaa;
	border-color: #333333;
}

.ui-tabs.ui-tabs-top .ui-tabs-nav.ui-widget-header .ui-state-default.ui-state-hover
{
	background: #aaaaaa;
	border-color: #333333;
}

.ui-breadcrumb.ui-widget-header
{
	background: none;
	border: none;
}

.ui-breadcrumb.ui-widget-header ul .ui-menuitem-link.ui-icon-home
{
	font-size: 18px;
	height: 18px;
	margin-top: 4px;
}

.ui-breadcrumb.ui-widget-header ul .ui-menuitem-link.ui-icon-home,
.ui-breadcrumb.ui-widget-header ul .ui-breadcrumb-chevron,
.ui-breadcrumb.ui-widget-header ul .ui-menuitem-link,
.ui-breadcrumb.ui-widget-header ul .ui-menuitem-link .ui-menuitem-text
{
	color: white;
}

.ui-breadcrumb.ui-widget-header ul .ui-menuitem-link
{
	text-decoration: underline;
}

.side-by-side-caption
{
	padding: 5px;
}

div.live-site .video-overlay-caption a,
div.live-site .video-overlay-caption a:visited
{
	color: white;
}

div.live-site .video-overlay-caption a:hover,
div.live-site .video-overlay-caption a:focus,
div.live-site .video-overlay-caption a:active
{
	color: black;
}

.slider-presentation .bx-wrapper .bx-viewport
{
	background: #AAAAAA;
}

.slider-presentation .bx-wrapper .bx-viewport .default-slide-contents
{
	padding: .3em;
}
