<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:p="http://primefaces.org/ui"
    xmlns:iberis="http://xmlns.jcp.org/jsf/composite/uicomponents">
    <body>
        <ui:composition template="/templates/base/Template.xhtml" >
            <ui:define name="main-content">

                <h1><h:outputText value="#{blogView.blog.name}"/></h1>
                <h:panelGroup rendered="#{request.isUserInRole('Admin') or request.isUserInRole('CMS_Admin')}">
                    <h:outputLink value="/cms/blog-management/#{blogView.blog.id}"><span class="icon-edit"></span> Edit</h:outputLink>
                </h:panelGroup>
                <div class="blog-list">
                    <h:form>
                        <ui:include src="../CsrfTokenInsert.xhtml"/>
                        <p:dataGrid var="item" rowKey="#{item.id}" lazy="true" value="#{blogView.blogEntryLoader}" paginatorAlwaysVisible="false" columns="1" paginator="true" rowsPerPageTemplate="8,15,25,50" rows="15" layout="grid">
                            <h:graphicImage styleClass="blog-image-left blog-image-#{blogView.blog.listThumbnailWidth}" rendered="#{blogView.blog.showListThumbnails and item.headerImage != null}" value="#{item.headerImage.filePath}"/>
                            <h:graphicImage styleClass="blog-image-left blog-image-#{blogView.blog.listThumbnailWidth}" rendered="#{blogView.blog.showListThumbnails and item.headerImage == null and item.bodyImage != null}" value="#{item.bodyImage.filePath}"/>
                            <h:outputLink value="/blog/#{item.blog.urlAlias}/#{item.urlAlias}"><h3><h:outputText value="#{item.title}"/></h3></h:outputLink>
                            <p><h:outputText value="#{textUtil.getStrippedHtml(item.body, 250)}..." escape="false"/></p>
                            <h:outputLink value="/blog/#{item.blog.urlAlias}/#{item.urlAlias}"><h:outputText value="#{item.blog.readMoreLinkText}"/></h:outputLink>
                        </p:dataGrid>
                    </h:form>
                </div>
            </ui:define>
        </ui:composition>
    </body>
</html>

