<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui"
    xmlns:pe="http://primefaces.org/ui/extensions"
    xmlns:iberis="http://xmlns.jcp.org/jsf/composite/uicomponents">
    <body>
        <ui:composition template="/templates/base/Template.xhtml" >
            <ui:define name="main-content">
                <div class="ui-g">
                    <div class="ui-g-12">
                        <h:outputLink value="/blog/#{blogView.blog.urlAlias}">Back to Blog List</h:outputLink>
                        <h2><h:outputText value="#{blogView.blogEntry.title}"/></h2>
                        <h:panelGroup rendered="#{blogView.blogEntry.publishedDate != null}">
                            Date: <h:outputText value="#{blogView.blogEntry.publishedDate}"><f:convertDateTime type="date" pattern="MM/dd//yyyy"/></h:outputText>
                        </h:panelGroup>
                        <h:panelGroup rendered="#{blogView.blogEntry.showAuthorInfo}">
                            Author: <h:outputText value="#{blogView.blogEntry.author}"/>
                        </h:panelGroup>
                        <h:panelGroup rendered="#{request.isUserInRole('Admin') or request.isUserInRole('CMS_Admin')}">
                            <h:outputText value=" - "/>
                            <span class="icon-edit"></span>
                            <h:outputLink value="/cms/blog-entry-management/#{blogView.blogEntry.id}">Edit</h:outputLink>
                        </h:panelGroup>
                        <c:if test="#{blogView.blogEntry.enableSocialSharing}">
                            <div>
                                <div style="display: inline-block">
                                    <pe:social shares="#{(blogView.blogEntry.enableFacebook)?'facebook,':''}#{(blogView.blogEntry.enableTwitter)?'twitter,':''}#{(blogView.blogEntry.enableLinkedin)?'linkedin,':''}#{(blogView.blogEntry.enableEmail)?'email,':''}" theme="classic" showCount="false" showLabel="false" url="#{cmsSite.siteUrl}/blog/#{blogView.blog.urlAlias}/#{blogView.blogEntry.urlAlias}"/>
                                </div>

                                <div style="clear: both"/>
                            </div>
                        </c:if>
                    </div>
                    <h:panelGroup layout="block" rendered="#{blogView.blogEntry.headerImage != null or blogView.blogEntry.header != null or blogView.blogEntry.header.trim() != ''}" styleClass="ui-g-12">
                        <h:graphicImage style="#{(blogView.blogEntry.headerImageMax)?'width: 100%;':''}max-width: 100%" rendered="#{blogView.blogEntry.headerImage != null}" value="#{blogView.blogEntry.headerImage.filePath}"/>

						<h:panelGroup layout="block" rendered="#{blogView.blogEntry.header != null and blogView.blogEntry.header.trim() != ''}">
                            <h:outputText value="#{textUtil.getCleanHtml(blogView.blogEntry.header, blogView.blogEntry.allowEditorStyles)}" escape="false"/>
                        </h:panelGroup>
                    </h:panelGroup>
                    <div class="ui-g-12">
                        <h:graphicImage styleClass="blog-image-#{blogView.blogEntry.bodyImageWidth} blog-image-#{(blogView.blogEntry.bodyImageAlignment == 0)?'left':'right'}" style="max-width: 100%;" rendered="#{blogView.blogEntry.bodyImage != null}" value="#{blogView.blogEntry.bodyImage.filePath}"/>
                        <h:outputText value="#{textUtil.getCleanHtml(blogView.blogEntry.body, blogView.blogEntry.allowEditorStyles)}" escape="false"/>
                    </div>
                </div>
            </ui:define>
        </ui:composition>
    </body>
</html>

