p, h1, h2, h3, h4, h5
{
	margin-top: 5px;
	margin-bottom: 5px;
}

img
{
	max-width: 100%;
}

.site-wrapper a,
.site-wrapper a:visited,
.menu-management a,
.menu-management a:visited,
.card a,
.card a:visited
{
	color: #4a4a4a;
}

#cms-title
{
	display: block;
	float: left;
	margin: 15px 0 0 10px;
	font-size: 1.6em;
}

#sidebar-header
{
	background: #ED3794;
}

#sidebar-header a i
{
	color: white;
}

.sidebar-nav a:hover
{
	background: #ED3794;
}

form.template-settings-form
{
	width: 100%;
}

.admin-bar button span
{
	font-size: 1.3em;
}

.admin-bar button
{
	margin-right: 5px;
}

.admin-bar-logo
{
	height: 40px;
	float: left;
	margin-right: 5px
}

.cms-admin-template .ui-tabs,
.quick-edit-form .ui-tabs
{
	border: none;
}

.cms-admin-template .ui-tabs-panel,
.quick-edit-form .ui-tabs-panel
{
	padding-left: 2px;
	padding-right: 2px;
}

#cms-index a, #cms-index:visited
{
	display: block;
	color: #ea9624;
	text-decoration: none;
}

#cms-index a:hover, #cms-index a span.cms-index-link-text:hover
{
	text-decoration: underline;
}

#cms-index span.cms-index-icon
{
	font-size: 2.8em;
	color: #ea9624;
	display: inline-block;
	padding: 10px;
	border: solid 1px #ea9624;
}

#cms-index span.cms-index-icon:hover,
#cms-index span.cms-index-icon:active,
#cms-index span.cms-index-icon:focus
{
	background-color: #ea9624;
	color: white;
	border: solid 1px white;
}

#cms-index span.cms-index-link-text
{
	color: #ea9624;
	margin-top: 6px;
	display: block;
	font-size: .8em;
}

#cms-index div.section-icon-cntr
{
	min-width: 85px;
}

.cms-index-panels div.card
{
	height: 100%;
}

.content-banner
{
	width: 100%;
	max-width: 100%;
}

div.field-list div.portlet-placeholder
{
	border: 1px dotted black;
	margin: 0 1em 1em 0;
	height: 50px;
}

div.field-list div.portlet-header
{
	border: 1px solid gray;
	padding: 10px;
	background: #ea9624;
	color: white;
}

div.field-list div.portlet-header a,
div.field-list div.portlet-header a:visited
{
	color: white !important;
	text-decoration: underline;
}

.assignment-spacer
{
	min-height: 8px;
}

.embed-video-container {
	position: relative;
	width: 100%;
	height: 0;
	padding-bottom: 56.25%;
}

.video-iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

#admin-menu ul.ui-menu-child {
	white-space: nowrap;
	width: 210px !important;
}

#admin-menu-button
{
	float: left;
	margin-top: 15px;
}

div.content-bodies img,
div.content-bodies-2 img,
div.iberis-menu img,
div.iberis-mobile-menu img,
ul.iberis-menu img,
ul.iberis-mobile-menu img
{
	max-width: 100%;
}

div.hero div.slide-link a:hover
{
	background: #f6bb4e;
}

div.hero div.slide-link a,
div.hero div.slide-link a:visited
{
	background: #ea9624;
}

div.live-site-title
{
	font-size: 3em;
}

div.preload
{
	display: none;
}

.flat-menu .mobile-menu-icon
{
	margin-right: 5px;
}

.flat-menu ul
{
	list-style-type: none;
}

.flat-menu div > span.first-sub-group,
.flat-menu .top-link
{
	font-size: 1.2em;
}

.flat-menu ul.first-sub-group-list
{
	padding-left: 0px;
}

.flat-menu a,
.flat-menu a:visited,
.flat-menu .p-menu-sub-group
{
	color: #4a4a4a;
}

.flat-menu .first-sub-group,
.flat-menu .top-link
{
	font-weight: bold;
}

.flat-menu .p-menu-sub-group-list a
{
	display: inline-block;
	margin-bottom: 5px;
}

.admin-bar
{
	font-family: 'PT_Sans', sans-serif;
	font-size: 16px;
}

.ui-contextmenu ul.ui-menu-list li.ui-widget
{
	font-family: 'PT_Sans', sans-serif;
	font-size: 14px;
}

.ui-outputlabel.ui-state-error
{
	color: #d2524f;
}

.content-notes-header
{
	color: #AAA;
	font-style: italic;
	text-decoration: underline;
}

.content-note
{
	color: #AAA;
}

.flip-slide .back
{
    display: none;
}

.flip-slide .front,
.flip-slide .back
{
	cursor: pointer;
}

.assignment-edit-menu
{
	position: absolute;
	top: 0px;
	right: 0px;
	display: inline-block;
	z-index: 900;
}

.assignment-edit-menu span.ui-menubutton button
{
	background: rgb(68,68,68);
	border: 1px solid white;
	font-size: 18px;
	width: 30px;
}

div.hero-region-wrapper div.hero-region div.ui-g-12
{
	padding: 0 .5em;
}

div.fancybox-item,
div.side-by-side-item
{
	padding: .1em .1em;
}

/* This fixes the bug for flip where long back side can push footer down */
div.flip-slide
{
	overflow: hidden;
}

div.content-item
{
	padding: .2em;
}

div.content-item-left
{
	padding-right: .4em;
}

div.content-item-right
{
	padding-left: .4em;
}

#top-bar-wrapper,
#sidebar-header
{
	z-index: 900;
}

.top-bar-logo-wrapper
{
	float: right;
	height: 100%;
	padding: 1%
}

.video-background-overlay
{
	position: absolute;
	z-index: 20;
	bottom: 0;
	top: 0;
	left: 0;
	right: 0;
	background-color: rgb(0,0,0,.5);
	color: white;
}

.video-overlay-caption
{
	position: absolute;
	z-index: 21;
	color: white;
	transform: translate(-50%, -50%);
	left: 50%;
	top: 50%;
	text-align: center;
}

.video-overlay-caption p
{
	text-shadow: none;
}

.video-overlay-caption a,
.video-overlay-caption a:visited
{
	display: inline-block;
	padding: 10px 30px;
	border: solid 2px white;
	color: white;
	text-decoration: none;
	text-align: center;
}

.video-overlay-caption a:hover,
.video-overlay-caption a:focus,
.video-overlay-caption a:active
{
	background: white;
	color: black;
}

.vid-background-fixed-container
{
	height: 100%;
}

.video-background-fixed-iframe
{
	width: 100%;
	height: 100%;
}

.video-fallback-image
{
	width: 100%;
}

.fullscreen-video
{
	position: fixed;
	top: 0; right: 0; bottom: 0; left: 0;
	z-index: -99;
}

.fullscreen-video .embed-video-container
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: inherit;
}

@media (min-aspect-ratio: 16/9)
{
	.fullscreen-video { height: 300%; top: -100%; }

}

@media (max-aspect-ratio: 16/9)
{
	.fullscreen-video { width: 300%; left: -100%; }

}

.object-fit__cover
{
	object-fit: cover;
}

.object-fit__fill
{
	object-fit: fill;
}

.object-fit__contain
{
	object-fit: contain;
}

.object-fit__none
{
	object-fit: none;
}

.object-fit__scale-down
{
	object-fit: scale-down;
}

.object-fit__container
{
	position: relative;
	overflow: hidden;
	height: 100%;
	width: 100%;
}

div.blog-list .ui-widget-content
{
	color: inherit;
	background: none;
	border: none;
}

.blog-image-left
{
	float: left;
	padding-right: .5em;
}

.blog-image-right
{
	float: right;
	padding-left: .5em;
}

.blog-image-10
{
	width: 10%;
}

.blog-image-25
{
	width: 25%;
}

.blog-image-30
{
	width: 30%;
}

.blog-image-40
{
	width: 40%;
}

.blog-image-50
{
	width: 50%;
}

.blog-image-75
{
	width: 75%;
}

.blog-image-100
{
	width: 100%;
}

@media screen and (max-width: 40em)
{
	.blog-image-left,
	.blog-image-right
	{
		float: none;
		width: auto;
	}
}

.quick-edit-dialog.ui-dialog .ui-dialog-content
{
	padding: .5em .5em;
}

.ui-tabs .ui-tabs-navscroller-btn-left
{
	height: 33px;
	width: 30px;
	padding-top: 2px;
	padding-left: 4px;
}

.ui-tabs .ui-tabs-navscroller-btn-right
{
	height: 33px;
	width: 30px;
	padding-top: 2px;
	padding-left: 4px;
}

.ui-dialog .ui-dialog-titlebar .ui-dialog-titlebar-close span
{
	font-size: 18px;
}

.pia-edit-tabview .CodeMirror
{
	height: 100px;
}

.presentation-slide-overlay
{
	color: white;
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
	background: rgb(0,0,0,0.5);
	padding: 10px;
}

.presentation-slide-overlay a,
.presentation-slide-overlay a:visited
{
	color: white;
}

@media screen and (max-width: 40em)
{
	.presentation-slide-overlay
	{
		font-size: .8em;
	}
}
