div.overlay-slide-contents
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}

div.nonhero-overlay
{
	padding: 15px;
}

div.overlay-slide-contents div.slide-title,
div.default-slide-contents div.slide-title
{
	font-weight: bold;
	font-size: 1.2em;
}

div.hero div.slide-title
{
	padding: 5px;
	font-weight: bold;
	font-size: 1.5em;
	color: white;
}

div.hero div.slide-caption
{
	padding: 5px;
	color: white;
	font-size: .9em;
	max-width: 600px;
}

div.hero div.slide-link
{
	padding: 5px;
	font-size: .75em;
}

div.hero div.slide-link a,
div.hero div.slide-link a:visited
{
	color: white;
	text-decoration: none;
	padding: 5px;
	border-radius: 6px;
}

/* Split Pane*/
div.hero div.split-pane div.slide-title
{
	padding: 0;
	font-weight: bold;
	font-size: 1.5em;
	color: #444;
}

div.hero div.split-pane div.slide-caption
{
	padding: 0;
	color: #444;
	font-size: 1em;
	max-width: none;
}

div.hero div.split-pane div.slide-link
{
	padding: 0;
	font-size: .75em;
	color: white;
}

/* Super small width */
@media screen and (max-width: 25em)
{
	div.hero div.slide-title
	{
		font-size: 1.1em;
	}

	div.hero div.slide-caption
	{
		font-size: .8em;
	}

	div.hero div.slide-caption p
	{
		margin: 0;
	}
}

/*In between small and medium*/
@media screen and (min-width: 40.063em) and (max-width: 55em)
{
	div.hero div.split-pane div.slide-title
	{
		font-size: .8em;
	}

	div.hero div.split-pane div.slide-caption
	{
		font-size: .7em;
	}

	div.hero div.split-pane div.slide-link
	{
		font-size: .8em;
	}
}

/* Large */
@media screen and (min-width: 64.063em)
{
	div.hero div.slide-title
	{
		padding: 20px 50px 0 50px;
		font-size: 3.6em;
	}

	div.hero div.slide-caption
	{
		padding: 5px 50px 0 50px;
		font-size: 1.6em;
	}

	div.hero div.slide-link
	{
		padding: 20px 50px 0 50px;
		font-size: 1.2em;
	}

	div.hero div.slide-link a,
	div.hero div.slide-link a:visited
	{
		padding: 10px;
	}

	/* Split Pane hero */
	div.hero div.split-pane div.slide-title
	{
		padding: 0;
		font-size: 1.2em;
	}

	div.hero div.split-pane  div.slide-caption
	{
		padding: 0;
		font-size: 1em;
	}

	div.hero div.split-pane  div.slide-link
	{
		padding: 20px 0;
		font-size: 1em;
	}
}

/* Xtra Large */
@media screen and (min-width:104.063em)
{
	div.hero div.slide-title
	{
		font-size: 4.6em;
	}

	div.hero div.slide-caption
	{
		font-size: 2em;
		max-width: 800px;
	}

	div.hero div.slide-link
	{
		font-size: 1.5em;
	}

	/* Split Pane hero */
	div.hero div.split-pane div.slide-title
	{
		font-size: 2.2em;
	}

	div.hero div.split-pane  div.slide-caption
	{
		font-size: 1.3em;
	}

	div.hero div.split-pane div.slide-link
	{
		font-size: 1.3em;
	}
}

div.sm-hero-slider div.slide-title
{
	padding: 5px;
	font-size: 1.5em;
}

div.sm-hero-slider div.slide-caption
{
	padding: 5px;
	font-size: .9em;
}

div.sm-hero-slider div.slide-link
{
	padding: 5px;
	font-size: .75em;
}

div.sm-hero-slider div.slide-link a
{
	padding: 5px;
}

div.xs-hero-slider div.slide-title
{
	padding: 2px 5px;
	font-size: 1em;
}

div.xs-hero-slider div.slide-caption
{
	padding: 0 5px;
	font-size: .7em;
}

div.xs-hero-slider div.slide-link
{
	padding: 2px;
	font-size: .65em;
}

div.md-hero-slider div.slide-title
{
	padding: 20px 50px 0 50px;
	font-size: 3.6em;
}

div.md-hero-slider div.slide-caption
{
	padding: 5px 50px 0 50px;
	font-size: 1.6em;
}

div.md-hero-slider div.slide-link
{
	padding: 20px 50px 0 50px;
	font-size: 1.2em;
}

div.md-hero-slider div.slide-link a
{
	padding: 10px;
}

/* Split Pane hero */
div.md-hero-slider div.split-pane div.slide-title
{
	padding: 0;
	font-size: 1.2em;
}

div.md-hero-slider div.split-pane  div.slide-caption
{
	padding: 0;
	font-size: 1em;
}

div.md-hero-slider div.split-pane  div.slide-link
{
	padding: 20px 0;
	font-size: 1em;
}

div.lg-hero-slider div.slide-title
{
	padding: 20px 50px 0 50px;
	font-size: 3.6em;
}

div.lg-hero-slider div.slide-caption
{
	padding: 5px 50px 0 50px;
	font-size: 1.6em;
}

div.lg-hero-slider div.slide-link
{
	padding: 20px 50px 0 50px;
	font-size: 1.2em;
}

/* Split Pane Hero */
div.lg-hero-slider div.split-pane div.slide-title
{
	padding: 0;
	font-size: 1.2em;
}

div.lg-hero-slider div.split-pane div.slide-caption
{
	padding: 0;
	font-size: .9em;
}

div.lg-hero-slider div.split-pane div.slide-link
{
	padding: 20px 0;
	font-size: 1em;
}

/* Split Pane hero adjustment for small pane in small parent on big screen */
div.hero div.sm-split-pane div.slide-title
{
	padding: 0;
	font-size: 1.2em;
}

div.hero div.sm-split-pane  div.slide-caption
{
	padding: 0;
	font-size: 1em;
}

div.hero div.sm-split-pane  div.slide-link
{
	padding: 20px 0;
	font-size: 1em;
}

/* Viewport font sizes */
div.hero div.vw-font div.slide-title
{
	font-size: 4vw;
}

div.hero div.vw-font div.slide-caption
{
	font-size: 2.5vw;
}

div.hero div.vw-font div.slide-link
{
	font-size: 1.5vw;
}