div.layout-debug div.ui-g-1,
div.layout-debug div.ui-g-2,
div.layout-debug div.ui-g-3,
div.layout-debug div.ui-g-4,
div.layout-debug div.ui-g-5,
div.layout-debug div.ui-g-6,
div.layout-debug div.ui-g-7,
div.layout-debug div.ui-g-8,
div.layout-debug div.ui-g-9,
div.layout-debug div.ui-g-10,
div.layout-debug div.ui-g-11,
div.layout-debug div.ui-g-12
{
	border: 1px solid blue;
	background: #E8E8E8;
}

div.layout-debug div.nav-wrapper,
div.layout-debug div.header-wrapper,
div.layout-debug div.hero-region-wrapper,
div.layout-debug div.main-content-wrapper,
div.layout-debug div.region-wrapper,
div.layout-debug div.footer-wrapper
{
	border: 1px dashed purple;
	background: #CCCCCC;
}

.image-block
{
	background-color: lightsalmon;
	padding: 10px;
	border: black solid 1px;
	margin-top: 5px;
	margin-bottom: 5px;
	border-radius: 4px;
}

.menu-block
{
	background-color: lightskyblue;
	padding: 10px;
	border: black solid 1px;
	margin-top: 5px;
	margin-bottom: 5px;
	border-radius: 4px;
}

.content-block
{
	background-color: lightgreen;
	padding: 10px;
	border: black solid 1px;
	margin-top: 5px;
	margin-bottom: 5px;
	border-radius: 4px;
}

.presentation-block
{
	background-color: lightgoldenrodyellow;
	padding: 10px;
	border: black solid 1px;
	margin-top: 5px;
	margin-bottom: 5px;
	/*max-width: 350px;*/
	border-radius: 4px;
}

.gallery-block
{
	background-color: lightseagreen;
	padding: 10px;
	border: black solid 1px;
	margin-top: 5px;
	margin-bottom: 5px;
	border-radius: 4px;
}

.dform-block
{
	background-color: lightcyan;
	padding: 10px;
	border: black solid 1px;
	margin-top: 5px;
	margin-bottom: 5px;
	border-radius: 4px;
}

.catalog-block
{
	background-color: lightsteelblue;
	padding: 10px;
	border: black solid 1px;
	margin-top: 5px;
	margin-bottom: 5px;
	border-radius: 4px;
}

.video-block
{
	background-color: white;
	padding: 10px;
	border: black solid 1px;
	margin-top: 5px;
	margin-bottom: 5px;
	border-radius: 4px;
}

.blog-block
{
	background-color: #cc99ff;
	padding: 10px;
	border: black solid 1px;
	margin-top: 5px;
	margin-bottom: 5px;
	border-radius: 4px;
}

.ui-sortable-helper
{
	color: blue;
}

.portlet-placeholder {
	border: 2px dashed purple;
	margin: 0 1em 1em 0;
	height: 122px;
}

.portlet-header
{
	border: 1px dashed white;
	padding: 5px;
	color: white;
	background-color: #888888;
}

.portlet-header-type-title
{
	font-weight: bold;
	margin-left: 10px;
	font-size: 1.1em;
}

span.portlet-handlebar
{
	cursor: move;
	font-size: 1.4em;
	float: right;
}

.region-list
{
	min-height: 25px;
}

.allowed-url-header
{
	/*font-size: .8em;*/
	text-decoration: underline;
	font-style: italic;
	margin-top: 15px;
	font-weight: bold;
	color: darkgreen;
}

.allowed-url-debug
{
	font-size: .8em;
}

.denied-url-header
{
	/*font-size: .8em;*/
	font-style: italic;
	margin-top: 5px;
	font-weight: bold;
	color: darkred;
	text-decoration: underline;
}

.denied-url-debug
{
	font-size: .8em;
}

div.debug-links
{
	float:right;
	display: inline-block;
}

a.show-urls-link,
a.show-urls-link:visited
{
	display: inline-block;
	color: black;
	font-size: .8em;
	text-decoration: none;
	padding: 2px 5px;
	margin: 3px;
}

.urls-debug,
.assignment-move-to
{
	display: none;
}

a.edit-assignment-link,
a.edit-assignment-link:visited
{
	display: inline-block;
	color: black;
	font-size: .8em;
	text-decoration: none;
	margin: 3px;
	padding: 2px 5px;
}

a.delete-assignment-link,
a.delete-assignment-link:visited
{
	display: inline-block;
	color: black;
	font-size: .8em;
	text-decoration: none;
	margin: 3px;
	padding: 2px 5px;
}

a.add-assignment-link,
a.add-assignment-link:visited
{
	float: right;
	color: black;
	font-size: .8em;
	text-decoration: none;
	margin-right: 10px;
}

a.move-assignment-link,
a.move-assignment-link:visited
{
	display: inline-block;
	color: black;
	font-size: .8em;
	text-decoration: none;
	margin: 3px;
	padding: 2px 5px;
}

a.show-urls-link > span,
a.edit-assignment-link > span,
a.delete-assignment-link > span,
a.add-assignment-link > span
{
	font-size: 1.6em;
}

a.move-assignment-link > span
{
	font-size: 2em;
}

a.show-urls-link:hover,
a.edit-assignment-link:hover,
a.delete-assignment-link:hover,
a.move-assignment-link:hover
{
	background: #888888;
	color: white;
}

a.add-assignment-link:hover
{
	color: #ea9624;
}

.assignment-move-to
{
	margin-top: 5px;
}

.assignment-move-to select
{
	width: 100%;
	padding: 5px;
}

div.debug-screens
{
	margin-top: 10px;
	font-style: italic;
	color: purple;
	font-weight: bold;
}

div.debug-item-title
{
	margin-top: 5px;
	min-height: 25px;
}

.layout-debug span.icon-screen,
.layout-debug span.icon-mobile
{
	margin-left: 5px;
	font-size: 1.4em;
}

.not-page-rendered
{
	opacity: .4;
}

.not-rendered-message
{
	float: right;
}