/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px)
{
	/* Styles */
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width: 321px)
{
	/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width: 320px)
{
	/* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px)
{
	/* Styles */
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape)
{
	/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait)
{
	/* Styles */
}

/* iPad 3 (landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2)
{
	/* Styles */
}

/* iPad 3 (portrait) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2)
{
	/* Styles */
}

/* Desktops and laptops ----------- */
@media only screen and (min-width: 1224px)
{
	div.centered-regions div.nav-regions,
	div.centered-regions div.header-regions,
	div.centered-regions div.main-content-regions,
	div.centered-regions div.content-regions,
	div.centered-regions div.footer-regions
	{
		width: 1200px;
		margin: 0 auto;
	}
}

/* Large screens ----------- */
@media only screen and (min-width: 1824px)
{
	/* Styles */
	div.centered-regions div.nav-regions,
	div.centered-regions div.header-regions,
	div.centered-regions div.main-content-regions,
	div.centered-regions div.content-regions,
	div.centered-regions div.footer-regions
	{
		width: 1200px;
		margin: 0 auto;
	}
}

@media screen and (max-width: 405px)
{
	.admin-bar-logo
	{
		display: none
	}
}

/* Small */
@media screen and (max-width: 40em)
{
	.menu-desktop-version
	{
		display: none !important;
	}

	.menu-mobile-version
	{
		display: block;
	}

	.mobile-only
	{
		display: block;
	}

	.desktop-only
	{
		display: none;
	}

	span.admin-bar-cms-title
	{
		display: none;
	}
}

/* Medium */
@media screen and (min-width: 40.063em)
{
	.menu-mobile-version
	{
		display: none;
	}

	.mobile-only
	{
		display: block;
	}

	.desktop-only
	{
		display: none;
	}
}

/* Large */
@media screen and (min-width: 64.063em)
{
	.menu-mobile-version
	{
		display: none;
	}

	.mobile-only
	{
		display: none;
	}

	.desktop-only
	{
		display: block;
	}
}

/* Large */
@media screen and (min-width:104.063em)
{

}


/* iPhone 4 (landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2)
{
	/* Styles */
}

/* iPhone 4 (portrait) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2)
{
	/* Styles */
}

/* iPhone 5 (landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2)
{
	/* Styles */
}

/* iPhone 5 (portrait) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2)
{
	/* Styles */
}

/* iPhone 6 (landscape) ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2)
{
	/* Styles */
}

/* iPhone 6 (portrait) ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2)
{
	/* Styles */
}

/* iPhone 6+ (landscape) ----------- */
@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2)
{
	/* Styles */
}

/* iPhone 6+ (portrait) ----------- */
@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2)
{
	/* Styles */
}

/* Samsung Galaxy S3 (landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2)
{
	/* Styles */
}

/* Samsung Galaxy S3 (portrait) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2)
{
	/* Styles */
}

/* Samsung Galaxy S4 (landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3)
{
	/* Styles */
}

/* Samsung Galaxy S4 (portrait) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3)
{
	/* Styles */
}

/* Samsung Galaxy S5 (landscape) ----------- */
@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3)
{
	/* Styles */
}

/* Samsung Galaxy S5 (portrait) ----------- */
@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3)
{
	/* Styles */
}

@media screen and (max-width:50.063em)
{
	.ui-smd-1{width:8.3333% !important;}
	.ui-smd-2{width:16.6667% !important;}
	.ui-smd-3{width:25% !important;}
	.ui-smd-4{width:33.3333% !important;}
	.ui-smd-5{width:41.6667% !important;}
	.ui-smd-6{width:50% !important;}
	.ui-smd-7{width:58.3333% !important;}
	.ui-smd-8{width:66.6667% !important;}
	.ui-smd-9{width:75% !important;}
	.ui-smd-10{width:83.3333% !important;}
	.ui-smd-11{width:91.6667% !important;}
	.ui-smd-12{width:100% !important;}
}