<ui:composition xmlns="http://www.w3.org/1999/xhtml"
        xmlns:f="http://java.sun.com/jsf/core"
        xmlns:h="http://java.sun.com/jsf/html"
        xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:p="http://primefaces.org/ui"
        xmlns:iberis="http://xmlns.jcp.org/jsf/composite/uicomponents">

    <style>
        div.pia-edit-tabview
        {
            border: none;
        }

        div.pia-edit-tabview div.ui-tabs-panels div.ui-tabs-panel
        {
            padding: 5px;
        }
    </style>
        <p:tabView id="form-tabs" scrollable="true" styleClass="pia-edit-tabview">
            <p:tab title="General">
                <h:panelGroup layout="block" styleClass="ui-g">
                    <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                        <p:outputLabel for="page-item:pageItemInstanceId" value="Page Item:"/>
                    </h:panelGroup>
                    <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                        <iberis:flexiblelookup id="page-item" filter="061|062|065|066|033|075|083|089|090" filterType="include" listenerMethod="#{cmsPageItemAssignmentManagement.refresh}" lookupFilter="#{cmsPageItemAssignmentManagement.getPageItemFilter()}" updateId=":page-item-assignment-management-form:form-tabs:page-item:pageItem_FLEXIBLE" dataBeanName="cmsPageItemAssignmentManagement.pageItemAssignment" fieldProperty="#{componentsUtil.getFieldProperty(409)}" value="#{cmsPageItemAssignmentManagement.pageItemAssignment.pageItem}" instanceValue="#{cmsPageItemAssignmentManagement.pageItemAssignment.pageItemInstanceId}" valueRequired="#{empty param['skipValidation']}"/>
                    </h:panelGroup>
                    <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                        <p:outputLabel for="page-region:pageRegion_PK_id" value="Page Region:"/>
                    </h:panelGroup>
                    <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                        <iberis:lookup id="page-region" displayValue="#{cmsPageItemAssignmentManagement.pageItemAssignment.pageRegion.name}" value="#{cmsPageItemAssignmentManagement.pageItemAssignment.pageRegion.id}" lookupProperties="#{componentsUtil.getLookupProperties(componentsUtil.getFieldProperty(408))}" dataBeanName="cmsPageItemAssignmentManagement.pageItemAssignment" fieldProperty="#{componentsUtil.getFieldProperty(408)}" valueRequired="#{empty param['skipValidation']}"/>
                    </h:panelGroup>
                    <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                        <p:outputLabel for="sequence:sequence_NUMBER" value="Sequence:"/>
                    </h:panelGroup>
                    <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                        <iberis:number id="sequence" value="#{cmsPageItemAssignmentManagement.pageItemAssignment.sequence}" propertyName="sequence"/>
                    </h:panelGroup>
                    <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                        <p:outputLabel for="scope:scope_TEXT" value="Scope Tag:"/>
                    </h:panelGroup>
                    <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                        <iberis:text id="scope" value="#{cmsPageItemAssignmentManagement.pageItemAssignment.scope}" propertyName="scope"/>
                    </h:panelGroup>
                </h:panelGroup>
            </p:tab>
            <p:tab title="Display">
                <h:panelGroup layout="block" styleClass="ui-g">
                    <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                        <p:outputLabel for="printable:printable_BOOLEAN" value="Show Print:"/>
                    </h:panelGroup>
                    <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                        <iberis:boolean id="printable" value="#{cmsPageItemAssignmentManagement.pageItemAssignment.printable}" propertyName="printable" />
                    </h:panelGroup>
                    <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                        <p:outputLabel for="mobile-only:mobileOnly_BOOLEAN" value="Mobile Only:"/>
                    </h:panelGroup>
                    <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                        <iberis:boolean id="mobile-only" value="#{cmsPageItemAssignmentManagement.pageItemAssignment.mobileOnly}" propertyName="mobileOnly" />
                    </h:panelGroup>
                    <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                        <p:outputLabel for="desktop-only:desktopOnly_BOOLEAN" value="Desktop Only:"/>
                    </h:panelGroup>
                    <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                        <iberis:boolean id="desktop-only" value="#{cmsPageItemAssignmentManagement.pageItemAssignment.desktopOnly}" propertyName="desktopOnly" />
                    </h:panelGroup>
                    <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                        <p:outputLabel for="remove-spacer:removeSpacer_BOOLEAN" value="Remove Spacer:"/>
                    </h:panelGroup>
                    <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                        <iberis:boolean id="remove-spacer" value="#{cmsPageItemAssignmentManagement.pageItemAssignment.removeSpacer}" propertyName="removeSpacer" />
                    </h:panelGroup>
                </h:panelGroup>
            </p:tab>
            <p:tab title="Wrapper">
                <h:panelGroup layout="block" styleClass="ui-g">
                    <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                        <p:outputLabel for="use-wrapper:useWrapper_BOOLEAN" value="Use Wrapper:"/>
                    </h:panelGroup>
                    <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                        <iberis:boolean id="use-wrapper" value="#{cmsPageItemAssignmentManagement.pageItemAssignment.useWrapper}" propertyName="useWrapper" />
                    </h:panelGroup>
                    <h:panelGroup layout="block" styleClass="ui-g-12 ui-sm-12">
                        <p:outputLabel for="begin-wrapper:beginWrapperHtml_CODE" value="Begin Wrapper Html:"/>
                    </h:panelGroup>
                    <h:panelGroup layout="block" styleClass="ui-g-12 ui-sm-12">
                        <iberis:code id="begin-wrapper" value="#{cmsPageItemAssignmentManagement.pageItemAssignment.beginWrapperHtml}" codeType="text/html" propertyName="beginWrapperHtml"/>
                    </h:panelGroup>
                    <h:panelGroup layout="block" styleClass="ui-g-12 ui-sm-12">
                        <p:outputLabel for="end-wrapper:endWrapperHtml_CODE" value="End Wrapper Html:"/>
                    </h:panelGroup>
                    <h:panelGroup layout="block" styleClass="ui-g-12 ui-sm-12">
                        <iberis:code id="end-wrapper" value="#{cmsPageItemAssignmentManagement.pageItemAssignment.endWrapperHtml}" codeType="text/html" propertyName="endWrapperHtml"/>
                    </h:panelGroup>
                </h:panelGroup>
            </p:tab>
            <p:tab title="Allowed Urls" rendered="#{cmsPageItemAssignmentManagement.pageItemAssignment.id > 0}">
                <h:panelGroup>
                    <iberis:urlselector propertyName="allowedTemp" value="#{cmsPageItemAssignmentManagement.pageItemAssignment.allowedUrls_temp}"/>

                    <p:commandButton value="Add" action="#{cmsPageItemAssignmentManagement.addAllowedUrl}" update="allowed-urls-grid">
                        <f:param name="skipValidation" value="1" />
                    </p:commandButton>
                    <p:dataTable id="allowed-urls-grid" var="item" rowIndexVar="index" value="#{cmsPageItemAssignmentManagement.pageItemAssignment.allowedUrls}" editable="true" paginator="true" rows="8" rowsPerPageTemplate="8,15,25,50">
                        <p:ajax event="rowEdit" listener="#{cmsPageItemAssignmentManagement.onAllowedUrlsRowEdit}" update="allowed-urls-grid"/>
                        <p:column>
                            <p:cellEditor>
                                <f:facet name="output"><h:outputText value="#{item.url}"/></f:facet>
                                <f:facet name="input"><p:inputText style="padding: 6px" value="#{item.url}"/></f:facet>
                            </p:cellEditor>
                        </p:column>
                        <p:column width="50">
                            <p:commandLink action="#{cmsPageItemAssignmentManagement.removeAllowedUrl(item)}" value="Delete" update="allowed-urls-grid">
                                <f:param name="skipValidation" value="1" />
                            </p:commandLink>
                        </p:column>
                        <p:column style="width:32px">
                            <p:rowEditor />
                        </p:column>
                    </p:dataTable>
                </h:panelGroup>
            </p:tab>
            <p:tab title="Denied Urls" rendered="#{cmsPageItemAssignmentManagement.pageItemAssignment.id > 0}">
                <h:panelGroup>
                    <iberis:urlselector propertyName="deniedTemp" value="#{cmsPageItemAssignmentManagement.pageItemAssignment.deniedUrls_temp}"/>

                    <p:commandButton value="Add" action="#{cmsPageItemAssignmentManagement.addDeniedUrl}" update="denied-urls-grid">
                        <f:param name="skipValidation" value="1" />
                    </p:commandButton>
                    <p:dataTable id="denied-urls-grid" var="item" rowIndexVar="index" value="#{cmsPageItemAssignmentManagement.pageItemAssignment.deniedUrls}" editable="true" paginator="true" rows="8" rowsPerPageTemplate="8,15,25,50">
                        <p:ajax event="rowEdit" listener="#{cmsPageItemAssignmentManagement.onDeniedUrlsRowEdit}" update="denied-urls-grid"/>

                        <p:column>
                            <p:cellEditor>
                                <f:facet name="output"><h:outputText value="#{item.url}"/></f:facet>
                                <f:facet name="input"><p:inputText style="padding: 6px" value="#{item.url}"/></f:facet>
                            </p:cellEditor>
                        </p:column>
                        <p:column width="50">
                            <p:commandLink action="#{cmsPageItemAssignmentManagement.removeDeniedUrl(item)}" value="Delete" update="denied-urls-grid">
                                <f:param name="skipValidation" value="1" />
                            </p:commandLink>
                        </p:column>
                        <p:column style="width:32px">
                            <p:rowEditor />
                        </p:column>
                    </p:dataTable>
                </h:panelGroup>
            </p:tab>
        </p:tabView>

        <p:commandButton action="#{cmsPageItemAssignmentManagement.savePageItemAssignment}" value="Save" update="@form"/>
        <p:messages><p:autoUpdate /></p:messages>
</ui:composition>