<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:iberis="http://xmlns.jcp.org/jsf/composite/uicomponents">
<body>
<ui:composition template="/templates/base/CMSTemplate.xhtml">
    <ui:define name="main-content">
        <div>

            <h:form id="page-item-assignment-management-form">
                <ui:include src="../CsrfTokenInsert.xhtml"/>
                <p:panel style="border: none" id="header-panel">
                    <f:facet name="header">
                        <h:panelGrid columns="2">
                            <span style="font-size: 1.4em" class="icon-list4"></span>
                            <h:outputText value="Page Item Assignment" style="font-size: 1.25em;margin-left: 20px" />
                        </h:panelGrid>
                    </f:facet>
                </p:panel>
                <p:messages><p:autoUpdate /></p:messages>
                <div class="ui-g">
                    <div class="ui-g-6 ui-sm-12 ui-smd-12">
                        <h:panelGroup layout="block" styleClass="card">
                            <h2>Assignment List</h2>
                            <p:commandButton value="Create" action="#{cmsPageItemAssignmentManagement.newPageItemAssignment}" update=":page-item-assignment-management-form:pia-update-panel"  >
                                <f:param name="skipValidation" value="1" />
                            </p:commandButton>
                            <p:dataTable id="pia-list"
                                         var="assignment"
                                         value="#{cmsPageItemAssignmentManagement.lazyLoader}" lazy="true" rendered="true" rows="10"
                                         rowsPerPageTemplate="10,15,25,50,150,250" paginator="true">
                                <p:column headerText="Page Item" priority="0">
                                    <h:outputText value="#{cmsPageItemAssignmentManagement.pageItemTitle(assignment)}"/>
                                </p:column>
                                <p:column headerText="Region" filterBy="#{assignment.pageRegion.name}" priority="3">
                                    <h:outputText value="#{assignment.pageRegion.name}"/>
                                </p:column>
                                <p:column styleClass="edit-link" width="70" priority="1">
                                    <p:commandLink value="Edit" oncomplete="scrollToElement('#update-panel-container');"
                                                   action="#{cmsPageItemAssignmentManagement.selectPageItemAssignment(assignment)}"
                                                   update=":page-item-assignment-management-form:pia-update-panel">
                                        <f:param name="skipValidation" value="1" />
                                    </p:commandLink>
                                </p:column>
                                <p:column styleClass="delete-link" width="70" priority="2">
                                    <p:commandLink value="Delete" action="#{cmsPageItemAssignmentManagement.deletePageItemAssignment(assignment)}"
                                                   update="@form"
                                                   style="margin-left: 10px">
                                        <f:param name="skipValidation" value="1" />
                                        <p:confirm header="Confirmation" message="Are you sure you want to delete this assignment?"
                                                   icon="ui-icon-alert"/>
                                    </p:commandLink>
                                </p:column>
                            </p:dataTable>
                        </h:panelGroup>
                    </div>
                    <div id="update-panel-container" class="ui-g-6 ui-sm-12 ui-smd-12">
                        <h:panelGroup id="pia-update-panel">
                            <h:panelGroup layout="block" styleClass="card" rendered="#{cmsPageItemAssignmentManagement.pageItemAssignment != null}">
                                <h2>Add / Edit Assignment</h2>
                                <ui:include src="AssignmentForm.xhtml"/>
                            </h:panelGroup>
                        </h:panelGroup>
                    </div>
                </div>

                <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
                    <p:commandButton value="Yes" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check"/>
                    <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close"/>
                </p:confirmDialog>
            </h:form>
        </div>
    </ui:define>
</ui:composition>
</body>
</html>