<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:p="http://primefaces.org/ui">
    <body>
        <ui:composition template="/templates/base/CMSTemplate.xhtml">
            <ui:define name="main-content">
                <h:form>
                    <ui:include src="../CsrfTokenInsert.xhtml"/>
                    <div class="ui-g cms-index-panels">
                        <div class="ui-g-6 ui-sm-12 ui-smd-12">
                            <div class="card">
                                <h2>Sections</h2>
                                <div class="ui-g" id="cms-index">
                                    <div class="ui-g-2 section-icon-cntr">
                                        <h:outputLink value="/cms/content-management"><span class="cms-index-icon icon-article"></span><span class="cms-index-link-text">Content</span></h:outputLink>
                                    </div>
                                    <div class="ui-g-2 section-icon-cntr">
                                        <h:outputLink value="/cms/blog-management"><span class="cms-index-icon icon-blog"></span><span class="cms-index-link-text">Blogs</span></h:outputLink>
                                    </div>
                                    <div class="ui-g-2 section-icon-cntr">
                                        <h:outputLink value="/cms/dynamic-form-management"><span class="cms-index-icon icon-newspaper"></span><span class="cms-index-link-text">Forms</span></h:outputLink>
                                    </div>
                                    <div class="ui-g-2 section-icon-cntr">
                                        <h:outputLink value="/cms/faq-management"><span class="cms-index-icon icon-question3"></span><span class="cms-index-link-text">FAQs</span></h:outputLink>
                                    </div>
                                    <div class="ui-g-2 section-icon-cntr">
                                        <h:outputLink value="/cms/file-management"><span class="cms-index-icon icon-file"></span><span class="cms-index-link-text">Files</span></h:outputLink>
                                    </div>
                                    <div class="ui-g-2 section-icon-cntr">
                                        <h:outputLink value="/cms/image-management"><span class="cms-index-icon icon-image3"></span><span class="cms-index-link-text">Images</span></h:outputLink>
                                    </div>
                                    <div class="ui-g-2 section-icon-cntr">
                                        <h:outputLink value="/cms/canvas-management"><span class="cms-index-icon icon-image"></span><span class="cms-index-link-text">Canvases</span></h:outputLink>
                                    </div>
                                    <div class="ui-g-2 section-icon-cntr">
                                        <h:outputLink value="/cms/gallery-management"><span class="cms-index-icon icon-images2"></span><span class="cms-index-link-text">Image Galleries</span></h:outputLink>
                                    </div>
                                    <div class="ui-g-2 section-icon-cntr">
                                        <h:outputLink value="/cms/layout-management"><span class="cms-index-icon icon-layout14"></span><span class="cms-index-link-text">Layouts</span></h:outputLink>
                                    </div>
                                    <div class="ui-g-2 section-icon-cntr">
                                        <h:outputLink value="/cms/menu-management"><span class="cms-index-icon icon-menu6"></span><span class="cms-index-link-text">Menus</span></h:outputLink>
                                    </div>
                                    <div class="ui-g-2 section-icon-cntr">
                                        <h:outputLink value="/cms/page-item-assignment-management"><span class="cms-index-icon icon-list4"></span><span class="cms-index-link-text">Page Item Assignments</span></h:outputLink>
                                    </div>
                                    <div class="ui-g-2 section-icon-cntr">
                                        <h:outputLink value="/cms/page-region-management"><span class="cms-index-icon icon-grid6"></span><span class="cms-index-link-text">Page Regions</span></h:outputLink>
                                    </div>
                                    <div class="ui-g-2 section-icon-cntr">
                                        <h:outputLink value="/cms/presentation-management"><span class="cms-index-icon icon-grid5"></span><span class="cms-index-link-text">Presentations</span></h:outputLink>
                                    </div>
                                    <div class="ui-g-2 section-icon-cntr">
                                        <h:outputLink value="/cms/site-settings"><span class="cms-index-icon icon-globe"></span><span class="cms-index-link-text">Site Settings</span></h:outputLink>
                                    </div>
                                    <div class="ui-g-2 section-icon-cntr">
                                        <h:outputLink value="/cms/tag-management"><span class="cms-index-icon icon-tag7"></span><span class="cms-index-link-text">Tags</span></h:outputLink>
                                    </div>
                                    <div class="ui-g-2 section-icon-cntr">
                                        <h:outputLink value="/cms/video-management"><span class="cms-index-icon icon-film4"></span><span class="cms-index-link-text">Videos</span></h:outputLink>
                                    </div>
                                    <div class="ui-g-2 section-icon-cntr">
                                        <h:outputLink value="/ecommerce/product-management"><span class="cms-index-icon icon-cube5"></span><span class="cms-index-link-text">Products</span></h:outputLink>
                                    </div>
                                    <div class="ui-g-2 section-icon-cntr">
                                        <h:outputLink value="/ecommerce/product-catalog-management"><span class="cms-index-icon icon-box4"></span><span class="cms-index-link-text">Product Catalogs</span></h:outputLink>
                                    </div>
                                    <div class="ui-g-2 section-icon-cntr">
                                        <h:outputLink value="/ecommerce/manufacturer-management"><span class="cms-index-icon icon-office"></span><span class="cms-index-link-text">Manufacturers</span></h:outputLink>
                                    </div>
                                    <div class="ui-g-2 section-icon-cntr">
                                        <h:outputLink value="/cms/redirect-management"><span class="cms-index-icon icon-redo2"></span><span class="cms-index-link-text">Url Redirects</span></h:outputLink>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ui-g-6 ui-sm-12 ui-smd-12">
                            <div class="card">
                                <h2>Recent Images</h2>
                                <p:dataTable value="#{cmsIndex.recentImages}" var="item" paginator="true" rows="5" rowsPerPageTemplate="5,8,15,25,50">
                                    <p:column width="100" priority="0">
                                        <h:graphicImage value="#{item.filePath}" width="100"/>
                                    </p:column>
                                    <p:column headerText="File Name / Path" priority="2">
                                        <h:outputText value="#{item.name}"/><br/>
                                        <h:outputText value="#{item.filePath}"/>
                                    </p:column>
                                    <p:column width="80" priority="1">
                                        <h:outputLink value="#{request.contextPath}/cms/image-management/#{item.imageid}">Edit</h:outputLink>
                                    </p:column>
                                </p:dataTable>
                            </div>
                        </div>
                    </div>
                    <div class="ui-g cms-index-panels">
                        <div class="ui-g-6 ui-sm-12 ui-smd-12">
                            <div class="card">
                                <h2>Recent Content</h2>
                                <p:dataTable value="#{cmsIndex.recentContent}" var="item" paginator="true" rows="5" rowsPerPageTemplate="5,8,15,25,50">
                                    <p:column headerText="Title" priority="0">
                                        <h:outputText value="#{item.title}"/>
                                    </p:column>
                                    <p:column headerText="Type" filerBy="#{item.type}" priority="3">
                                        <h:outputText value="#{item.type}"/>
                                    </p:column>
                                    <p:column headerText="Url Alias" priority="2">
                                        <h:outputText value="#{item.urlAlias}"/>
                                    </p:column>
                                    <p:column width="80" priority="1">
                                        <h:outputLink value="#{request.contextPath}/cms/content-management/form/#{item.id}">Edit</h:outputLink>
                                    </p:column>
                                </p:dataTable>
                            </div>
                        </div>
                        <div class="ui-g-6 ui-sm-12 ui-smd-12">
                            <div class="card">
                                <h2>Recent Galleries</h2>
                                <p:dataTable value="#{cmsIndex.recentGalleries}" var="item" paginator="true" rows="5" rowsPerPageTemplate="5,8,15,25,50">
                                    <p:column headerText="Name">
                                        <h:outputText value="#{item.name}"/>
                                    </p:column>
                                    <p:column headerText="Gallery Type">
                                        <h:outputText value="#{galleryManagement.getGalleryTypeName(item.type)}"/>
                                    </p:column>
                                    <p:column width="80">
                                        <h:outputLink value="#{request.contextPath}/cms/gallery-image-management/#{item.id}">Edit</h:outputLink>
                                    </p:column>
                                </p:dataTable>
                            </div>
                        </div>
                    </div>
                    <div class="ui-g cms-index-panels">
                        <div class="ui-g-6 ui-sm-12 ui-smd-12">
                            <div class="card">
                                <h2>Recent Presentations</h2>
                                <p:dataTable value="#{cmsIndex.recentPresentations}" var="item" paginator="true" rows="5" rowsPerPageTemplate="5,8,15,25,50">
                                    <p:column headerText="Name">
                                        <h:outputText value="#{item.name}"/>
                                    </p:column>
                                    <p:column headerText="Presentation Type">
                                        <h:outputText value="#{presentationManagement.getPresentationTypeName(item.presentationType)}"/>
                                    </p:column>
                                    <p:column width="80">
                                        <h:outputLink value="#{request.contextPath}/cms/presentation-slide-management/#{item.id}">Edit</h:outputLink>
                                    </p:column>
                                </p:dataTable>
                            </div>
                        </div>
                        <div class="ui-g-6 ui-sm-12 ui-smd-12">
                            <div class="card">
                                <h2>Recent Videos</h2>
                                <p:dataTable value="#{cmsIndex.recentVideos}" var="item" paginator="true" rows="5" rowsPerPageTemplate="5,8,15,25,50">
                                    <p:column headerText="Name" priority="0">
                                        <h:outputText value="#{item.name}"/>
                                    </p:column>
                                    <p:column headerText="File Path" priority="2">
                                        <h:outputText value="#{item.filePath}"/>
                                    </p:column>
                                    <p:column width="80" priority="1">
                                        <h:outputLink value="#{request.contextPath}/cms/video-management/#{item.id}">Edit</h:outputLink>
                                    </p:column>
                                </p:dataTable>
                            </div>
                        </div>
                    </div>
                </h:form>

            </ui:define>
        </ui:composition>
    </body>
</html>

