<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:iberis="http://xmlns.jcp.org/jsf/composite/uicomponents">
<body>
<ui:composition template="/templates/base/EmptyTemplate.xhtml">
    <ui:define name="main-content">
        <div>
            <h:form id="presentation-management-form" styleClass="quick-edit-form">
                <ui:include src="../CsrfTokenInsert.xhtml"/>
                <h:panelGroup id="presentation-update-panel">
                    <ui:include src="includes/PresentationForm.xhtml"/>
                </h:panelGroup>
                <p:commandButton action="#{presentationManagement.save}" value="Save" update="@form"/>
            </h:form>
            <p:messages><p:autoUpdate /></p:messages>
        </div>
    </ui:define>
</ui:composition>
</body>
</html>