<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:iberis="http://xmlns.jcp.org/jsf/composite/uicomponents">
<body>
<ui:composition template="/templates/base/EmptyTemplate.xhtml">
    <ui:define name="main-content">
        <div>
            <h:form id="quick-edit-form" styleClass="quick-edit-form">
                <ui:include src="../CsrfTokenInsert.xhtml"/>
                <p:tabView scrollable="true">
                    <p:tab title="General">
                        <h:panelGroup layout="block" styleClass="ui-g">
                            <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-6">
                                <p:outputLabel for="custom-html:useCustomHtml_BOOLEAN" value="Use Custom Html?"/>
                            </h:panelGroup>
                            <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-6">
                                <iberis:boolean id="custom-html" value="#{dynamicContentManagement.content.useCustomHtml}" propertyName="useCustomHtml" listenerMethod="#{dynamicContentManagement.refresh}" updateId="@form" />
                            </h:panelGroup>
                            <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-6">
                                <p:outputLabel for="editor-styles:allowEditorStyles_BOOLEAN" value="Allow Editor Styles:" />
                            </h:panelGroup>
                            <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-6">
                                <iberis:boolean id="editor-styles" value="#{dynamicContentManagement.content.allowEditorStyles}" propertyName="allowEditorStyles" />
                            </h:panelGroup>
                            <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                                <p:outputLabel for="header-layout:headerLayout_SELECTION" value="Header Layout:"/>
                            </h:panelGroup>
                            <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                                <iberis:selection id="header-layout" propertyName="headerLayout" listenerMethod="#{dynamicContentManagement.refresh}" updateId="@form" value="#{dynamicContentManagement.content.headerLayout}" listItems="#{componentsUtil.getFieldProperty(430).unitPropertyListItems}" valueRequired="false"/>
                            </h:panelGroup>
                            <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12" rendered="#{!dynamicContentManagement.content.useCustomHtml}">
                                <p:outputLabel for="content-layout:contentLayout_SELECTION" value="Content Layout:"/>
                            </h:panelGroup>
                            <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12" rendered="#{!dynamicContentManagement.content.useCustomHtml}">
                                <iberis:selection id="content-layout" propertyName="contentLayout" listenerMethod="#{dynamicContentManagement.refresh}" updateId="@form" value="#{dynamicContentManagement.content.contentLayout}" listItems="#{componentsUtil.getFieldProperty(429).unitPropertyListItems}" valueRequired="false"/>
                            </h:panelGroup>
                            <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                                <p:outputLabel for="footer-layout:footerLayout_SELECTION" value="Footer Layout:"/>
                            </h:panelGroup>
                            <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                                <iberis:selection id="footer-layout" propertyName="footerLayout" listenerMethod="#{dynamicContentManagement.refresh}" updateId="@form" value="#{dynamicContentManagement.content.footerLayout}" listItems="#{componentsUtil.getFieldProperty(431).unitPropertyListItems}" valueRequired="false"/>
                            </h:panelGroup>
                        </h:panelGroup>
                    </p:tab>
                    <p:tab title="Gallery / Pres">
                        <h:panelGroup layout="block" styleClass="ui-g">
                            <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                                <p:outputLabel for="gallery:gallery_PK_id" value="Gallery:"/>
                            </h:panelGroup>
                            <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                                <iberis:lookup id="gallery" value="#{dynamicContentManagement.content.gallery.id}" displayValue="#{dynamicContentManagement.content.gallery.name}" lookupProperties="#{componentsUtil.getLookupProperties(componentsUtil.getFieldProperty(573))}" dataBeanName="dynamicContentManagement.content" fieldProperty="#{componentsUtil.getFieldProperty(573)}" valueRequired="false"/>
                            </h:panelGroup>
                            <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                                <p:outputLabel for="presentation:presentation_PK_id" value="Presentation:"/>
                            </h:panelGroup>
                            <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                                <iberis:lookup id="presentation" value="#{dynamicContentManagement.content.presentation.id}" displayValue="#{dynamicContentManagement.content.presentation.name}" lookupProperties="#{componentsUtil.getLookupProperties(componentsUtil.getFieldProperty(574))}" dataBeanName="dynamicContentManagement.content" fieldProperty="#{componentsUtil.getFieldProperty(574)}" valueRequired="false"/>
                            </h:panelGroup>
                        </h:panelGroup>
                    </p:tab>
                    <p:tab title="Header">
                        <iberis:editor value="#{dynamicContentManagement.content.header}" propertyName="header" height="200px" width="100%"/>
                    </p:tab>
                    <p:tab title="Sub Header" rendered="#{dynamicContentManagement.content.headerLayout == 'stacked' or dynamicContentManagement.content.headerLayout == 'side by side'}">
                        <iberis:editor value="#{dynamicContentManagement.content.subHeader}" propertyName="subHeader" height="200px" width="100%"/>
                    </p:tab>
                    <p:tab title="Body">
                        <iberis:code codeType="text/html" propertyName="body" value="#{dynamicContentManagement.content.body}" rendered="#{dynamicContentManagement.content.useCustomHtml}"/>
                        <iberis:editor value="#{dynamicContentManagement.content.body}" propertyName="body" height="200px" width="100%" rendered="#{!dynamicContentManagement.content.useCustomHtml}"/>
                    </p:tab>
                    <p:tab title="2nd Body" rendered="#{!dynamicContentManagement.content.useCustomHtml and (dynamicContentManagement.content.contentLayout != null and dynamicContentManagement.content.contentLayout != '')}">
                        <iberis:editor value="#{dynamicContentManagement.content.body2}" propertyName="body2" height="200px" width="100%"/>
                    </p:tab>
                    <p:tab title="3rd Body" rendered="#{!dynamicContentManagement.content.useCustomHtml and (dynamicContentManagement.content.contentLayout != null and dynamicContentManagement.content.contentLayout != '' and !dynamicContentManagement.content.contentLayout.startsWith('2 even') and !dynamicContentManagement.content.contentLayout.startsWith('2 stacked'))}">
                        <iberis:editor value="#{dynamicContentManagement.content.body3}" propertyName="body3" height="200px" width="100%"/>
                    </p:tab>
                    <p:tab title="4th Body" rendered="#{!dynamicContentManagement.content.useCustomHtml and (dynamicContentManagement.content.contentLayout != null and dynamicContentManagement.content.contentLayout != '' and !dynamicContentManagement.content.contentLayout.startsWith('2 even') and !dynamicContentManagement.content.contentLayout.startsWith('2 stacked') and !dynamicContentManagement.content.contentLayout.startsWith('3 stacked'))}">
                        <iberis:editor value="#{dynamicContentManagement.content.body4}" propertyName="body4" height="200px" width="100%"/>
                    </p:tab>
                    <p:tab title="Footer">
                        <iberis:editor value="#{dynamicContentManagement.content.footer}" propertyName="footer" height="200px" width="100%"/>
                    </p:tab>
                    <p:tab title="Sub Footer" rendered="#{dynamicContentManagement.content.footerLayout == 'stacked' or dynamicContentManagement.content.footerLayout == 'side by side'}">
                        <iberis:editor value="#{dynamicContentManagement.content.subFooter}" propertyName="subFooter" height="200px" width="100%"/>
                    </p:tab>
                    <p:tab title="Meta Data">
                        <h:panelGroup layout="block" styleClass="ui-g">
                            <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                                <p:outputLabel for="meta-title:metaTitle_TEXT" value="Title:"/>
                            </h:panelGroup>
                            <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                                <iberis:text id="meta-title" propertyName="metaTitle" value="#{dynamicContentManagement.content.metaTitle}" />
                            </h:panelGroup>
                            <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                                <p:outputLabel for="meta-description:metaDescription_TEXTAREA" value="Description:"/>
                            </h:panelGroup>
                            <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                                <iberis:textarea id="meta-description" propertyName="metaDescription" value="#{dynamicContentManagement.content.metaDescription}" />
                            </h:panelGroup>
                        </h:panelGroup>
                    </p:tab>
                </p:tabView>
                <p:commandButton action="#{dynamicContentManagement.save}" value="Save" update="@form"/>
            </h:form>
            <p:messages><p:autoUpdate /></p:messages>
        </div>
    </ui:define>
</ui:composition>
</body>
</html>