<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:p="http://primefaces.org/ui">
    <body>
        <ui:composition template="/templates/base/CMSTemplate.xhtml">
            <ui:define name="main-content">

                <p:panel style="border: none" id="header-panel">
                    <f:facet name="header">
                        <h:panelGrid columns="2">
                            <span style="font-size: 1.4em" class="icon-search4"></span>
                            <h:outputText value="Search Results" style="font-size: 1.25em;margin-left: 20px" />
                        </h:panelGrid>
                    </f:facet>
                </p:panel>
                <div class="ui-g cms-index-panels">
                    <div class="ui-g-6 ui-sm-12">
                        <div class="card">
                            <h2>Content</h2>
                            <h:form>
                                <ui:include src="../CsrfTokenInsert.xhtml"/>
                                <p:dataTable value="#{search.contentList}" var="item" paginator="true" rows="8" >
                                    <p:column headerText="Title" filterBy="#{item.title}" filterMatchMode="contains">
                                        <h:outputText value="#{item.title}"/>
                                    </p:column>
                                    <p:column headerText="Type" filterBy="#{item.type}" filterMatchMode="contains">
                                        <h:outputText value="#{item.type}"/>
                                    </p:column>
                                    <p:column headerText="Url Alias" filterBy="#{item.urlAlias}" filterMatchMode="contains">
                                        <h:outputText value="#{item.urlAlias}"/>
                                    </p:column>
                                    <p:column width="80">
                                        <h:outputLink value="#{request.contextPath}/cms/content-management/form/#{item.id}">Edit</h:outputLink>
                                    </p:column>
                                </p:dataTable>
                            </h:form>
                        </div>
                    </div>
                    <div class="ui-g-6 ui-sm-12">
                        <div class="card">
                            <h2>Images</h2>
                            <h:form>
                                <ui:include src="../CsrfTokenInsert.xhtml"/>
                                <p:dataTable value="#{search.imageList}" var="item" paginator="true" rows="8" >
                                    <p:column width="100">
                                        <h:graphicImage value="#{item.filePath}" width="100"/>
                                    </p:column>
                                    <p:column headerText="Id" width="80">
                                        <h:outputText value="#{item.imageid}"/>
                                    </p:column>
                                    <p:column headerText="File Name / Path" filterBy="#{item.name}">
                                        <h:outputText value="#{item.name}"/><br/>
                                        <h:outputText value="#{item.filePath}"/>
                                    </p:column>
                                    <p:column width="80">
                                        <h:outputLink value="#{request.contextPath}/cms/image-management/#{item.imageid}">Edit</h:outputLink>
                                    </p:column>
                                </p:dataTable>
                            </h:form>
                        </div>
                    </div>
                </div>
                <div class="ui-g cms-index-panels">
                    <div class="ui-g-6 ui-sm-12">
                        <div class="card">
                            <h2>Galleries</h2>
                            <h:form>
                                <ui:include src="../CsrfTokenInsert.xhtml"/>
                                <p:dataTable value="#{search.galleryList}" var="item" paginator="true" rows="8" >
                                    <p:column headerText="Name" filterBy="#{item.name}" filterMatchMode="contains">
                                        <h:outputText value="#{item.name}"/>
                                    </p:column>
                                    <p:column headerText="Gallery Type">
                                        <h:outputText value="#{galleryManagement.getGalleryTypeName(item.type)}"/>
                                    </p:column>
                                    <p:column width="80">
                                        <h:outputLink value="#{request.contextPath}/cms/gallery-image-management/#{item.id}">Edit</h:outputLink>
                                    </p:column>
                                </p:dataTable>
                            </h:form>
                        </div>
                    </div>
                    <div class="ui-g-6 ui-sm-12">
                        <div class="card">
                            <h2>Presentations</h2>
                            <h:form>
                                <ui:include src="../CsrfTokenInsert.xhtml"/>
                                <p:dataTable value="#{search.presentationList}" var="item" paginator="true" rows="8" >
                                    <p:column headerText="Name" filterBy="#{item.name}" filterMatchMode="contains">
                                        <h:outputText value="#{item.name}"/>
                                    </p:column>
                                    <p:column headerText="Presentation Type">
                                        <h:outputText value="#{presentationManagement.getPresentationTypeName(item.presentationType)}"/>
                                    </p:column>
                                    <p:column width="80">
                                        <h:outputLink value="#{request.contextPath}/cms/presentation-slide-management/#{item.id}">Edit</h:outputLink>
                                    </p:column>
                                </p:dataTable>
                            </h:form>
                        </div>
                    </div>
                </div>
                <div class="ui-g cms-index-panels">
                    <div class="ui-g-6 ui-sm-12">
                        <div class="card">
                            <h2>Videos</h2>
                            <h:form>
                                <ui:include src="../CsrfTokenInsert.xhtml"/>
                                <p:dataTable value="#{search.videoList}" var="item" paginator="true" rows="8" >
                                    <p:column headerText="Name" filterBy="#{item.name}" filterMatchMode="contains">
                                        <h:outputText value="#{item.name}"/>
                                    </p:column>
                                    <p:column headerText="File Path" filterBy="#{item.filePath}" filterMatchMode="contains">
                                        <h:outputText value="#{item.filePath}"/>
                                    </p:column>
                                    <p:column width="80">
                                        <h:outputLink value="#{request.contextPath}/cms/video-management/#{item.id}">Edit</h:outputLink>
                                    </p:column>
                                </p:dataTable>
                            </h:form>
                        </div>
                    </div>
                </div>

            </ui:define>
        </ui:composition>
    </body>
</html>

