<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:iberis="http://xmlns.jcp.org/jsf/composite/uicomponents">
<body>
<ui:composition template="/templates/base/CMSTemplate.xhtml">
    <ui:define name="main-content">
        <div class="site-management">

            <h:form id="site-management-form">
                <ui:include src="../CsrfTokenInsert.xhtml"/>
                <p:panel style="border: none" id="header-panel">
                    <f:facet name="header">
                        <h:panelGrid columns="2">
                            <span style="font-size: 1.4em" class="icon-globe"></span>
                            <h:outputText value="Site Settings" style="font-size: 1.25em;margin-left: 20px" />
                        </h:panelGrid>
                    </f:facet>
                </p:panel>
                <p:messages><p:autoUpdate /></p:messages>
                <h:panelGroup layout="block" styleClass="card">
                    <h2><p:commandButton value="Save" action="#{cmsSiteSettings.saveSiteSettings}" update="@form"/></h2>
                    <p:tabView scrollable="true">
                        <p:tab title="General">
                            <h:panelGroup layout="block" styleClass="ui-g">
                                <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                                    <p:outputLabel for="site-name:siteName_TEXT" value="Site Name:"/>
                                </h:panelGroup>
                                <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                                    <iberis:text id="site-name" propertyName="siteName" value="#{cmsSiteSettings.site.siteName}" valueRequired="#{empty param['skipValidation']}"/>
                                </h:panelGroup>
                                <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                                    <p:outputLabel for="url:url_TEXT" value="URL:"/>
                                </h:panelGroup>
                                <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                                    <iberis:text id="url" propertyName="url" value="#{cmsSiteSettings.site.url}" valueRequired="#{empty param['skipValidation']}"/>
                                </h:panelGroup>
                                <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                                    <p:outputLabel for="site-type:siteType_PK_typeID" value="Site Type:"/>
                                </h:panelGroup>
                                <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                                    <iberis:lookup id="site-type" displayValue="#{cmsSiteSettings.site.siteType.type}" value="#{cmsSiteSettings.site.siteType.typeID}" lookupProperties="#{componentsUtil.getLookupProperties(componentsUtil.getFieldProperty(34))}" dataBeanName="siteManagment.site" fieldProperty="#{componentsUtil.getFieldProperty(34)}"/>
                                </h:panelGroup>
                            </h:panelGroup>
                        </p:tab>
                        <p:tab title="Mail">
                            <h:panelGroup layout="block" styleClass="ui-g">
                                <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                                    <p:outputLabel for="mail-platform:mailPlatform_SELECTION" value="Mail Platform:"/>
                                </h:panelGroup>
                                <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                                    <iberis:selection id="mail-platform" listItems="#{listUtil.getUnitPropertyList('1,Mail Server|2,Mail Gun')}" propertyName="mailPlatform" value="#{cmsSiteSettings.site.mailPlatform}" />
                                </h:panelGroup>
                                <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                                    <p:outputLabel for="mail-from:mailFrom_TEXT" value="Mail From:"/>
                                </h:panelGroup>
                                <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                                    <iberis:text id="mail-from" propertyName="mailFrom" value="#{cmsSiteSettings.site.mailFrom}" />
                                </h:panelGroup>
                                <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                                    <p:outputLabel for="mail-host:mailHost_TEXT" value="Mail Host:"/>
                                </h:panelGroup>
                                <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                                    <iberis:text id="mail-host" propertyName="mailHost" value="#{cmsSiteSettings.site.mailHost}" />
                                </h:panelGroup>
                                <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                                    <p:outputLabel for="mail-port:mailPort_NUMBER" value="Mail Port:"/>
                                </h:panelGroup>
                                <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                                    <iberis:number id="mail-port" propertyName="mailPort" value="#{cmsSiteSettings.site.mailPort}" />
                                </h:panelGroup>
                                <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                                    <p:outputLabel for="mail-use-ssl:mailUseSSL_BOOLEAN" value="Mail Use SSL:"/>
                                </h:panelGroup>
                                <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                                    <iberis:boolean id="mail-use-ssl" propertyName="mailUseSSL" value="#{cmsSiteSettings.site.mailUseSSL}" />
                                </h:panelGroup>
                                <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                                    <p:outputLabel for="mail-user:mailUser_TEXT" value="Mail User:"/>
                                </h:panelGroup>
                                <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                                    <iberis:text id="mail-user" propertyName="mailUser" value="#{cmsSiteSettings.site.mailUser}" />
                                </h:panelGroup>
                                <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                                    <p:outputLabel for="mail-user-password:mailUserPassword_TEXT" value="Mail User Password / Token:"/>
                                </h:panelGroup>
                                <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                                    <iberis:text id="mail-user-password" propertyName="mailUserPassword" value="#{cmsSiteSettings.site.mailUserPassword}" />
                                </h:panelGroup>
                            </h:panelGroup>
                        </p:tab>
                        <p:tab title="CMS Settings">
                            <h:panelGroup layout="block" styleClass="ui-g">
                                <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                                    <p:outputLabel for="logo:logo_PK_imageid" value="Logo:"/>
                                </h:panelGroup>
                                <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                                    <h:panelGroup>
                                        <iberis:lookup id="logo" value="#{cmsSiteSettings.site.logo.imageid}" displayValue="#{cmsSiteSettings.site.logo.name}" lookupProperties="#{componentsUtil.getLookupProperties(componentsUtil.getFieldProperty(576))}" dataBeanName="cmsSiteSettings.site" fieldProperty="#{componentsUtil.getFieldProperty(576)}" valueRequired="false"/>
                                        <h:graphicImage rendered="#{cmsSiteSettings.site.logo != null and cmsSiteSettings.site.logo.imageid > 0}" value="#{cmsSiteSettings.site.logo.filePath}" style="max-width: 200px"/>
                                    </h:panelGroup>
                                </h:panelGroup>
                                <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                                    <p:outputLabel for="front-page-content:frontPageContent_PK_id" value="Front Page Content:"/>
                                </h:panelGroup>
                                <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                                    <iberis:lookup id="front-page-content" displayValue="#{cmsSiteSettings.site.frontPageContent.title}" value="#{cmsSiteSettings.site.frontPageContent.id}" lookupProperties="#{componentsUtil.getLookupProperties(componentsUtil.getFieldProperty(479))}" dataBeanName="cmsSiteSettings.site" fieldProperty="#{componentsUtil.getFieldProperty(479)}" filter="LEFT JOIN o.sites AS s WHERE s.siteID = #{cmsSiteSettings.site.siteID} or o.availableGlobal = 1"/>
                                </h:panelGroup>
                                <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                                    <p:outputLabel for="front-layout:frontPageTemplate_PK_id" value="Front Page Template:"/>
                                </h:panelGroup>
                                <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                                    <iberis:lookup id="front-layout" valueRequired="#{empty param['skipValidation']}" displayValue="#{cmsSiteSettings.site.frontPageTemplate.name}" value="#{cmsSiteSettings.site.frontPageTemplate.id}" lookupProperties="#{componentsUtil.getLookupProperties(componentsUtil.getFieldProperty(477))}" dataBeanName="cmsSiteSettings.site" fieldProperty="#{componentsUtil.getFieldProperty(477)}"/>
                                </h:panelGroup>
                                <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                                    <p:outputLabel for="inner-page-template:innerPageTemplate_PK_id" value="Inner Page Template:"/>
                                </h:panelGroup>
                                <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                                    <iberis:lookup id="inner-page-template" valueRequired="#{empty param['skipValidation']}" displayValue="#{cmsSiteSettings.site.innerPageTemplate.name}" value="#{cmsSiteSettings.site.innerPageTemplate.id}" lookupProperties="#{componentsUtil.getLookupProperties(componentsUtil.getFieldProperty(478))}" dataBeanName="cmsSiteSettings.site" fieldProperty="#{componentsUtil.getFieldProperty(478)}"/>
                                </h:panelGroup>
                                <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                                    <p:outputLabel for="show-front-page-content:showFrontPageContent_BOOLEAN" value="Show Front Page Content:"/>
                                </h:panelGroup>
                                <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                                    <iberis:boolean id="show-front-page-content" value="#{cmsSiteSettings.site.showFrontPageContent}" propertyName="showFrontPageContent" />
                                </h:panelGroup>
                                <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                                    <p:outputLabel for="center-regions:centerRegions_BOOLEAN" value="Center Regions:"/>
                                </h:panelGroup>
                                <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                                    <iberis:boolean id="center-regions" value="#{cmsSiteSettings.site.centerRegions}" propertyName="centerRegions" />
                                </h:panelGroup>
                                <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                                    <p:outputLabel for="registration:allowRegistration_BOOLEAN" value="Allow Registration:"/>
                                </h:panelGroup>
                                <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                                    <iberis:boolean id="registration" value="#{cmsSiteSettings.site.allowRegistration}" propertyName="allowRegistration" />
                                </h:panelGroup>
                                <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                                    <p:outputLabel for="username-email:emailAsUsername_BOOLEAN" value="Email As Username:"/>
                                </h:panelGroup>
                                <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                                    <iberis:boolean id="username-email" value="#{cmsSiteSettings.site.emailAsUsername}" propertyName="emailAsUsername" />
                                </h:panelGroup>
                                <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                                    <p:outputLabel for="login-html:customLoginHtml_CODE" value="Login Header Html:"/>
                                </h:panelGroup>
                                <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                                    <iberis:code id="login-html" value="#{cmsSiteSettings.site.customLoginHtml}" codeType="text/html" propertyName="customLoginHtml" />
                                </h:panelGroup>
                            </h:panelGroup>
                        </p:tab>
                        <p:tab title="Meta Data">
                            <h:panelGroup layout="block" styleClass="ui-g">
                                <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                                    <p:outputLabel for="meta-title:metaTitle_TEXT" value="Title:"/>
                                </h:panelGroup>
                                <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                                    <iberis:text id="meta-title" propertyName="metaTitle" value="#{cmsSiteSettings.site.metaTitle}" />
                                </h:panelGroup>
                                <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                                    <p:outputLabel for="meta-description:metaDescription_TEXTAREA" value="Description:"/>
                                </h:panelGroup>
                                <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                                    <iberis:textarea id="meta-description" propertyName="metaDescription" value="#{cmsSiteSettings.site.metaDescription}" />
                                </h:panelGroup>
                            </h:panelGroup>
                        </p:tab>
                    </p:tabView>
                </h:panelGroup>

            </h:form>
        </div>
    </ui:define>
</ui:composition>
</body>
</html>