<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
        xmlns:p="http://primefaces.org/ui"
        xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
      xmlns:iberis="http://xmlns.jcp.org/jsf/composite/uicomponents">
    <body>
        <ui:composition template="/templates/base/AdminTemplate.xhtml">
            
            <ui:define name="main-content">

                <p:panel style="border: none">
                    <f:facet name="header">
                        <h:panelGrid columns="2">
                            <span style="font-size: 1.4em" class="icon-redo2"></span>
                            <h:outputText value="Url Redirects" style="font-size: 1.25em;margin-left: 20px" />
                        </h:panelGrid>
                    </f:facet>
                </p:panel>
                <h:panelGroup layout="block" styleClass="card">
                    <h2>
                        <h:form id="resourceBundleForm">
                            <ui:include src="../CsrfTokenInsert.xhtml"/>
                            <div class="ui-g">
                                <div class="ui-g-2 ui-sm-12">
                                    <p:outputLabel for="redirect-from" value="Redirect From"/>
                                </div>
                                <div class="ui-g-4 ui-sm-12">
                                    <p:inputText id="redirect-from" required="true" value="#{urlRedirectManagement.urlRedirect.redirectFrom}" style="width: 97%;padding: 6px;"/>
                                </div>
                                <div class="ui-g-2 ui-sm-12">
                                    <p:outputLabel for="redirect-to" value="Redirect To"/>
                                </div>
                                <div class="ui-g-3 ui-sm-12">
                                    <p:inputText id="redirect-to" required="true" value="#{urlRedirectManagement.urlRedirect.redirectTo}" style="width: 97%;padding: 6px;"/>
                                </div>
                                <div class="ui-g-1 ui-sm-12">
                                    <p:commandButton value="Add" action="#{urlRedirectManagement.addRedirect}" update="@form,:iconGridForm"/>
                                </div>
                            </div>
                        </h:form>
                    </h2>

                    <h:form id="iconGridForm">
                        <ui:include src="../CsrfTokenInsert.xhtml"/>
                        <p:messages><p:autoUpdate /></p:messages>
                        <p:dataTable id="unitDataTable"  reflow="true"
                                     var="item" value="#{urlRedirectManagement.lazyLoader}"  lazy="true" rendered="true" rows="10"
                                     rowsPerPageTemplate="10,15,25,50,150,250"  style="margin-top: 10px" editable="true"
                                     paginator="true"  paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}">

                            <p:ajax event="rowEdit" listener="#{urlRedirectManagement.onRowEdit}" />
                            <p:ajax event="rowEditCancel" listener="#{urlRedirectManagement.onRowCancel}" />
                            <p:column style="width:32px">
                                <p:rowEditor />
                            </p:column>
                            <p:column headerText="Redirect From" filterBy="#{item.redirectFrom}">
                                <p:cellEditor>
                                    <f:facet name="output"><h:outputText value="#{item.redirectFrom}"/></f:facet>
                                    <f:facet name="input"><p:inputText style="padding: 6px" value="#{item.redirectFrom}"/></f:facet>
                                </p:cellEditor>
                            </p:column>
                            <p:column headerText="Redirect To" filterBy="#{item.redirectTo}">
                                <p:cellEditor>
                                    <f:facet name="output"><h:outputText value="#{item.redirectTo}"/></f:facet>
                                    <f:facet name="input"><p:inputText style="padding: 6px" value="#{item.redirectTo}"/></f:facet>
                                </p:cellEditor>
                            </p:column>
                            <p:column headerText="Enabled">
                                <p:cellEditor>
                                    <f:facet name="output"><h:outputText value="#{(item.enabled)?'Yes':'No'}"/></f:facet>
                                    <f:facet name="input"><iberis:boolean value="#{item.enabled}" propertyName="enabled-edit"/></f:facet>
                                </p:cellEditor>
                            </p:column>
                            <p:column width="80">
                                <p:commandLink value="Delete" action="#{urlRedirectManagement.delete(item)}" update="@form">
                                    <f:param name="skipValidation" value="1" />
                                </p:commandLink>
                            </p:column>

                        </p:dataTable>
                    </h:form>
                </h:panelGroup>
            </ui:define>
        </ui:composition>
    </body>
</html>

