<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
      xmlns:iberis="http://xmlns.jcp.org/jsf/composite/uicomponents">
<body>
<ui:composition template="/templates/base/Template.xhtml">
    <ui:define name="main-content">
        <h:panelGroup layout="block" styleClass="product-catalog}" id="product-catalog-#{productCatalogView.productCatalog.id}">
            <c:if test="#{productCatalogView.productCatalog.customTemplate == null || productCatalogView.productCatalog.customTemplate.trim() == ''}">
                <p:dialog width="750" height="520" id="product-gallery-dialog" widgetVar="product-gallery-dialog" header="Product Gallery" closable="true" draggable="false" modal="true" appendTo="@(body)">
                    <p:commandButton type="button" onclick="PF('gallery-switch-#{productCatalogView.productCatalog.id}').previous();"
                                     id="prev" escape="false" value="&lt;span class='icon-previous'&gt;&lt;/span&gt;"/>
                    <p:commandButton type="button" onclick="PF('gallery-switch-#{productCatalogView.productCatalog.id}').next();"
                                     id="next" escape="false" value="&lt;span class='icon-next'&gt;&lt;/span&gt;"/>
                    <p:imageSwitch effect="fade" widgetVar="gallery-switch-#{productCatalogView.productCatalog.id}" id="gallery-switch-#{productCatalogView.productCatalog.id}" slideshowAuto="false">
                        <ui:repeat value="#{productCatalogView.productGallery.galleryImages}" var="galleryImage" id="manuelSwitcherImages">
                            <p:graphicImage value="#{galleryImage.image.filePath}" rendered="#{galleryImage.image != null}" title="#{galleryImage.caption}" style="max-width: 97%"/>
                        </ui:repeat>
                    </p:imageSwitch>
                </p:dialog>
            </c:if>
            <c:if test="#{productCatalogView.productCatalog.customTemplate == null || productCatalogView.productCatalog.customTemplate.trim() == ''}">
                <h:form>
                    <ui:include src="../CsrfTokenInsert.xhtml"/>
                    <p:messages><p:autoUpdate /></p:messages>
                    <c:if test="#{productCatalogView.productCatalog.showTitle}">
                        <h:outputText value="&lt;#{productCatalogView.productCatalog.titleSize}&gt;#{productCatalogView.productCatalog.name}&lt;/#{productCatalogView.productCatalog.titleSize}&gt;" escape="false"/>
                    </c:if>

                    <h:panelGroup id="header" layout="block" style="margin-top: 15px" rendered="#{productCatalogView.productCatalog.header != null and productCatalogView.productCatalog.header != ''}">
                        <h:outputText escape="false" value="${textUtil.getCleanHtml(productCatalogView.productCatalog.header)}"/>
                    </h:panelGroup>

                    <h:panelGroup id="sub-header" layout="block" style="margin-top: 15px" rendered="#{productCatalogView.productCatalog.subHeader != null and productCatalogView.productCatalog.subHeader != ''}">
                        <h:outputText escape="false" value="${textUtil.getCleanHtml(productCatalogView.productCatalog.subHeader)}"/>
                    </h:panelGroup>

                    <c:if test="#{productCatalogView.productCatalog.layoutMode == 1}">
                        <p:dataGrid var="product" value="#{productCatalogView.lazyLoader}" columns="#{productCatalogView.productCatalog.columns}" layout="grid"
                                    rows="#{productCatalogView.productCatalog.initialRows}" paginator="true" id="product-list" lazy="true"
                                    paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                    rowsPerPageTemplate="#{productCatalogView.productCatalog.pagerTemplate}">

                            <p:panel header="#{product.productName}">

                                <p:graphicImage value="#{product.mainImage.image.filePath}" style="max-height: 200px"/>

                                <div>
                                    <div>
                                        <h:outputText value="Price: &lt;b&gt;$ #{product.price}&lt;/b&gt;" escape="false" />
                                        <div style="float: right;">
                                            <p:commandLink value="View" action="#{productCatalogView.createProductGallery(product)}" update=":product-gallery-dialog" oncomplete="PF('product-gallery-dialog').show()">
                                                <f:param name="skipValidation" value="1" />
                                            </p:commandLink>
                                            <p:commandLink value="Add To Cart" action="#{shoppingCart.addProduct(product)}" style="margin-left: 10px">
                                                <f:param name="skipValidation" value="1" />
                                            </p:commandLink>
                                        </div>
                                    </div>

                                </div>

                            </p:panel>

                        </p:dataGrid>
                    </c:if>

                    <c:if test="#{productCatalogView.productCatalog.layoutMode == 2}">
                        <p:dataTable id="product-table" lazy="true"
                                     var="product"
                                     value="#{productCatalogView.lazyLoader}" rendered="true" rows="#{productCatalogView.productCatalog.initialRows}"
                                     rowsPerPageTemplate="#{productCatalogView.productCatalog.pagerTemplate}" paginator="true">
                            <p:column width="120">
                                <h:graphicImage value="#{product.mainImage.image.filePath}" width="120"/>
                            </p:column>
                            <p:column headerText="Name">
                                <h:outputText value="#{product.productName}"/>
                            </p:column>
                            <p:column headerText="Price">
                                <h:outputText value="&lt;b&gt;$ #{product.price}&lt;/b&gt;" escape="false"/>
                            </p:column>
                            <p:column width="70">
                                <p:commandLink value="View" action="#{productCatalogView.createProductGallery(product)}" update=":product-gallery-dialog" oncomplete="PF('product-gallery-dialog').show()">
                                    <f:param name="skipValidation" value="1" />
                                </p:commandLink>
                            </p:column>
                            <p:column width="120">
                                <p:commandLink value="Add To Cart" action="#{shoppingCart.addProduct(product)}">
                                    <f:param name="skipValidation" value="1" />
                                </p:commandLink>
                            </p:column>
                        </p:dataTable>
                    </c:if>

                    <h:panelGroup id="footer" layout="block" style="margin-top: 15px" rendered="#{productCatalogView.productCatalog.footer != null and productCatalogView.productCatalog.footer != ''}">
                        <h:outputText escape="false" value="${textUtil.getCleanHtml(productCatalogView.productCatalog.footer)}"/>
                    </h:panelGroup>

                    <h:panelGroup id="sub-footer" layout="block" style="margin-top: 15px" rendered="#{productCatalogView.productCatalog.subFooter != null and productCatalogView.productCatalog.subFooter != ''}">
                        <h:outputText escape="false" value="${textUtil.getCleanHtml(productCatalogView.productCatalog.subFooter)}"/>
                    </h:panelGroup>
                </h:form>
            </c:if>
            <c:if test="#{productCatalogView.productCatalog.customTemplate != null and productCatalogView.productCatalog.customTemplate.trim() != ''}">
                <ui:include src="/custom/catalog/#{productCatalogView.productCatalog.customTemplate}"/>
            </c:if>
        </h:panelGroup>
        <p:contextMenu for="product-catalog-#{productCatalogView.productCatalog.id}" rendered="#{request.isUserInRole('Admin')}">
            <p:menuitem url="/ecommerce/product-catalog-management/#{productCatalogView.productCatalog.id}" value="Edit Catalog"/>
        </p:contextMenu>
    </ui:define>

</ui:composition>
</body>
</html>