<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:iberis="http://xmlns.jcp.org/jsf/composite/uicomponents">
<body>
<ui:composition template="/templates/base/Template.xhtml">
    <ui:define name="main-content">
        <div>

            <h:form id="shopping-cart-form">
                <ui:include src="../CsrfTokenInsert.xhtml"/>
                <p:panel style="border: none" id="header-panel">
                    <f:facet name="header">
                        <h:panelGrid columns="2">
                            <span style="font-size: 1.4em" class="icon-cart3"></span>
                            <h:outputText value="Shopping Cart" style="font-size: 1.25em;margin-left: 20px" />
                        </h:panelGrid>
                    </f:facet>
                </p:panel>
                <p:messages id="msgs" autoUpdate="false"/>

                <p:dataTable id="cart-list"
                             var="cartItem" editable="true" editMode="cell"
                             value="#{shoppingCart.items}" rendered="true" rows="5"
                             rowsPerPageTemplate="5,10,15,25,50,150,250" paginator="true">
                    <p:ajax event="cellEdit" listener="#{shoppingCart.onCellEdit}" update=":shopping-cart-form:msgs" />
                    <p:column width="100">
                        <h:graphicImage value="#{cartItem.product.mainImage.image.filePath}" width="100"/>
                    </p:column>
                    <p:column headerText="Id" width="60">
                        <h:outputText value="#{cartItem.product.productId}"/>
                    </p:column>
                    <p:column headerText="Name">
                        <h:outputText value="#{cartItem.product.productName}"/>
                    </p:column>
                    <p:column headerText="Quantity">
                        <p:cellEditor>
                            <f:facet name="output"><h:outputText value="#{cartItem.quantity}" /></f:facet>
                            <f:facet name="input"><p:spinner value="#{cartItem.quantity}" min="1" max="50" /></f:facet>
                        </p:cellEditor>
                    </p:column>
                    <p:column headerText="Price">
                        <h:outputText value="$ #{cartItem.product.price}"/>
                    </p:column>
                    <p:column width="70">
                        <p:commandLink value="Remove" action="#{shoppingCart.removeProduct(cartItem)}"
                                       update="@form"
                                       style="margin-left: 10px">
                            <f:param name="skipValidation" value="1" />
                            <p:confirm header="Confirmation" message="Are you sure you want to remove this product?"
                                       icon="ui-icon-alert"/>
                        </p:commandLink>
                    </p:column>
                </p:dataTable>
                <h2>Total: $ #{shoppingCart.total}</h2>
                <p:commandButton value="Checkout" action="#{shoppingCart.checkout}"
                               update="@form"
                               style="margin-left: 10px"/>
                <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
                    <p:commandButton value="Yes" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check"/>
                    <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close"/>
                </p:confirmDialog>
            </h:form>
        </div>
    </ui:define>
</ui:composition>
</body>
</html>