/* 
 * New Grid CSS
 * Used to override the current primefaces grid system with the newer flexbox capabilities.
 * This was modified to use css taken from primeflex so that the templates for all pages did
 * not have to have the css class names changed. Easier to change this css file and to override
 * the grid css in primefaces than change hundreds of files.
 */
.ui-g {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	/*margin-right: -0.5em;
	margin-left: -0.5em;
	margin-top: -0.5em;*/
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.ui-nogutter {
	margin-right: 0;
	margin-left: 0;
	margin-top: 0; }

.ui-nogutter > .ui-col,
.ui-nogutter > [class*="ui-g-"] {
	padding: 0; }

.ui-dir-rev {
	-webkit-box-orient: horizontal;
	-webkit-box-direction: reverse;
	-ms-flex-direction: row-reverse;
	flex-direction: row-reverse; }

.ui-dir-col {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column; }

.ui-dir-col-rev {
	-webkit-box-orient: vertical;
	-webkit-box-direction: reverse;
	-ms-flex-direction: column-reverse;
	flex-direction: column-reverse; }

.ui-justify-start {
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start; }

.ui-justify-end {
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end; }

.ui-justify-center {
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center; }

.ui-justify-between {
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between; }

.ui-justify-around {
	-ms-flex-pack: distribute;
	justify-content: space-around; }

.ui-justify-even {
	-webkit-box-pack: space-evenly;
	-ms-flex-pack: space-evenly;
	justify-content: space-evenly; }

.ui-align-start {
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start; }

.ui-align-end {
	-webkit-box-align: end;
	-ms-flex-align: end;
	align-items: flex-end; }

.ui-align-center {
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center; }

.ui-align-baseline {
	-webkit-box-align: baseline;
	-ms-flex-align: baseline;
	align-items: baseline; }

.ui-align-stretch {
	-webkit-box-align: stretch;
	-ms-flex-align: stretch;
	align-items: stretch; }

.ui-col {
	-webkit-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	-ms-flex-preferred-size: 0;
	flex-basis: 0;
	padding: 0.5em; }

.ui-col-fixed {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 auto;
	flex: 0 0 auto;
	padding: 0.5em; }

.ui-col-align-start {
	-ms-flex-item-align: start;
	align-self: flex-start; }

.ui-col-align-end {
	-ms-flex-item-align: end;
	align-self: flex-end; }

.ui-col-align-center {
	-ms-flex-item-align: center;
	-ms-grid-row-align: center;
	align-self: center; }

.ui-col-align-baseline {
	-ms-flex-item-align: baseline;
	align-self: baseline; }

.ui-col-align-stretch {
	-ms-flex-item-align: stretch;
	-ms-grid-row-align: stretch;
	align-self: stretch; }

.ui-col-nogutter {
	padding: 0; }

.ui-g-1,
.ui-g-2,
.ui-g-3,
.ui-g-4,
.ui-g-5,
.ui-g-6,
.ui-g-7,
.ui-g-8,
.ui-g-9,
.ui-g-10,
.ui-g-11,
.ui-g-12 {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 auto;
	flex: 0 0 auto;
	padding: 0.5em;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	float: none;
}

.ui-g-1 {
    width: 8.3333%;
}

.ui-g-2 {
    width: 16.6667%;
}

.ui-g-3 {
    width: 25%;
}

.ui-g-4 {
    width: 33.3333%;
}

.ui-g-5 {
    width: 41.6667%;
}

.ui-g-6 {
    width: 50%;
}

.ui-g-7 {
    width: 58.3333%;
}

.ui-g-8 {
    width: 66.6667%;
}

.ui-g-9 {
    width: 75%;
}

.ui-g-10 {
    width: 83.3333%;
}

.ui-g-11 {
    width: 91.6667%;
}

.ui-g-12 {
    width: 100%;
}

.ui-offset-12 {
	margin-left: 100%; }

.ui-offset-11 {
	margin-left: 91.66666667%; }

.ui-offset-10 {
	margin-left: 83.33333333%; }

.ui-offset-9 {
	margin-left: 75%; }

.ui-offset-8 {
	margin-left: 66.66666667%; }

.ui-offset-7 {
	margin-left: 58.33333333%; }

.ui-offset-6 {
	margin-left: 50%; }

.ui-offset-5 {
	margin-left: 41.66666667%; }

.ui-offset-4 {
	margin-left: 33.33333333%; }

.ui-offset-3 {
	margin-left: 25%; }

.ui-offset-2 {
	margin-left: 16.66666667%; }

.ui-offset-1 {
	margin-left: 8.33333333%; }

.ui-offset-0 {
	margin-left: 0%; }

@media screen and (max-width: 40em) {
    .ui-sm-1,
    .ui-sm-2,
    .ui-sm-3,
    .ui-sm-4,
    .ui-sm-5,
    .ui-sm-6,
    .ui-sm-7,
    .ui-sm-8,
    .ui-sm-9,
    .ui-sm-10,
    .ui-sm-11,
    .ui-sm-12 {
        padding: 0.5em;
    }

    .ui-sm-1 {
        width: 8.3333%;
    }

    .ui-sm-2 {
        width: 16.6667%;
    }

    .ui-sm-3 {
        width: 25%;
    }

    .ui-sm-4 {
        width: 33.3333%;
    }

    .ui-sm-5 {
        width: 41.6667%;
    }

    .ui-sm-6 {
        width: 50%;
    }

    .ui-sm-7 {
        width: 58.3333%;
    }

    .ui-sm-8 {
        width: 66.6667%;
    }

    .ui-sm-9 {
        width: 75%;
    }

    .ui-sm-10 {
        width: 83.3333%;
    }

    .ui-sm-11 {
        width: 91.6667%;
    }

    .ui-sm-12 {
        width: 100%;
    }

	.ui-sm-offset-12 {
		margin-left: 100%; }

	.ui-sm-offset-11 {
		margin-left: 91.66666667%; }

	.ui-sm-offset-10 {
		margin-left: 83.33333333%; }

	.ui-sm-offset-9 {
		margin-left: 75%; }

	.ui-sm-offset-8 {
		margin-left: 66.66666667%; }

	.ui-sm-offset-7 {
		margin-left: 58.33333333%; }

	.ui-sm-offset-6 {
		margin-left: 50%; }

	.ui-sm-offset-5 {
		margin-left: 41.66666667%; }

	.ui-sm-offset-4 {
		margin-left: 33.33333333%; }

	.ui-sm-offset-3 {
		margin-left: 25%; }

	.ui-sm-offset-2 {
		margin-left: 16.66666667%; }

	.ui-sm-offset-1 {
		margin-left: 8.33333333%; }

	.ui-sm-offset-0 {
		margin-left: 0%; }
}

@media screen and (min-width: 40.063em) {
    .ui-md-1,
    .ui-md-2,
    .ui-md-3,
    .ui-md-4,
    .ui-md-5,
    .ui-md-6,
    .ui-md-7,
    .ui-md-8,
    .ui-md-9,
    .ui-md-10,
    .ui-md-11,
    .ui-md-12 {
        padding: 0.5em;
    }

    .ui-md-1 {
        width: 8.3333%;
    }

    .ui-md-2 {
        width: 16.6667%;
    }

    .ui-md-3 {
        width: 25%;
    }

    .ui-md-4 {
        width: 33.3333%;
    }

    .ui-md-5 {
        width: 41.6667%;
    }

    .ui-md-6 {
        width: 50%;
    }

    .ui-md-7 {
        width: 58.3333%;
    }

    .ui-md-8 {
        width: 66.6667%;
    }

    .ui-md-9 {
        width: 75%;
    }

    .ui-md-10 {
        width: 83.3333%;
    }

    .ui-md-11 {
        width: 91.6667%;
    }

    .ui-md-12 {
        width: 100%;
    }

	.ui-md-offset-12 {
		margin-left: 100%; }

	.ui-md-offset-11 {
		margin-left: 91.66666667%; }

	.ui-md-offset-10 {
		margin-left: 83.33333333%; }

	.ui-md-offset-9 {
		margin-left: 75%; }

	.ui-md-offset-8 {
		margin-left: 66.66666667%; }

	.ui-md-offset-7 {
		margin-left: 58.33333333%; }

	.ui-md-offset-6 {
		margin-left: 50%; }

	.ui-md-offset-5 {
		margin-left: 41.66666667%; }

	.ui-md-offset-4 {
		margin-left: 33.33333333%; }

	.ui-md-offset-3 {
		margin-left: 25%; }

	.ui-md-offset-2 {
		margin-left: 16.66666667%; }

	.ui-md-offset-1 {
		margin-left: 8.33333333%; }

	.ui-md-offset-0 {
		margin-left: 0%; }
}

@media screen and (min-width: 64.063em) {
    .ui-lg-1,
    .ui-lg-2,
    .ui-lg-3,
    .ui-lg-4,
    .ui-lg-5,
    .ui-lg-6,
    .ui-lg-7,
    .ui-lg-8,
    .ui-lg-9,
    .ui-lg-10,
    .ui-lg-11,
    .ui-lg-12 {
        padding: 0.5em;
    }

    .ui-lg-1 {
        width: 8.3333%;
    }

    .ui-lg-2 {
        width: 16.6667%;
    }

    .ui-lg-3 {
        width: 25%;
    }

    .ui-lg-4 {
        width: 33.3333%;
    }

    .ui-lg-5 {
        width: 41.6667%;
    }

    .ui-lg-6 {
        width: 50%;
    }

    .ui-lg-7 {
        width: 58.3333%;
    }

    .ui-lg-8 {
        width: 66.6667%;
    }

    .ui-lg-9 {
        width: 75%;
    }

    .ui-lg-10 {
        width: 83.3333%;
    }

    .ui-lg-11 {
        width: 91.6667%;
    }

    .ui-lg-12 {
        width: 100%;
    }

	.ui-lg-offset-12 {
		margin-left: 100%; }

	.ui-lg-offset-11 {
		margin-left: 91.66666667%; }

	.ui-lg-offset-10 {
		margin-left: 83.33333333%; }

	.ui-lg-offset-9 {
		margin-left: 75%; }

	.ui-lg-offset-8 {
		margin-left: 66.66666667%; }

	.ui-lg-offset-7 {
		margin-left: 58.33333333%; }

	.ui-lg-offset-6 {
		margin-left: 50%; }

	.ui-lg-offset-5 {
		margin-left: 41.66666667%; }

	.ui-lg-offset-4 {
		margin-left: 33.33333333%; }

	.ui-lg-offset-3 {
		margin-left: 25%; }

	.ui-lg-offset-2 {
		margin-left: 16.66666667%; }

	.ui-lg-offset-1 {
		margin-left: 8.33333333%; }

	.ui-lg-offset-0 {
		margin-left: 0%; }
}

@media screen and (min-width: 90.063em) {
    .ui-xl-1,
    .ui-xl-2,
    .ui-xl-3,
    .ui-xl-4,
    .ui-xl-5,
    .ui-xl-6,
    .ui-xl-7,
    .ui-xl-8,
    .ui-xl-9,
    .ui-xl-10,
    .ui-xl-11,
    .ui-xl-12 {
        padding: 0.5em;
    }

    .ui-xl-1 {
        width: 8.3333%;
    }

    .ui-xl-2 {
        width: 16.6667%;
    }

    .ui-xl-3 {
        width: 25%;
    }

    .ui-xl-4 {
        width: 33.3333%;
    }

    .ui-xl-5 {
        width: 41.6667%;
    }

    .ui-xl-6 {
        width: 50%;
    }

    .ui-xl-7 {
        width: 58.3333%;
    }

    .ui-xl-8 {
        width: 66.6667%;
    }

    .ui-xl-9 {
        width: 75%;
    }

    .ui-xl-10 {
        width: 83.3333%;
    }

    .ui-xl-11 {
        width: 91.6667%;
    }

    .ui-xl-12 {
        width: 100%;
    }

	.ui-xl-offset-12 {
		margin-left: 100%; }

	.ui-xl-offset-11 {
		margin-left: 91.66666667%; }

	.ui-xl-offset-10 {
		margin-left: 83.33333333%; }

	.ui-xl-offset-9 {
		margin-left: 75%; }

	.ui-xl-offset-8 {
		margin-left: 66.66666667%; }

	.ui-xl-offset-7 {
		margin-left: 58.33333333%; }

	.ui-xl-offset-6 {
		margin-left: 50%; }

	.ui-xl-offset-5 {
		margin-left: 41.66666667%; }

	.ui-xl-offset-4 {
		margin-left: 33.33333333%; }

	.ui-xl-offset-3 {
		margin-left: 25%; }

	.ui-xl-offset-2 {
		margin-left: 16.66666667%; }

	.ui-xl-offset-1 {
		margin-left: 8.33333333%; }

	.ui-xl-offset-0 {
		margin-left: 0%; }
}

.ui-g-nopad {
    padding: 0px;
}