<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">
    <style>
        .number-badgers input[type=text]
        {
            padding: 8px;
            width: 70%;
        }
    </style>
    <div>
        <h2>Dancing Badgers</h2>
        <p>Example of custom logic with custom template and custom backing bean that can be moved to any page region.</p>
        <h:form>
            <ui:include src="../../CsrfTokenInsert.xhtml"/>
            <p:outputLabel for="number-badgers" value="How Many Dancing Badgers?"/>
            <p:inputNumber id="number-badgers" styleClass="number-badgers" decimalPlaces="0" required="true" value="#{dancingBadgers.numberOfBadgers}"/>
            <p:commandButton value="Submit" action="#{dancingBadgers.submit}" update="dancing-badgers"/>

            <h:panelGroup layout="block" id="dancing-badgers" style="margin-top: 20px">
                <p><b><h:outputText value="#{dancingBadgers.message}"/></b></p>
                <div class="ui-g">
                    <ui:repeat value="#{dancingBadgers.fakeBadgerArray()}" var="item">
                        <div class="ui-g-3"><h:graphicImage value="#{dancingBadgers.badgerImage.filePath}" style="width: 100%" /></div>
                    </ui:repeat>
                </div>
            </h:panelGroup>
        </h:form>
    </div>

</ui:composition>