<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">

    <div class="login-block" style="text-align: right">
        <c:choose>
            <c:when test="#{request.remoteUser != null and request.remoteUser != ''}">
                <h:outputText value="Logged in as #{request.remoteUser}"/>
                <form class="form-inline" action="/logout" method="post">
                    <ui:include src="../../CsrfTokenInsert.xhtml"/>
                    <button id="logout-button" name="logout-button" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only logout-button" type="submit" role="button" aria-disabled="false"><span class="ui-button-text ui-c">Log out</span></button>
                </form>
            </c:when>
            <c:otherwise>
                <h:outputLink value="/login">Login</h:outputLink><c:if test="#{cmsSite.site.allowRegistration}"> | <h:outputLink value="/registration">Register</h:outputLink></c:if>
            </c:otherwise>
        </c:choose>
    </div>

</ui:composition>