<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">

    <div>
        <h2>Custom Logic 2</h2>
        <p>Red List of Threatened Animals 2015</p>
        <p:chart type="pie" model="#{redList.chartModel}" responsive="true">
            <h:outputScript>
                function chartExtender()
                {
                    this.cfg.seriesDefaults.rendererOptions.varyBarColor = true;
                }
            </h:outputScript>
        </p:chart>
    </div>

</ui:composition>