<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">

    <div class="content-search-block">
        <h2>Content Search</h2>
        <h:form id="content-search-block">
            <ui:include src="../../CsrfTokenInsert.xhtml"/>
            <div class="ui-g">
                <div class="ui-g-9">
                    <p:inputText id="search" style="width: 100%;padding: 6px" value="#{searchBlock.searchCriteria}"/>
                    <p:watermark value="Content containing..." for="search"/>
                </div>
                <div class="ui-g-3">
                    <p:commandButton value="Search" action="#{searchBlock.submit}" update="search-results"/>
                </div>
            </div>
            <h:panelGroup id="search-results">
                <p:dataTable value="#{searchBlock.contentList}" var="item" rendered="#{searchBlock.searchInitiated}" paginator="true" rows="8" rowsPerPageTemplate="8,15,25,50">
                    <p:column width="100" priority="2" headerText="Banner">
                        <h:graphicImage value="#{item.filePath}" width="100" rendered="#{item.filePath != null and item.filePath.trim() != ''}"/>
                    </p:column>
                    <p:column headerText="Title">
                        <h:outputLink value="/content/#{item.urlAlias}"><h:outputText value="#{item.title}"/></h:outputLink>
                    </p:column>
                    <p:column headerText="Url Alias">
                        <h:outputLink value="/content/#{item.urlAlias}"><h:outputText value="/content/#{item.urlAlias}"/></h:outputLink>
                    </p:column>
                </p:dataTable>
            </h:panelGroup>
        </h:form>
    </div>

</ui:composition>