<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">

    <div>
        <h:panelGroup id="shopping-cart-dash" layout="block" styleClass="shopping-cart-dash" style="text-align: right;margin-top: 5px">
            <h:outputLink value="/ecommerce/shopping-cart">
                <h:outputText value="#{shoppingCart.items.size()} item(s) in your cart."/>
                <span style="font-size: 1.4em" class="icon-cart3"></span>
            </h:outputLink>
        </h:panelGroup>
    </div>

</ui:composition>