<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:p="http://primefaces.org/ui"
    xmlns:iberis="http://xmlns.jcp.org/jsf/composite/uicomponents"
    xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    <body>
        <ui:composition template="/templates/base/Template.xhtml" >
            <ui:define name="main-content">
                <c:if test="#{request.userPrincipal != null}">
                    <p>You are already registered and logged in.</p>
                </c:if>
                <c:if test="#{request.userPrincipal == null}">
                    <h1>Registration</h1>
                    <h:form>
                        <ui:include src="../CsrfTokenInsert.xhtml"/>
                        <h:panelGroup id="form-container" layout="block">
                            <h:panelGroup id="form-grid" layout="block" styleClass="ui-g">
                                <div class="ui-g-3 ui-sm-12">
                                    <p:outputLabel value="User Name" for="user-name:userName_TEXT" rendered="#{!cmsSite.site.emailAsUsername}"/>
                                </div>
                                <div class="ui-g-9 ui-sm-12">
                                    <iberis:text id="user-name" rendered="#{!cmsSite.site.emailAsUsername}" value="#{registration.user.userName}" propertyName="userName" valueRequired="#{empty param['skipValidation']}"/>
                                </div>
                                <div class="ui-g-3 ui-sm-12">
                                    <p:outputLabel value="First Name" for="first-name:firstName_TEXT"/>
                                </div>
                                <div class="ui-g-9 ui-sm-12">
                                    <iberis:text id="first-name" value="#{registration.user.firstName}" propertyName="firstName" valueRequired="#{empty param['skipValidation']}"/>
                                </div>
                                <div class="ui-g-3 ui-sm-12">
                                    <p:outputLabel value="Middle Name" for="middle-name:middleName_TEXT"/>
                                </div>
                                <div class="ui-g-9 ui-sm-12">
                                    <iberis:text id="middle-name" value="#{registration.user.middleName}" propertyName="middleName"/>
                                </div>
                                <div class="ui-g-3 ui-sm-12">
                                    <p:outputLabel value="Last Name" for="last-name:lastName_TEXT"/>
                                </div>
                                <div class="ui-g-9 ui-sm-12">
                                    <iberis:text id="last-name" value="#{registration.user.lastName}" propertyName="lastName" valueRequired="#{empty param['skipValidation']}"/>
                                </div>
                                <div class="ui-g-3 ui-sm-12">
                                    <p:outputLabel value="Email" for="email:email_TEXT"/>
                                </div>
                                <div class="ui-g-9 ui-sm-12">
                                    <iberis:text id="email" value="#{registration.user.email}" propertyName="email" valueRequired="#{empty param['skipValidation']}"/>
                                </div>
                                <div class="ui-g-3 ui-sm-12">
                                    <p:outputLabel value="Secret Question" for="secret-question:userSecretQuestion_SELECTION"/>
                                </div>
                                <div class="ui-g-9 ui-sm-12">
                                    <iberis:selection id="secret-question" value="#{registration.user.userSecretQuestion}" propertyName="userSecretQuestion" listItems="#{componentsUtil.getFieldProperty(544).unitPropertyListItems}" valueRequired="#{empty param['skipValidation']}"/>
                                </div>
                                <div class="ui-g-3 ui-sm-12">
                                    <p:outputLabel value="Secret Answer" for="secret-answer:userSecretAnswer_TEXT"/>
                                </div>
                                <div class="ui-g-9 ui-sm-12">
                                    <iberis:text id="secret-answer" value="#{registration.user.userSecretAnswer}" propertyName="userSecretAnswer" valueRequired="#{empty param['skipValidation']}"/>
                                </div>

                            </h:panelGroup>
                            <p:captcha label="Captcha"/>
                            <p:commandButton id="register-btn" value="Register" action="#{registration.register}"/>
                        </h:panelGroup>
                        <p:blockUI block="form-container" trigger="register-btn" />
                        <p:messages><p:autoUpdate /></p:messages>
                    </h:form>
                </c:if>
            </ui:define>
        </ui:composition>
    </body>
</html>

