<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:p="http://primefaces.org/ui"
    xmlns:iberis="http://xmlns.jcp.org/jsf/composite/uicomponents">
    <body>
        <ui:composition template="/templates/base/Template.xhtml" >
            <ui:define name="main-content">
                <h1>Registration</h1>
                <p>User has been created. Please wait for user activation email.</p>
            </ui:define>
        </ui:composition>
    </body>
</html>

