<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:pe="http://primefaces.org/ui/extensions"
      xmlns:iberis="http://xmlns.jcp.org/jsf/composite/uicomponents"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
<h:head>
    <ui:insert name="meta-top"/>
    <ui:insert name="meta-bottom"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <ui:insert name="head-top-css"/>
    <link rel="stylesheet" href="#{request.contextPath}/templates/stacked/css/responsive.css"/>
    <link rel="stylesheet" href="#{request.contextPath}/templates/stacked/css/default.css"/>

    <ui:insert name="head-bottom-css"/>
    <ui:insert name="head-very-bottom-css"/>
    <ui:insert name="head-top-js"/>
    <script type="text/javascript" src="#{request.contextPath}/templates/stacked/javascript/default.js"></script>

    <ui:insert name="head-bottom-js"/>
    <ui:insert name="head-very-bottom-js"/>
    <script type="text/javascript">var siteUrl = '#{siteSettings.siteUrl}';</script>

    <title><ui:insert name="title">Iberis CMS</ui:insert></title>
</h:head>
<h:body>
    <f:view contentType="text/html">

        <ui:insert name="body-top"/>

        <c:if test="#{request.getParameter('layout-debug') == '1'}">
            <div class="site-wrapper #{(templateUtil.centeredRegions)?'centered-regions':''}">
                <div class="layout-debug">
                    <ui:include src="../base/CommonTopRegionsDebug.xhtml"/>
                    <div class="region-wrapper">
                        <div class="stack-region-1">
                             <div class="ui-g content-regions">
                                 <div class="ui-g-12 box2">
                                     <h2>Box 2</h2>
                                     <iberis:pageregiondebug regionId="28"/>
                                     <iberis:pageregiondebug regionId="29"/>
                                     <iberis:pageregiondebug regionId="30"/>
                                 </div>
                             </div>
                        </div>
                        <div class="stack-region-2">
                            <div class="ui-g content-regions">
                                <div class="ui-g-12 box3">
                                    <h2>Box 3</h2>
                                    <iberis:pageregiondebug regionId="31"/>
                                    <iberis:pageregiondebug regionId="32"/>
                                    <iberis:pageregiondebug regionId="33"/>
                                </div>
                            </div>
                        </div>
                        <div class="stack-region-3">
                            <div class="ui-g content-regions">
                                <div class="ui-g-12 box4">
                                    <h2>Box 4</h2>
                                    <iberis:pageregiondebug regionId="34"/>
                                    <iberis:pageregiondebug regionId="35"/>
                                    <iberis:pageregiondebug regionId="36"/>
                                </div>
                            </div>
                        </div>
                        <div class="stack-region-4">
                            <div class="ui-g content-regions">
                                <div class="ui-g-12 box5">
                                    <h2>Box 5</h2>
                                    <iberis:pageregiondebug regionId="37"/>
                                    <iberis:pageregiondebug regionId="38"/>
                                    <iberis:pageregiondebug regionId="39"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <ui:include src="../base/CommonBottomRegionsDebug.xhtml"/>
                </div>
            </div>
        </c:if>

        <c:if test="#{request.getParameter('layout-debug') != '1'}">
            <div class="site-wrapper live-site #{(templateUtil.centeredRegions)?'centered-regions':''}">
                <ui:include src="../base/CommonTopRegions.xhtml"/>
                <div class="region-wrapper">
                    <div class="stack-region-1">
                        <div class="ui-g content-regions">
                            <div class="ui-g-12 box2">
                                <iberis:pageregion regionId="28"/>
                                <iberis:pageregion regionId="29"/>
                                <iberis:pageregion regionId="30"/>
                            </div>
                        </div>
                    </div>
                    <div class="stack-region-2">
                        <div class="ui-g content-regions">
                            <div class="ui-g-12 box3">
                                <iberis:pageregion regionId="31"/>
                                <iberis:pageregion regionId="32"/>
                                <iberis:pageregion regionId="33"/>
                            </div>
                        </div>
                    </div>
                    <div class="stack-region-3">
                        <div class="ui-g content-regions">
                            <div class="ui-g-12 box4">
                                <iberis:pageregion regionId="34"/>
                                <iberis:pageregion regionId="35"/>
                                <iberis:pageregion regionId="36"/>
                            </div>
                        </div>
                    </div>
                    <div class="stack-region-4">
                        <div class="ui-g content-regions">
                            <div class="ui-g-12 box5">
                                <iberis:pageregion regionId="37"/>
                                <iberis:pageregion regionId="38"/>
                                <iberis:pageregion regionId="39"/>
                            </div>
                        </div>
                    </div>
                </div>
                <ui:include src="../base/CommonBottomRegions.xhtml"/>
            </div>
        </c:if>

        <ui:insert name="body-bottom"/>
    </f:view>
</h:body>
</html>
