<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:pe="http://primefaces.org/ui/extensions"
      xmlns:iberis="http://xmlns.jcp.org/jsf/composite/uicomponents"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
<h:head>
    <ui:insert name="meta-top"/>
    <ui:insert name="meta-bottom"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <ui:insert name="head-top-css"/>
    <link rel="stylesheet" href="#{request.contextPath}/templates/singlebox/css/responsive.css"/>
    <link rel="stylesheet" href="#{request.contextPath}/templates/singlebox/css/default.css"/>

    <ui:insert name="head-bottom-css"/>
    <ui:insert name="head-very-bottom-css"/>
    <ui:insert name="head-top-js"/>
    <script type="text/javascript" src="#{request.contextPath}/templates/singlebox/javascript/default.js"></script>

    <ui:insert name="head-bottom-js"/>
    <ui:insert name="head-very-bottom-js"/>
    <script type="text/javascript">var siteUrl = '#{siteSettings.siteUrl}';</script>

    <title><ui:insert name="title">Iberis CMS</ui:insert></title>
</h:head>
<h:body>
    <f:view contentType="text/html">

        <ui:insert name="body-top"/>

        <c:if test="#{request.getParameter('layout-debug') == '1'}">
            <div class="site-wrapper #{(templateUtil.centeredRegions)?'centered-regions':''}">
                <div class="layout-debug">
                    <ui:include src="../base/CommonTopRegionsDebug.xhtml"/>
                    <ui:include src="../base/CommonBottomRegionsDebug.xhtml"/>
                </div>
            </div>
        </c:if>

        <c:if test="#{request.getParameter('layout-debug') != '1'}">
            <div class="site-wrapper live-site #{(templateUtil.centeredRegions)?'centered-regions':''}">
                <ui:include src="../base/CommonTopRegions.xhtml"/>
                <ui:include src="../base/CommonBottomRegions.xhtml"/>
            </div>
        </c:if>

        <ui:insert name="body-bottom"/>
    </f:view>
</h:body>
</html>
