<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <h:body>
        <ui:composition template="/templates/base/Template.xhtml" >
            <ui:define name="main-content">
                <div class="logo-container" style="width: 350px;">
                    <span style="font-size: 10em">404</span>
                </div>
                <div class="ui-g">
                    <div class="ui-g-4"></div>
                    <div class="ui-g-12 ui-lg-4" style="text-align:center;padding-bottom:70px;">
                        <div class="ui-g-12" style="margin-bottom:25px;">
                            <h1 style="font-weight:bold;">Sorry, we couldn’t find it…</h1>
                            <span>The page you’re looking for doesn’t exist.</span>
                        </div>
                        <p:button value="Homepage" href="#{request.contextPath}/"/>
                    </div>
                    <div class="ui-g-4"></div>
                </div>
            </ui:define>
        </ui:composition>

    </h:body>

</html>