<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <h:head>
        <f:facet name="first">
            <meta http-equiv="X-UA-Compatible" content="IE=edge" />
            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
            <meta name="apple-mobile-web-app-capable" content="yes" />
        </f:facet>
        <title>Iberis CMS</title>
        <h:outputStylesheet name="css/layout-orange.css" library="icarus-layout" />
        <link rel="stylesheet" href="#{request.contextPath}/resources/css/icomoon/style.css"/>
        <link rel="stylesheet" href="#{request.contextPath}/resources/css/font-awesome/css/font-awesome.min.css"/>
    </h:head>

    <h:body styleClass="containerError">

        <div class="logo-container">
            <h:graphicImage name="images/access.png" id="PageLogo" library="icarus-layout" style="width: 100%; height: 100%;" />
        </div>
        <div class="ui-g">
            <div class="ui-g-4"></div>
            <div class="ui-g-12 ui-lg-4" style="text-align:center;padding-bottom:70px;">
                <div class="ui-g-12" style="color:#fff;margin-bottom:25px;">
                    <h1 style="font-weight:bold;">Access Denied!</h1>
                    <span>Sorry, but you have no access to this page.</span><br/>
                    <span>Please check your permissions.</span>
                </div>
                <p:button id="errorButton" value="Homepage" href="#{request.contextPath}/"/>
            </div>
            <div class="ui-g-12" style="text-align:center;margin-top:25px;color:#fff">
                <span>Iberis CMS</span><br/>
                <span>All rights reserved.</span>
            </div>
            <div class="ui-g-4"></div>
        </div>

        <style type="text/css">
            html {height: 100%;}
            .ui-button-text, .ui-button-text-only .ui-button-text{padding:8px !important; transition:none !important;}
        </style>
    </h:body>

</html>