<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <h:head>
        <f:facet name="first">
            <meta http-equiv="X-UA-Compatible" content="IE=edge" />
            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
            <meta name="apple-mobile-web-app-capable" content="yes" />
        </f:facet>
        <title>Iberis CMS</title>
        <h:outputStylesheet name="css/layout-orange.css" library="icarus-layout" />
        <link rel="stylesheet" href="#{request.contextPath}/resources/css/icomoon/style.css"/>
        <link rel="stylesheet" href="#{request.contextPath}/resources/css/font-awesome/css/font-awesome.min.css"/>
    </h:head>

    <h:body styleClass="containerError">

        <p:dialog id="error-dialog" widgetVar="error-dialog" header="Error Message" modal="true" closable="true" draggable="false" appendTo="@(body)" width="1024" height="768">
            <h2>Message</h2>
            <h:outputText value="#{errorHandler.message}"/>
            <h2>Stack Trace</h2>
            <h:outputText value="#{errorHandler.stackTrace}"/>
        </p:dialog>

        <div class="logo-container">
            <h:graphicImage name="images/error.png" id="PageLogo" library="icarus-layout" style="width: 100%; height: 100%;" />
        </div>
        <div class="ui-g">
            <div class="ui-g-4"></div>
            <div class="ui-g-12 ui-lg-4" style="text-align:center;padding-bottom:70px;">
                <div class="ui-g-12" style="color:#fff;margin-bottom:25px;">
                    <h1 style="font-weight:bold;">Error Exception Occured!</h1>
                    <span>Please contact system admin.</span>
                    <div>
                        <p:link value="View Error Message" style="color: white" onclick="PF('error-dialog').show();return false;"/>
                    </div>
                </div>
                <p:button id="errorButton" value="Homepage" href="#{request.contextPath}/"></p:button>
            </div>
            <div class="ui-g-12" style="text-align:center;margin-top:25px;color:#fff">
                <span>Iberis CMS</span><br/>
                <span>All rights reserved.</span>
            </div>
            <div class="ui-g-4"></div>
        </div>

        <style type="text/css">
            html {height: 100%;}
            .ui-button-text, .ui-button-text-only .ui-button-text{padding:8px !important; transition:none !important;}
        </style>
        <!--
        <div class="Container100">
            <div class="Container100">
                <div class="Wid50 OvHidden DispBlock MarAuto WidAutoOnMobile" style="margin-top:7%;">
                    <div class="Card ShadowEffect">
                        
                        <div class="Container100">
                            <div class="Card RedBack White TexAlCenter Fs20 FontVoltBold">Error Occured</div>
                        </div>
                        <div class="Container40 TexAlCenter Responsive100">
                            <i class="icon-weather-lightning Fs100 Red"></i>
                            <div class="EmptyBox10"></div>
                            <span class="FontVoltSemiBold DispBlock Fs20">Error Exception Occured!</span>
                            <div class="EmptyBox20"></div>
                            <span class="FontVoltRegular Fs16">Please contact system administrator.
                                <div class="Separator"></div>
                                <p:link value="View Error Message" onclick="PF('error-dialog').show();return false;"/>
                            </span>
                        </div>
                        
                        <div class="Container60 Responsive100">
                            <div class="Card TexAlCenter">
                                <i class="icon-chat-3 Fs60"></i>
                                <div class="EmptyBox10"></div>
                                <p:inputText styleClass="Wid90" placeholder="Your E-Mail"/>
                                <div class="EmptyBox10"></div>
                                <p:inputTextarea rows="5" placeholder="Your Message" style="width:90%;"/>
                                <div class="Separator"></div>
                                <p:button value="Report Error" styleClass="BlueButton" href="dashboard.xhtml"/>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>-->
    </h:body>

</html>