<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:p="http://primefaces.org/ui"
    xmlns:iberis="http://xmlns.jcp.org/jsf/composite/uicomponents">
    <body>
        <ui:composition template="/templates/base/Template.xhtml" >
            <ui:define name="main-content">
                <h:panelGroup id="front-page-content" layout="block" style="position: relative">
                    <iberis:dynamiccontent content="#{cmsSite.site.frontPageContent}"/>
                    <h:form onsubmit="return false;" styleClass="assignment-edit-menu" rendered="#{request.isUserInRole('Admin')}">
                        <p:menuButton icon="icon-edit">
                            <p:menuitem url="/cms/content-management/form/#{cmsSite.site.frontPageContent.id}" value="Full Edit Content"/>
                            <p:menuitem url="#" onclick="showContentQuickDialog(#{cmsSite.site.frontPageContent.id});return false;" value="Quick Edit Content" rendered="#{cmsSite.site.frontPageContent.customContentTemplate == null or cmsSite.site.frontPageContent.customContentTemplate.trim() == ''}"/>
                        </p:menuButton>
                    </h:form>
                    <p:contextMenu for="front-page-content" rendered="#{request.isUserInRole('Admin')}">
                        <p:menuitem url="/cms/content-management/form/#{cmsSite.site.frontPageContent.id}" value="Full Edit Content"/>
                        <p:menuitem url="#" onclick="showContentQuickDialog(#{cmsSite.site.frontPageContent.id});return false;" value="Quick Edit Content" rendered="#{cmsSite.site.frontPageContent.customContentTemplate == null or cmsSite.site.frontPageContent.customContentTemplate.trim() == ''}"/>
                    </p:contextMenu>
                </h:panelGroup>
            </ui:define>
        </ui:composition>
    </body>
</html>

