<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <h:head>
        <f:facet name="first">
            <meta http-equiv="X-UA-Compatible" content="IE=edge" />
            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
            <meta name="apple-mobile-web-app-capable" content="yes" />
        </f:facet>
        <title>Iberis CMS</title>
        <h:outputStylesheet name="css/layout-orange.css" library="icarus-layout" />
        <link rel="stylesheet" href="#{request.contextPath}/resources/css/icomoon/style.css"/>
        <link rel="stylesheet" href="#{request.contextPath}/resources/css/font-awesome/css/font-awesome.min.css"/>
    </h:head>

    <h:body styleClass="containerLogin">
        <script type="text/javascript">
            $(document).ready(function() {
                $("button.login-button").hover(function () {
                    $(this).addClass('ui-state-hover');
                },function() {$(this).removeClass('ui-state-hover')});
            });
        </script>
        <div class="logo-container">
            <h:graphicImage rendered="#{cmsSite.site.logo == null and (cmsSite.site.customLoginHtml == null or cmsSiteSettings.site.customLoginHtml.trim() == '')}" value="/templates/base/images/iberis-mark.png" style="width: 150px;max-width: 100%"/>
            <h:graphicImage rendered="#{cmsSite.site.logo != null}" value="#{cmsSite.site.logo.filePath}" style="max-width: 100%"/>
            <h:outputText escape="false" value="#{cmsSiteSettings.site.customLoginHtml}" rendered="#{cmsSite.site.customLoginHtml != null and cmsSiteSettings.site.customLoginHtml.trim() != ''}"/>
        </div>
        <form name='loginForm' action="/login" method='POST'>
        <div class="ui-g" style="padding: 8px">
            <p:panel header="Login" styleClass="panel-login">
                <div class="ui-g-12" style="padding-top:35px;">
                    <p:inputText id="username" placeholder="Your Email" style="width:60%;padding: 8px"/><br/>
                </div>
                <div class="ui-g-12" style="padding-top:10px;">
                    <p:password id="password" styleClass="Wid90" placeholder="Password" style="width:60%;padding: 8px"/>
                    <ui:include src="CsrfTokenInsert.xhtml"/>
                </div>
                <div class="ui-g-2"></div>
                <div class="ui-g-8 login-input-container">
                    <!--<div class="ui-g-12 ui-md-6 ui-lg-6">
                        <p:selectBooleanCheckbox value="" style="padding-left:10px;"/>
                        <h:outputText value="Remember me" style="padding-left:5px;"/>
                    </div>
                    <div class="ui-g-12 ui-md-6 ui-lg-6">
                        <p:commandLink styleClass="link-decoration" value="Forget Password?" />
                    </div>-->
                </div>
                <div class="ui-g-2"></div>
                <button id="loginButton" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only login-button" role="button">
                    <span class="ui-button-text ui-c">Log In</span>
                </button>
            </p:panel>
            <div class="ui-g-12 footer-login">
                <div><h:graphicImage rendered="#{cmsSite.site.logo != null or (cmsSite.site.customLoginHtml != null and cmsSiteSettings.site.customLoginHtml.trim() != '')}" value="/templates/base/images/iberis-mark.png" style="width: 150px;max-width: 100%"/></div>
                <span>Iberis CMS</span><br/>
                <span>All rights reserved.</span>
            </div>
        </div>
        </form>

        <style type="text/css">
            html {height: 100%;}
            .ui-button-text, .ui-button-text-only .ui-button-text{padding:8px !important; transition:none !important;}
            .ui-panel .ui-panel-title {font-size: 1.063em;}
        </style>

    </h:body>

</html>