<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">
<body>
<ui:composition template="/templates/base/CMSTemplate.xhtml">
    <ui:define name="main-content">

        <h:form>
            <ui:include src="../CsrfTokenInsert.xhtml"/>
            <p:panel style="border: none" id="header-panel">
                <f:facet name="header">
                    <h:panelGrid columns="2">
                        <span style="font-size: 1.4em" class="icon-user22"></span>
                        <h:outputText value="User Management" style="font-size: 1.25em;margin-left: 20px" />
                    </h:panelGrid>
                </f:facet>
            </p:panel>

            <p:messages id="messages"><p:autoUpdate /></p:messages>
            <h:panelGroup layout="block" styleClass="card">
                <h2>User List</h2>
                <p:button value="Add User" href="/admin/user-management/form"/>
                <div id="user-management">
                    <p:dataTable id="user-table" var="item" value="#{cmsUserManagement.genericLazyLoader}" paginator="true" rows="10"
                                 paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
                                 rowsPerPageTemplate="10,25,50" lazy="true">

                        <p:column headerText="User Name" filterBy="#{item.userName}" priority="0">
                            <h:outputText value="#{item.userName}"/>
                        </p:column>
                        <p:column headerText="First Name" filterBy="#{item.firstName}" priority="2">
                            <h:outputText value="#{item.firstName}"/>
                        </p:column>
                        <p:column headerText="Last Name" filterBy="#{item.lastName}" priority="3">
                            <h:outputText value="#{item.lastName}"/>
                        </p:column>
                        <p:column width="80" priority="1">
                            <h:outputLink value="/admin/user-management/form/#{item.userId}"><h:outputText
                                    value="Edit"/></h:outputLink>
                        </p:column>
                        <p:column width="80" priority="4">
                            <p:commandLink value="Delete"
                                           action="#{cmsUserManagement.delete(item)}"
                                           update="@form">
                                <p:confirm header="Delete"
                                           message="Do you want to delete this User?"
                                           icon="ui-icon-alert"/>
                            </p:commandLink>
                        </p:column>
                    </p:dataTable>
                </div>
            </h:panelGroup>
        </h:form>

        <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
            <p:commandButton value="Yes" type="button"
                             styleClass="ui-confirmdialog-yes" icon="ui-icon-check"/>
            <p:commandButton value="No" type="button"
                             styleClass="ui-confirmdialog-no" icon="ui-icon-close"/>
        </p:confirmDialog>


    </ui:define>
</ui:composition>
</body>
</html>