<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:iberis="http://xmlns.jcp.org/jsf/composite/uicomponents">
<body>
<ui:composition template="/templates/base/CMSTemplate.xhtml">
    <ui:define name="main-content">
        <p:panel style="border: none" id="header-panel">
            <f:facet name="header">
                <h:panelGrid columns="2">
                    <span style="font-size: 1.4em" class="icon-user22"></span>
                    <h:outputText value="Add / Edit User" style="font-size: 1.25em;margin-left: 20px" />
                </h:panelGrid>
            </f:facet>
        </p:panel>

        <div>
            <p:dialog id="password-dialog" widgetVar="passwordDialog" header="Change Password" width="90%" style="max-width: 500px" modal="true" closable="true" draggable="false" appendTo="@(body)">
                <h:form>
                    <ui:include src="../CsrfTokenInsert.xhtml"/>
                    <div class="ui-g">
                        <div class="ui-g-3 ui-sm-12">
                            <p:outputLabel value="Password" for="password:password_PASSWORD"/>
                        </div>
                        <div class="ui-g-9 ui-sm-12">
                            <iberis:password id="password" propertyName="password" value="#{cmsUserManagement.password}" valueRequired="true"/>
                        </div>
                        <div class="ui-g-3 ui-sm-12">
                            <p:outputLabel value="Password Confirm" for="password-confirm:passwordConfirm_PASSWORD"/>
                        </div>
                        <div class="ui-g-9 ui-sm-12">
                            <iberis:password id="password-confirm" propertyName="passwordConfirm" value="#{cmsUserManagement.passwordConfirm}" valueRequired="true"/>
                        </div>
                    </div>
                    <p:commandButton value="Save" action="#{cmsUserManagement.savePassword}" update="@form" oncomplete="if (args &amp;&amp; !args.validationFailed) PF('passwordDialog').hide()"/>
                </h:form>
            </p:dialog>
            <p:dialog id="membership-dialog" widgetVar="membershipDialog" header="Add / Edit Membership" width="90%" height="500" style="max-width: 600px" modal="true" closable="true" draggable="false" appendTo="@(body)">
                <h:form>
                    <ui:include src="../CsrfTokenInsert.xhtml"/>
                    <p:tabView scrollable="true">
                        <p:tab title="General">
                            <div class="ui-g">
                                <div class="ui-g-3 ui-sm-12">
                                    <p:outputLabel for="site:site_PK_siteID" value="Site:"/>
                                </div>
                                <div class="ui-g-9 ui-sm-12">
                                    <iberis:lookup id="site" displayValue="#{cmsUserManagement.siteMembership.site.siteName}" value="#{cmsUserManagement.siteMembership.site.siteID}" lookupProperties="#{componentsUtil.getLookupProperties(componentsUtil.getFieldProperty(49))}" dataBeanName="cmsUserManagement.siteMembership" fieldProperty="#{componentsUtil.getFieldProperty(49)}" valueRequired="true"/>
                                </div>
                                <div class="ui-g-3 ui-sm-12">
                                    <p:outputLabel value="Signup Date" for="signup:signupDate_DATE"/>
                                </div>
                                <div class="ui-g-9 ui-sm-12">
                                    <iberis:date id="signup" propertyName="signupDate" value="#{cmsUserManagement.siteMembership.signupDate}" valueRequired="true"/>
                                </div>
                                <div class="ui-g-3 ui-sm-12">
                                    <p:outputLabel value="Cancel Date" for="cancel:cancelDate_DATE"/>
                                </div>
                                <div class="ui-g-9 ui-sm-12">
                                    <iberis:date id="cancel" propertyName="cancelDate" value="#{cmsUserManagement.siteMembership.cancelDate}"/>
                                </div>
                            </div>
                        </p:tab>
                        <p:tab title="Roles">
                            <div class="ui-g">
                                <div class="ui-g-7 ui-sm-12">
                                    <iberis:lookup id="role" value="#{cmsUserManagement.role.id}" displayValue="#{cmsUserManagement.role.roleName}" lookupProperties="#{componentsUtil.getLookupProperties(82, 554, 553, null)}" dataBeanName="userMangement.role" fieldProperty="#{null}" propertyName="role" valueRequired="false"/>
                                </div>
                                <div class="ui-g-1 ui-sm-12">
                                    <p:commandButton value="Add" style="margin-left: 20px;margin-top: 8px" action="#{cmsUserManagement.addRole}" update="role-table">
                                        <f:param name="skipValidation" value="1" />
                                    </p:commandButton>
                                </div>
                            </div>
                            <p:dataTable id="role-table" var="role" value="#{cmsUserManagement.siteMembership.roles}" paginator="true" rows="10"
                                         paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
                                         rowsPerPageTemplate="10,25,50" lazy="true">

                                <p:column headerText="Role Name">
                                    <h:outputText value="#{role.roleName}"/>
                                </p:column>
                                <p:column>
                                    <p:commandLink value="Remove"
                                                   action="#{cmsUserManagement.removeRole(role)}"
                                                   update="role-table">
                                        <f:param name="skipValidation" value="1" />
                                    </p:commandLink>
                                </p:column>
                            </p:dataTable>
                        </p:tab>
                    </p:tabView>
                    <p:commandButton value="Save" action="#{cmsUserManagement.saveSiteMembership}" update="@form,:user-management-form:tab-view:membership-table" oncomplete="if (args &amp;&amp; !args.validationFailed) PF('membershipDialog').hide()"/>
                </h:form>
            </p:dialog>
            <h:form id="user-management-form" enctype="multipart/form-data">
                <ui:include src="../CsrfTokenInsert.xhtml"/>
                <h:panelGroup layout="block" styleClass="card">
                    <h2>
                        <p:commandButton value="Save" action="#{cmsUserManagement.save}" update="@form"/>
                        <p:button type="Button" value="Back to User List" outcome="pretty:user-management"/>
                        <p:commandButton value="Change Password" update=":password-dialog" oncomplete="PF('passwordDialog').show()" rendered="#{cmsUserManagement.user.userId > 0}">
                            <f:param name="skipValidation" value="1" />
                        </p:commandButton>
                    </h2>
                    <p:messages><p:autoUpdate /></p:messages>
                    <p:tabView id="tab-view" scrollable="true">
                        <p:tab title="General">
                            <div class="ui-g">
                                <div class="ui-g-3 ui-sm-12">
                                    <p:outputLabel value="User Name" for="user-name:userName_TEXT"/>
                                </div>
                                <div class="ui-g-9 ui-sm-12">
                                    <iberis:text id="user-name" value="#{cmsUserManagement.user.userName}" propertyName="userName" valueRequired="#{empty param['skipValidation']}"/>
                                </div>
                                <div class="ui-g-3 ui-sm-12">
                                    <p:outputLabel value="First Name" for="first-name:firstName_TEXT"/>
                                </div>
                                <div class="ui-g-9 ui-sm-12">
                                    <iberis:text id="first-name" value="#{cmsUserManagement.user.firstName}" propertyName="firstName" valueRequired="#{empty param['skipValidation']}"/>
                                </div>
                                <div class="ui-g-3 ui-sm-12">
                                    <p:outputLabel value="Middle Name" for="middle-name:middleName_TEXT"/>
                                </div>
                                <div class="ui-g-9 ui-sm-12">
                                    <iberis:text id="middle-name" value="#{cmsUserManagement.user.middleName}" propertyName="middleName"/>
                                </div>
                                <div class="ui-g-3 ui-sm-12">
                                    <p:outputLabel value="Last Name" for="last-name:lastName_TEXT"/>
                                </div>
                                <div class="ui-g-9 ui-sm-12">
                                    <iberis:text id="last-name" value="#{cmsUserManagement.user.lastName}" propertyName="lastName" valueRequired="#{empty param['skipValidation']}"/>
                                </div>
                                <div class="ui-g-3 ui-sm-12">
                                    <p:outputLabel value="Email" for="email:email_TEXT"/>
                                </div>
                                <div class="ui-g-9 ui-sm-12">
                                    <iberis:text id="email" value="#{cmsUserManagement.user.email}" propertyName="email" valueRequired="#{empty param['skipValidation']}"/>
                                </div>
                                <div class="ui-g-3 ui-sm-12">
                                    <p:outputLabel value="Secret Question" for="secret-question:userSecretQuestion_SELECTION"/>
                                </div>
                                <div class="ui-g-9 ui-sm-12">
                                    <iberis:selection id="secret-question" value="#{cmsUserManagement.user.userSecretQuestion}" propertyName="userSecretQuestion" listItems="#{componentsUtil.getFieldProperty(544).unitPropertyListItems}"/>
                                </div>
                                <div class="ui-g-3 ui-sm-12">
                                    <p:outputLabel value="Secret Answer" for="secret-answer:userSecretAnswer_TEXT"/>
                                </div>
                                <div class="ui-g-9 ui-sm-12">
                                    <iberis:text id="secret-answer" value="#{cmsUserManagement.user.userSecretAnswer}" propertyName="userSecretAnswer"/>
                                </div>
                                <div class="ui-g-3 ui-sm-12">
                                    <p:outputLabel value="Enabled" for="enabled:enabled_BOOLEAN"/>
                                </div>
                                <div class="ui-g-9 ui-sm-12">
                                    <iberis:boolean id="enabled" value="#{cmsUserManagement.user.enabled}" propertyName="enabled" />
                                </div>
                            </div>
                        </p:tab>
                        <p:tab title="Groups" rendered="#{cmsUserManagement.user.userId > 0}">
                            <div class="ui-g">
                                <div class="ui-g-4 ui-sm-12">
                                    <iberis:lookup id="group" value="#{cmsUserManagement.userGroup.groupId}" displayValue="#{cmsUserManagement.userGroup.groupName}" lookupProperties="#{componentsUtil.getLookupProperties(16, 552, 549, null)}" dataBeanName="cmsUserManagement.userGroup" fieldProperty="#{null}" propertyName="userGroup" valueRequired="false"/>
                                </div>
                                <div class="ui-g-1 ui-sm-12">
                                    <p:commandButton value="Add" style="margin-top: 8px" action="#{cmsUserManagement.addUserGroup}" update="group-table">
                                        <f:param name="skipValidation" value="1" />
                                    </p:commandButton>
                                </div>
                            </div>
                            <p:dataTable id="group-table" var="item" value="#{cmsUserManagement.user.groups}" paginator="true" rows="10"
                                         paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
                                         rowsPerPageTemplate="10,25,50" lazy="true" style="max-width: 500px">

                                <p:column headerText="Group Name">
                                    <h:outputText value="#{item.groupName}"/>
                                </p:column>
                                <p:column>
                                    <p:commandLink value="Remove"
                                                   action="#{cmsUserManagement.removeUserGroup(item)}"
                                                   update="group-table">
                                        <f:param name="skipValidation" value="1" />
                                    </p:commandLink>
                                </p:column>
                            </p:dataTable>
                        </p:tab>
                        <p:tab title="Site Memberships" rendered="#{cmsUserManagement.user.userId > 0}">
                            <p:commandButton value="Add" action="#{cmsUserManagement.newSiteMembership}" update=":membership-dialog" oncomplete="PF('membershipDialog').show()">
                                <f:param name="skipValidation" value="1" />
                            </p:commandButton>
                            <p:dataTable id="membership-table" var="membership" value="#{cmsUserManagement.user.siteMemberships}" paginator="true" rows="10"
                                         paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
                                         rowsPerPageTemplate="10,25,50" lazy="true" style="max-width: 500px">

                                <p:column headerText="Site" priority="0">
                                    <h:outputText value="#{membership.site.siteName}"/>
                                </p:column>
                                <p:column priority="1">
                                    <p:commandLink value="Edit"
                                                   action="#{cmsUserManagement.editSiteMembership(membership)}"
                                                   update=":membership-dialog" oncomplete="PF('membershipDialog').show()">
                                        <f:param name="skipValidation" value="1" />
                                    </p:commandLink>
                                </p:column>
                                <p:column priority="2">
                                    <p:commandLink value="Delete"
                                                   action="#{cmsUserManagement.deleteSiteMembership(membership)}"
                                                   update="membership-table">
                                        <f:param name="skipValidation" value="1" />
                                    </p:commandLink>
                                </p:column>
                            </p:dataTable>
                        </p:tab>
                    </p:tabView>
                </h:panelGroup>
                <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
                    <p:commandButton value="Yes" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check"/>
                    <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close"/>
                </p:confirmDialog>


            </h:form>
        </div>
    </ui:define>
</ui:composition>
</body>
</html>