<?xml version='1.0' encoding='UTF-8' ?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <h:body>
        <ui:composition template="/templates/sixbox/Template.xhtml">

			<ui:define name="head-very-bottom-css">
				<c:if test="#{request.getParameter('layout-debug') != '1'}">
					<link href="https://fonts.googleapis.com/css?family=Fauna+One" rel="stylesheet"/>
					<link rel="stylesheet" href="#{request.contextPath}/templates/animals/css/default.css"/>
				</c:if>
			</ui:define>

			<ui:define name="head-very-bottom-js">
				<script type="text/javascript">
					$(document).ready(function () {

					});
				</script>
			</ui:define>

        </ui:composition>
    </h:body>
</html>
