<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:pe="http://primefaces.org/ui/extensions"
      xmlns:iberis="http://xmlns.jcp.org/jsf/composite/uicomponents"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
<h:head>
    <ui:insert name="meta-top"/>
    <ui:insert name="meta-bottom"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <ui:insert name="head-top-css"/>
    <link rel="stylesheet" href="#{request.contextPath}/templates/powergrid/css/responsive.css"/>
    <link rel="stylesheet" href="#{request.contextPath}/templates/powergrid/css/default.css"/>

    <ui:insert name="head-bottom-css"/>
    <ui:insert name="head-very-bottom-css"/>
    <ui:insert name="head-top-js"/>
    <script type="text/javascript" src="#{request.contextPath}/templates/powergrid/javascript/default.js"></script>

    <ui:insert name="head-bottom-js"/>
    <ui:insert name="head-very-bottom-js"/>
    <script type="text/javascript">var siteUrl = '#{siteSettings.siteUrl}';</script>

    <title><ui:insert name="title">Iberis CMS</ui:insert></title>
</h:head>
<h:body>
    <f:view contentType="text/html">

        <ui:insert name="body-top"/>

        <c:if test="#{request.getParameter('layout-debug') == '1'}">
            <div class="site-wrapper #{(templateUtil.centeredRegions)?'centered-regions':''}">
                <div class="layout-debug">
                    <div class="nav-wrapper">
                        <div class="ui-g nav-regions">
                            <div class="ui-g-4 ui-sm-12 ui-md-12 ui-lg-4">
                                <h2>Logo</h2>
                                <iberis:pageregiondebug regionId="50"/>
                            </div>
                            <div class="ui-g-8 ui-sm-12 ui-md-12 ui-lg-8">
                                <h2>Navigation</h2>
                                <iberis:pageregiondebug regionId="27"/>
                            </div>
                        </div>
                    </div>
                    <div class="header-wrapper">
                        <div class="ui-g header-regions">
                            <div class="ui-g-12 header">
                                <h2>Header</h2>
                                <iberis:pageregiondebug regionId="1"/>
                                <iberis:pageregiondebug regionId="21"/>
                                <iberis:pageregiondebug regionId="2"/>
                            </div>
                        </div>
                    </div>
                    <div class="hero-region-wrapper">
                        <div class="ui-g hero-region">
                            <div class="ui-g-12">
                                <h2>Hero</h2>
                                <iberis:pageregiondebug regionId="60"/>
                            </div>
                        </div>
                    </div>
                    <div class="main-content-wrapper">
                        <div class="ui-g main-content-regions">
                            <div class="ui-g-9 ui-sm-12 ui-md-6 ui-lg-9 box1">
                                <h2>Box 1</h2>

                                <c:if test="#{(!request.contextPath.equals('/') and !request.contextPath.equals('')) or cmsSite.site.showFrontPageContent}">
                                    <iberis:pageregiondebug regionId="52"/>
                                    <h4>[Main Page Content]</h4>
                                    <div class="content-block">
                                        <div>#{templateUtil.mainContentTitle}</div>
                                    </div>
                                    <iberis:pageregiondebug regionId="53"/>
                                </c:if>
                                <iberis:pageregiondebug regionId="23"/>
                                <iberis:pageregiondebug regionId="24"/>
                                <iberis:pageregiondebug regionId="25"/>
                            </div>
                            <div class="ui-g-3 ui-sm-12 ui-md-6 ui-lg-3 box2">
                                <h2>Box 2</h2>
                                <iberis:pageregiondebug regionId="28"/>
                                <iberis:pageregiondebug regionId="29"/>
                                <iberis:pageregiondebug regionId="30"/>
                            </div>
                        </div>
                    </div>
                    <div class="region-wrapper">
                        <div class="ui-g content-regions">
                            <div class="ui-g-9 ui-sm-12 ui-md-12 ui-lg-9">
                                <div class="ui-g">
                                    <div class="ui-g-6 ui-sm-12 box3">
                                        <h2>Box 3</h2>
                                        <iberis:pageregiondebug regionId="31"/>
                                        <iberis:pageregiondebug regionId="32"/>
                                        <iberis:pageregiondebug regionId="33"/>
                                    </div>
                                    <div class="ui-g-6 ui-sm-12 box4">
                                        <h2>Box 4</h2>
                                        <iberis:pageregiondebug regionId="34"/>
                                        <iberis:pageregiondebug regionId="35"/>
                                        <iberis:pageregiondebug regionId="36"/>
                                    </div>
                                </div>
                                <div class="ui-g">
                                    <div class="ui-g-6 ui-sm-12 box5">
                                        <h2>Box 5</h2>
                                        <iberis:pageregiondebug regionId="37"/>
                                        <iberis:pageregiondebug regionId="38"/>
                                        <iberis:pageregiondebug regionId="39"/>
                                    </div>
                                    <div class="ui-g-6 ui-sm-12 box6">
                                        <h2>Box 6</h2>
                                        <iberis:pageregiondebug regionId="40"/>
                                        <iberis:pageregiondebug regionId="41"/>
                                        <iberis:pageregiondebug regionId="42"/>
                                    </div>
                                </div>
                                <div class="ui-g">
                                    <div class="ui-g-6 ui-sm-12 box7">
                                        <h2>Box 7</h2>
                                        <iberis:pageregiondebug regionId="43"/>
                                        <iberis:pageregiondebug regionId="44"/>
                                        <iberis:pageregiondebug regionId="45"/>
                                    </div>
                                    <div class="ui-g-6 ui-sm-12 box8">
                                        <h2>Box 8</h2>
                                        <iberis:pageregiondebug regionId="46"/>
                                        <iberis:pageregiondebug regionId="47"/>
                                        <iberis:pageregiondebug regionId="48"/>
                                    </div>
                                </div>
                                <div class="ui-g">
                                    <div class="ui-g-6 ui-sm-12 box9">
                                        <h2>Box 9</h2>
                                        <iberis:pageregiondebug regionId="54"/>
                                        <iberis:pageregiondebug regionId="55"/>
                                        <iberis:pageregiondebug regionId="56"/>
                                    </div>
                                    <div class="ui-g-6 ui-sm-12 box10">
                                        <h2>Box 10</h2>
                                        <iberis:pageregiondebug regionId="57"/>
                                        <iberis:pageregiondebug regionId="58"/>
                                        <iberis:pageregiondebug regionId="59"/>
                                    </div>
                                </div>
                            </div>
                            <div class="ui-g-3 ui-sm-12 ui-md-12 ui-lg-3">
                                <h2>Right Side Bar</h2>
                                <iberis:pageregiondebug regionId="14"/>
                                <iberis:pageregiondebug regionId="15"/>
                                <iberis:pageregiondebug regionId="16"/>
                            </div>
                        </div>
                    </div>
                    <div class="footer-wrapper">
                        <div class="ui-g footer-regions">
                            <div class="ui-g-12 footer">
                                <h2>Footer</h2>
                                <iberis:pageregiondebug regionId="17"/>
                                <iberis:pageregiondebug regionId="26"/>
                                <iberis:pageregiondebug regionId="18"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </c:if>

        <c:if test="#{request.getParameter('layout-debug') != '1'}">
            <div class="site-wrapper live-site #{(templateUtil.centeredRegions)?'centered-regions':''}">
                <div class="nav-wrapper">
                    <div class="ui-g nav-regions">
                        <div class="ui-g-4 ui-sm-12 ui-md-12 ui-lg-4"><iberis:pageregion regionId="50"/></div>
                        <div class="ui-g-8 ui-sm-12 ui-md-12 ui-lg-8"><iberis:pageregion regionId="27"/></div>
                    </div>
                </div>
                <div class="header-wrapper">
                    <div class="ui-g header-regions">
                        <div class="ui-g-12 header">
                            <iberis:pageregion regionId="1"/>
                            <iberis:pageregion regionId="21"/>
                            <iberis:pageregion regionId="2"/>
                        </div>
                    </div>
                </div>
                <div class="hero-region-wrapper">
                    <div class="ui-g hero-region">
                        <div class="ui-g-12">
                            <iberis:pageregion regionId="60"/>
                        </div>
                    </div>
                </div>
                <div class="main-content-wrapper">
                    <div class="ui-g main-content-regions">
                        <div class="ui-g-9 ui-sm-12 ui-md-6 ui-lg-9 box1">
                            <c:if test="#{(!request.contextPath.equals('/') and !request.contextPath.equals('')) or cmsSite.site.showFrontPageContent}">
                                <iberis:pageregion regionId="52"/>
                                <ui:insert name="main-content">Default Main Content</ui:insert>
                                <iberis:pageregion regionId="53"/>
                            </c:if>
                            <iberis:pageregion regionId="23"/>
                            <iberis:pageregion regionId="24"/>
                            <iberis:pageregion regionId="25"/>
                        </div>
                        <div class="ui-g-3 ui-sm-12 ui-md-6 ui-lg-3 box2">
                            <iberis:pageregion regionId="28"/>
                            <iberis:pageregion regionId="29"/>
                            <iberis:pageregion regionId="30"/>
                        </div>
                    </div>
                </div>
                <div class="region-wrapper">
                    <div class="ui-g content-regions">
                        <div class="ui-g-9 ui-sm-12 ui-md-12 ui-lg-9">
                            <div class="ui-g">
                                <div class="ui-g-6 ui-sm-12 box3">
                                    <iberis:pageregion regionId="31"/>
                                    <iberis:pageregion regionId="32"/>
                                    <iberis:pageregion regionId="33"/>
                                </div>
                                <div class="ui-g-6 ui-sm-12 box4">
                                    <iberis:pageregion regionId="34"/>
                                    <iberis:pageregion regionId="35"/>
                                    <iberis:pageregion regionId="36"/>
                                </div>
                            </div>
                            <div class="ui-g">
                                <div class="ui-g-6 ui-sm-12 box5">
                                    <iberis:pageregion regionId="37"/>
                                    <iberis:pageregion regionId="38"/>
                                    <iberis:pageregion regionId="39"/>
                                </div>
                                <div class="ui-g-6 ui-sm-12 box6">
                                    <iberis:pageregion regionId="40"/>
                                    <iberis:pageregion regionId="41"/>
                                    <iberis:pageregion regionId="42"/>
                                </div>
                            </div>
                            <div class="ui-g">
                                <div class="ui-g-6 ui-sm-12 box7">
                                    <iberis:pageregion regionId="43"/>
                                    <iberis:pageregion regionId="44"/>
                                    <iberis:pageregion regionId="45"/>
                                </div>
                                <div class="ui-g-6 ui-sm-12 box8">
                                    <iberis:pageregion regionId="46"/>
                                    <iberis:pageregion regionId="47"/>
                                    <iberis:pageregion regionId="48"/>
                                </div>
                            </div>
                            <div class="ui-g">
                                <div class="ui-g-6 ui-sm-12 box9">
                                    <iberis:pageregion regionId="54"/>
                                    <iberis:pageregion regionId="55"/>
                                    <iberis:pageregion regionId="56"/>
                                </div>
                                <div class="ui-g-6 ui-sm-12 box10">
                                    <iberis:pageregion regionId="57"/>
                                    <iberis:pageregion regionId="58"/>
                                    <iberis:pageregion regionId="59"/>
                                </div>
                            </div>
                        </div>
                        <div class="ui-g-3 ui-sm-12 ui-md-12 ui-lg-3">
                            <iberis:pageregion regionId="14"/>
                            <iberis:pageregion regionId="15"/>
                            <iberis:pageregion regionId="16"/>
                        </div>
                    </div>
                </div>
                <div class="footer-wrapper">
                    <div class="ui-g footer-regions">
                        <div class="ui-g-12 footer">
                            <iberis:pageregion regionId="17"/>
                            <iberis:pageregion regionId="26"/>
                            <iberis:pageregion regionId="18"/>
                        </div>
                    </div>
                </div>
            </div>
        </c:if>

        <ui:insert name="body-bottom"/>
    </f:view>
</h:body>
</html>
