<ui:composition xmlns="http://www.w3.org/1999/xhtml"
        xmlns:f="http://java.sun.com/jsf/core"
        xmlns:h="http://java.sun.com/jsf/html"
        xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:p="http://primefaces.org/ui"
        xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <h:panelGroup layout="block" styleClass="admin-bar ui-g" id="sticky-admin-bar">
        <div class="ui-g-8 ui-sm-10">
            <h:graphicImage styleClass="admin-bar-logo" value="/templates/base/images/iberis-mark.png" />
            <p:button href="/" value="&lt;span class='icon-home6'&gt;&lt;/span&gt;" escape="false"/>
            <p:button href="#{request.contextPath}/cms" value="&lt;span class='icon-wrench3'&gt;&lt;/span&gt;" escape="false"/>

            <c:if test="#{request.getParameter('layout-debug') == '1'}">
                <p:button href="#{templateUtil.requestUrl}" styleClass="aqua-button" value="&lt;span class='icon-layout8'&gt;&lt;/span&gt;" escape="false"/>
            </c:if>

            <c:if test="#{request.getParameter('layout-debug') != '1'}">
                <p:button href="#{request.contextPath}?layout-debug=1" styleClass="aqua-button" value="&lt;span class='icon-layout12'&gt;&lt;/span&gt;" escape="false"/>
            </c:if>

            <p:button id="t-settings" styleClass="gray-button" href="#" value="&lt;span class='icon-layout7'&gt;&lt;/span&gt;" escape="false" onclick="PF('template-settings-dialog').show();return false;"/>
            <!--<p:button styleClass="gray-button" href="#" onclick="window.location.reload();return false;" value="&lt;span class='icon-refresh'&gt;&lt;/span&gt;" escape="false"/>-->

        </div>
        <div class="ui-g-4 ui-sm-2">
            <form class="form-inline" action="/logout" method="post" style="float: right">
                <button id="logout-button" name="logout-button" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only logout-button" type="submit" role="button" aria-disabled="false">
                    <span class="ui-button-text ui-c">
                        <span class="icon-exit"></span>
                    </span>
                </button>
                <ui:include src="../../views/CsrfTokenInsert.xhtml"/>
            </form>
            <span class="admin-bar-cms-title" style="float: right;font-size: 1.4em;margin-right: 8px;margin-top: 5px">Iberis CMS</span>
        </div>
    </h:panelGroup>
    <p:sticky target="sticky-admin-bar"/>

    <p:dialog modal="true" minHeight="450" height="450"
              width="90%" style="max-width: 500px"
              header="Template Settings" footer=""
              widgetVar="template-settings-dialog" draggable="false"
              closable="true" resizable="false" onHide="window.location.reload();">
        <ui:include src="/templates/base/TemplateSettingBar.xhtml"/>
    </p:dialog>

</ui:composition>