<?xml version='1.0' encoding='UTF-8' ?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:pe="http://primefaces.org/ui/extensions"
      xmlns:iberis="http://xmlns.jcp.org/jsf/composite/uicomponents">
<h:head>
    <f:facet name="first">
        <meta name="google" content="notranslate"/>
        <meta http-equiv="Content-Language" content="en"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta name="apple-mobile-web-app-capable" content="yes" />
    </f:facet>
    <ui:insert name="header-top"/>
    <ui:include src="CssIncludes.xhtml"/>
    <ui:include src="JsIncludes.xhtml"/>
    <ui:insert name="header-bottom"/>
    <title><ui:insert name="title">Iberis CMS</ui:insert></title>
</h:head>
<h:body class="cms-admin-template">
    <f:view contentType="text/html">
        <ui:insert name="body-top"/>

        <ui:include src="/templates/LookupDialog.xhtml" />
        <ui:include src="/templates/ProcessingDialog.xhtml" />

        <div class="wrapper slim-menu">

            <div id="sidebar-wrapper">
                <ui:include src="SidebarHeader.xhtml" />

                <div class="sidebar-nav nano">
                    <div class="nano-content sidebar-scroll-content">
                        <ui:include src="LayoutMenu.xhtml" />
                    </div>
                </div>
            </div>

            <ui:include src="TopBar.xhtml" />

            <div id="main-wrapper">
                <div class="main-content">
                    <ui:insert name="main-content"/>
                </div>

                <ui:include src="Footer.xhtml" />

            </div>
        </div>

        <p:ajaxStatus style="width:32px;height:32px;position:fixed;right:7px;bottom:7px">
            <f:facet name="start">
                <p:graphicImage name="images/preloader.gif" library="icarus-layout" style="width: 32px;"/>
            </f:facet>

            <f:facet name="complete">
                <h:outputText value="" />
            </f:facet>
        </p:ajaxStatus>

        <ui:insert name="body-bottom"/>

    </f:view>
</h:body>
</html>
