<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pe="http://primefaces.org/ui/extensions"
                xmlns:iberis="http://xmlns.jcp.org/jsf/composite/uicomponents"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <div class="footer-wrapper">
        <div class="ui-g footer-regions">
            <div class="ui-g-12 footer">
                <h2>Footer</h2>
                <iberis:pageregiondebug regionId="17"/>
                <iberis:pageregiondebug regionId="26"/>
                <iberis:pageregiondebug regionId="18"/>
            </div>
        </div>
    </div>

</ui:composition>