<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pe="http://primefaces.org/ui/extensions"
                xmlns:iberis="http://xmlns.jcp.org/jsf/composite/uicomponents"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <ui:insert name="template-top"/>
    <div class="top-display-wrapper">
        <div class="ui-g top-media-display">
            <div class="ui-g-12 ui-g-nopad">
                <iberis:pageregion regionId="61"/>
            </div>
        </div>
    </div>
    <div class="nav-wrapper">
        <div class="ui-g nav-regions">
            <div class="ui-g-4 ui-sm-12 ui-md-12 ui-lg-4"><iberis:pageregion regionId="50"/></div>
            <div class="ui-g-8 ui-sm-12 ui-md-12 ui-lg-8"><iberis:pageregion regionId="27"/></div>
        </div>
    </div>
    <div class="header-wrapper">
        <div class="ui-g header-regions">
            <div class="ui-g-12 header">
                <iberis:pageregion regionId="1"/>
                <iberis:pageregion regionId="21"/>
                <iberis:pageregion regionId="2"/>
            </div>
        </div>
    </div>
    <div class="hero-region-wrapper">
        <div class="ui-g hero-region">
            <div class="ui-g-12">
                <iberis:pageregion regionId="60"/>
            </div>
        </div>
    </div>
    <div class="main-content-wrapper">
        <div class="ui-g main-content-regions">
            <div class="ui-g-12 box1">
                <c:if test="#{(templateUtil.requestUrl != '/' and templateUtil.requestUrl != '') or (cmsSite.site.showFrontPageContent and (templateUtil.requestUrl == '' or templateUtil.requestUrl == '/'))}">
                    <iberis:pageregion regionId="52"/>
                    <ui:insert name="main-content">Default Main Content</ui:insert>
                    <iberis:pageregion regionId="53"/>
                </c:if>
                <iberis:pageregion regionId="23"/>
                <iberis:pageregion regionId="24"/>
                <iberis:pageregion regionId="25"/>
            </div>
        </div>
    </div>

</ui:composition>