<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pe="http://primefaces.org/ui/extensions"
                xmlns:iberis="http://xmlns.jcp.org/jsf/composite/uicomponents"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <div class="top-display-wrapper">
        <div class="ui-g top-media-display">
            <div class="ui-g-12 ui-g-nopad">
                <h2>Top Media</h2>
                <iberis:pageregiondebug regionId="61"/>
            </div>
        </div>
    </div>
    <div class="nav-wrapper">
        <div class="ui-g nav-regions">
            <div class="ui-g-4 ui-sm-12 ui-md-12 ui-lg-4">
                <h2>Logo</h2>
                <iberis:pageregiondebug regionId="50"/>
            </div>
            <div class="ui-g-8 ui-sm-12 ui-md-12 ui-lg-8">
                <h2>Navigation</h2>
                <iberis:pageregiondebug regionId="27"/>
            </div>
        </div>
    </div>
    <div class="header-wrapper">
        <div class="ui-g header-regions">
            <div class="ui-g-12 header">
                <h2>Header</h2>
                <iberis:pageregiondebug regionId="1"/>
                <iberis:pageregiondebug regionId="21"/>
                <iberis:pageregiondebug regionId="2"/>
            </div>
        </div>
    </div>
    <div class="hero-region-wrapper">
        <div class="ui-g hero-region">
            <div class="ui-g-12">
                <h2>Hero</h2>
                <iberis:pageregiondebug regionId="60"/>
            </div>
        </div>
    </div>
    <div class="main-content-wrapper">
        <div class="ui-g main-content-regions">
            <div class="ui-g-12 box1">
                <h2>Box 1</h2>
                <c:if test="#{(templateUtil.requestUrl != '/' and templateUtil.requestUrl != '') or (cmsSite.site.showFrontPageContent and (templateUtil.requestUrl == '' or templateUtil.requestUrl == '/'))}">
                    <iberis:pageregiondebug regionId="52"/>
                    <h4>[Main Page Content]</h4>
                    <div class="content-block">
                        <div>#{templateUtil.mainContentTitle}<h:outputText value="#{templateUtil.mainContentDebugEditLink}" escape="false" rendered="#{request.isUserInRole('Admin')}"/></div>
                    </div>
                    <iberis:pageregiondebug regionId="53"/>
                </c:if>
                <iberis:pageregiondebug regionId="23"/>
                <iberis:pageregiondebug regionId="24"/>
                <iberis:pageregiondebug regionId="25"/>
            </div>
        </div>
    </div>

</ui:composition>