<ui:composition
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
        xmlns:h="http://xmlns.jcp.org/jsf/html">

    <link rel="stylesheet" href="#{request.contextPath}/resources/icarus-layout/css/animate.css" />
    <link rel="stylesheet" href="#{request.contextPath}/resources/icarus-layout/css/nanoscroller.css" />
    <link rel="stylesheet" href="#{request.contextPath}/resources/icarus-layout/css/layout-orange.css" />
    <link rel="stylesheet" href="#{request.contextPath}/resources/css/icomoon/style.css"/>
    <link rel="stylesheet" href="#{request.contextPath}/resources/css/font-awesome/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="#{request.contextPath}/resources/css/jquery.bxslider.css"/>
    <link rel="stylesheet" href="#{request.contextPath}/resources/css/jquery.fancybox.min.css"/>
    <link rel="stylesheet" href="#{request.contextPath}/resources/css/sm-core-css.css"/>
    <link rel="stylesheet" href="#{request.contextPath}/resources/css/sm-simple.css"/>
    <link rel="stylesheet" href="#{request.contextPath}/resources/css/expanding_grid.css"/>
    <link rel="stylesheet" href="#{request.contextPath}/resources/css/iberiscomponents.css"/>
    <link rel="stylesheet" href="#{request.contextPath}/resources/icarus-layout/css/grid.css"/>
    <link rel="stylesheet" href="#{request.contextPath}/resources/css/responsive.css"/>
    <link rel="stylesheet" href="#{request.contextPath}/resources/css/hero.css"/>
    <link rel="stylesheet" href="#{request.contextPath}/resources/css/default.css"/>
    <link rel="stylesheet" href="#{request.contextPath}/resources/css/print.css" media="print"/>

</ui:composition>