<?xml version='1.0' encoding='UTF-8' ?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:p="http://primefaces.org/ui">
    <h:head>
        <meta name="google" content="notranslate"/>
        <meta http-equiv="Content-Language" content="en"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <ui:include src="CssIncludes.xhtml"/>
        <ui:include src="JsIncludes.xhtml"/>
        <title><ui:insert name="title">Iberis CMS</ui:insert></title>
    </h:head>
    <h:body class="empty-template" style="background: white">

        <f:view contentType="text/html">
            <ui:include src="/templates/LookupDialog.xhtml" />
            <ui:include src="/templates/ProcessingDialog.xhtml" />

            <ui:insert name="main-content">Default Main Content</ui:insert>
       </f:view>
    </h:body>
</html>
