<ui:composition

        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:f="http://java.sun.com/jsf/core"
        xmlns:h="http://java.sun.com/jsf/html"
        xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:p="http://primefaces.org/ui">

    <div class="footer">
        <img style="height: 80%" src="/templates/base/images/iberis-mark.png"/>
        <p> Iberis CMS</p>

        <div class="copyright">
            <p>All rights reserved.</p>
        </div>
    </div>

</ui:composition>