<?xml version='1.0' encoding='UTF-8' ?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:p="http://primefaces.org/ui">
    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <ui:include src="CssIncludes.xhtml"/>
        <ui:include src="JsIncludes.xhtml"/>
        <title><ui:insert name="title">Iberis Web Admin</ui:insert></title>
        <style type="text/css">
            div.ui-layout-east div.ui-layout-unit-content
            {
                padding: 2px;
                overflow: hidden;
            }

            .ui-layout-north .ui-layout-unit-content
            {
                overflow: hidden;
            }

            .ui-layout-south .ui-layout-unit-content
            {
                overflow: hidden;
            }

            .ui-layout-center
            {
                border: none;
            }

            .ui-layout-center fieldset
            {
                border: none;
            }

            #formAccordion div.ui-accordion-content
            {
                padding: 2px;
                height: 100%;
            }
        </style>

        <script type="text/javascript">
            $(document).ready(function()
            {
                $('#childRelationshipIframe').attr('src',$('#formAccordion\\:selectedTab_input').val());
            });
        </script>
    </h:head>
    <h:body>
        <f:view contentType="text/html">
            <ui:include src="/templates/LookupDialog.xhtml" />
            <ui:include src="/templates/ProcessingDialog.xhtml" />

            <ui:insert name="main-content">Default Main Content</ui:insert>
                
        </f:view>
    </h:body>
</html>
