<ui:composition
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
        xmlns:h="http://xmlns.jcp.org/jsf/html">

    <h:outputScript name="js/nanoscroller.js" library="icarus-layout" />
    <h:outputScript name="js/layout.js" library="icarus-layout" />
    <script type="text/javascript" src="#{request.contextPath}/resources/javascript/default.js"></script>
    <script type="text/javascript" src="#{request.contextPath}/resources/javascript/jquery.bxslider.min.js"></script>
    <script type="text/javascript" src="#{request.contextPath}/resources/javascript/jquery.smartmenus.min.js"></script>
    <script type="text/javascript" src="#{request.contextPath}/resources/javascript/lookup.js" defer="defer"></script>
    <script type="text/javascript" src="#{request.contextPath}/resources/javascript/expanding_grid.js" defer="defer"></script>
    <script type="text/javascript" src="#{request.contextPath}/resources/javascript/jquery.flip.min.js" defer="defer"></script>
    <script type="text/javascript" src="#{request.contextPath}/resources/javascript/jsComponentsInit.js" defer="defer"></script>
    <script type="text/javascript" src="#{request.contextPath}/resources/javascript/herofix.js" defer="defer"></script>
    <script type="text/javascript" src="#{request.contextPath}/resources/javascript/jquery.fancybox.min.js" defer="defer"></script>
    <script type="text/javascript" src="#{request.contextPath}/resources/javascript/modernizr-custom.js" defer="defer"></script>
    <script type="text/javascript" src="#{request.contextPath}/resources/javascript/objectFitFallback.js" defer="defer"></script>
    <script type="text/javascript" src="https://www.youtube.com/iframe_api"></script>
    <script type="text/javascript" src="https://player.vimeo.com/api/player.js"></script>
    <ui:include src="JsInline.xhtml"/>

</ui:composition>