<ui:composition
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:f="http://java.sun.com/jsf/core"
        xmlns:h="http://java.sun.com/jsf/html"
        xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:p="http://primefaces.org/ui"
        xmlns:pi="http://primefaces.org/icarus">

    <h:form id="menuform">

        <pi:menu widgetVar="IcarusMenu">
            <p:submenu label="Home Pages" icon="icon-home6">
                <p:menuitem value="Site Home" url="/"/>
                <p:menuitem value="CMS Admin Home" url="/cms"/>
            </p:submenu>
            <p:submenu label="Content / Media" icon="icon-article">
                <p:menuitem value="Content" url="/cms/content-management" icon="icon-article"/>
                <p:menuitem value="Blogs" url="/cms/blog-management" icon="icon-blog"/>
                <p:menuitem value="Forms" url="/cms/dynamic-form-management" icon="icon-newspaper"/>
                <p:menuitem value="Files" url="/cms/file-management" icon="icon-file"/>
                <p:menuitem value="Images" url="/cms/image-management" icon="icon-image3"/>
                <p:menuitem value="Canvases" url="/cms/canvas-management" icon="icon-image"/>
                <p:menuitem value="Image Galleries" url="/cms/gallery-management" icon="icon-images2"/>
                <p:menuitem value="Presentations" url="/cms/presentation-management" icon="icon-grid5"/>
                <p:menuitem value="Videos" url="/cms/video-management" icon="icon-film4"/>
            </p:submenu>
            <p:submenu label="Site Components" icon="icon-globe4">
                <p:menuitem value="FAQs" url="/cms/faq-management" icon="icon-question3"/>
                <p:menuitem value="Layouts" url="/cms/layout-management" icon="icon-layout14"/>
                <p:menuitem value="Menus" url="/cms/menu-management" icon="icon-menu6"/>
                <p:menuitem value="Page Item Assignments" url="/cms/page-item-assignment-management" icon="icon-list4"/>
                <p:menuitem value="Page Regions" url="/cms/page-region-management" icon="icon-grid6"/>
                <p:menuitem value="Tags" url="/cms/tag-management" icon="icon-tag7"/>
            </p:submenu>
            <p:submenu label="Ecommerce" icon="icon-coin">
                <p:menuitem value="Manufacturers" url="/ecommerce/manufacturer-management" icon="icon-office"/>
                <p:menuitem value="Products" url="/ecommerce/product-management" icon="icon-cube5"/>
                <p:menuitem value="Product Catalogs" url="/ecommerce/product-catalog-management" icon="icon-box4"/>
                <p:menuitem value="Product Groups" url="/ecommerce/product-group-management" icon="icon-cube4"/>
            </p:submenu>
            <p:submenu label="Multi-Site" icon="icon-atom" rendered="#{request.isUserInRole('Admin')}">
                <p:menuitem value="Content" url="/multi-site/cms/content-management" icon="icon-article"/>
                <p:menuitem value="Page Item Assignments" url="/multi-site/cms/page-item-assignment-management" icon="icon-list4"/>
                <p:menuitem value="Sites" url="/cms/site-management" icon="icon-globe"/>
                <p:menuitem value="Slides" url="/cms/slide-management" icon="icon-expand2"/>
            </p:submenu>
            <p:submenu label="Data" icon="icon-database2" rendered="#{request.isUserInRole('Admin')}">
                <p:menuitem value="Unit Forms" url="/admin/forms" icon="icon-insert-template"/>
                <p:menuitem value="Unit Grids" url="/admin/grids" icon="icon-table"/>
                <p:menuitem value="System Units" url="/admin/system-units" icon="icon-cog22"/>
            </p:submenu>
            <p:submenu label="Admin" icon="icon-settings2" rendered="#{request.isUserInRole('Admin') or request.isUserInRole('CMS_Admin')}">
                <p:menuitem value="Icons" url="/admin/icons" icon="icon-image7"/>
                <p:menuitem value="Resource Bundle" url="/admin/resource-bundle" icon="icon-book"/>
                <p:menuitem value="Roles" url="/admin/role-management" icon="icon-user2"/>
                <p:menuitem value="Site Settings" url="/cms/site-settings" icon="icon-globe"/>
                <p:menuitem value="Url Redirects" url="/cms/redirect-management" icon="icon-redo2"/>
                <p:menuitem value="Users" url="/admin/user-management" icon="icon-user22"/>
                <p:menuitem value="User Groups" url="/admin/user-group-management" icon="icon-users32"/>
            </p:submenu>
            <p:submenu label="My Profile" icon="icon-user22">
                <p:menuitem icon="icon-user22" value="Edit Profile" url="/user-profile"/>
                <p:menuitem icon="icon-exit" value="Log Out" url="/user-logout"/>
            </p:submenu>
        </pi:menu>

    </h:form>

</ui:composition>