<ui:composition xmlns="http://www.w3.org/1999/xhtml"
        xmlns:f="http://java.sun.com/jsf/core"
        xmlns:h="http://java.sun.com/jsf/html"
        xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:p="http://primefaces.org/ui"
        xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <p:dialog modal="true" width="90%" styleClass="quick-edit-dialog" style="max-width: 800px" height="500"
              header="Add / Edit Page Item Assignment" footer=""
              widgetVar="quick-pia-dialog" draggable="false"
              closable="true" resizable="false" onHide="window.location.reload();">
        <iframe id="quick-pia-iframe" style="width: 100%;min-width: 280px;height: 480px;border: none"></iframe>
    </p:dialog>

    <p:dialog modal="true" responsive="true" width="90%" styleClass="quick-edit-dialog" style="max-width: 800px" height="500"
              header="Edit Presentation" footer=""
              widgetVar="quick-presentation-dialog" draggable="false"
              closable="true" resizable="false" onHide="window.location.reload();">
        <iframe id="quick-presentation-iframe" style="width: 100%;min-width: 295px;height: 480px;border: none"></iframe>
    </p:dialog>

    <p:dialog modal="true" width="90%" styleClass="quick-edit-dialog" style="max-width: 800px" height="500"
              header="Edit Gallery" footer=""
              widgetVar="quick-gallery-dialog" draggable="false"
              closable="true" resizable="false" onHide="window.location.reload();">
        <iframe id="quick-gallery-iframe" style="width: 100%;min-width: 295px;height: 480px;border: none"></iframe>
    </p:dialog>

    <p:dialog modal="true" width="90%" styleClass="quick-edit-dialog" style="max-width: 800px" height="500"
              header="Edit Menu" footer=""
              widgetVar="quick-menu-dialog" draggable="false"
              closable="true" resizable="false" onHide="window.location.reload();">
        <iframe id="quick-menu-iframe" style="width: 100%;min-width: 295px;height: 480px;border: none"></iframe>
    </p:dialog>

    <p:dialog modal="true" width="90%" styleClass="quick-edit-dialog" style="max-width: 800px" height="500"
              header="Edit Video" footer=""
              widgetVar="quick-video-dialog" draggable="false"
              closable="true" resizable="false" onHide="window.location.reload();">
        <iframe id="quick-video-iframe" style="width: 100%;min-width: 295px;height: 480px;border: none"></iframe>
    </p:dialog>

    <p:dialog modal="true" width="90%" styleClass="quick-edit-dialog" style="max-width: 800px" height="500"
              header="Edit Image" footer=""
              widgetVar="quick-image-dialog" draggable="false"
              closable="true" resizable="false" onHide="window.location.reload();">
        <iframe id="quick-image-iframe" style="width: 100%;min-width: 295px;height: 480px;border: none"></iframe>
    </p:dialog>

    <p:dialog modal="true" width="90%" styleClass="quick-edit-dialog" style="max-width: 800px"
              header="Edit Content" footer=""
              widgetVar="quick-content-dialog" draggable="false"
              closable="true" resizable="false" onHide="window.location.reload();">
        <iframe id="quick-content-iframe" style="width: 100%;min-width: 295px;height: 480px;border: none"></iframe>
    </p:dialog>

    <p:dialog modal="true" width="90%" styleClass="quick-edit-dialog" style="max-width: 500px"
              header="Delete Assignment" footer=""
              widgetVar="delete-assignment-confirm-dialog" draggable="false"
              closable="true" resizable="false">
        <p>Are you sure you want to delete this assignment?</p>
        <p:button value="Yes" onclick="deleteAssignment(assignmentToDelete);window.location.reload();return false;" href="#"/>
        <p:button onclick="PF('delete-assignment-confirm-dialog').hide();return false;" href="#" value="No"/>

    </p:dialog>

</ui:composition>