<ui:composition

        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:f="http://java.sun.com/jsf/core"
        xmlns:h="http://java.sun.com/jsf/html"
        xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:p="http://primefaces.org/ui">

    <div id="sidebar-header">
        <div id="logo-wrapper" style="padding: 10px 30px">
            <h:graphicImage rendered="#{cmsSite.site.logo != null}" style="max-width: 100%;max-height: 100%" value="#{cmsSite.site.logo.filePath}"/>
        </div>
        <a id="slim-menu-button" href="#">
            <i class="fa fa-bars" aria-hidden="true"></i>
        </a>
    </div>

</ui:composition>