<?xml version='1.0' encoding='UTF-8' ?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

	<h:body>
		<ui:composition template="/templates/#{templateUtil.baseTemplateFolder}/Template.xhtml">

			<ui:define name="meta-top">
				<f:facet name="first">
					<meta name="google" content="notranslate"/>
					<meta http-equiv="Content-Language" content="en"/>
					<meta http-equiv="X-UA-Compatible" content="IE=edge" />
					<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
					<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
					<meta name="apple-mobile-web-app-capable" content="yes" />
				</f:facet>
                <title><h:outputText value="#{templateUtil.getPageMetaTitle()}"/></title>
                <meta name="description" content="#{templateUtil.getPageMetaDescription()}"/>
				<h:outputText value="#{templateUtil.getSocialShareMeta()}" escape="false"/>
			</ui:define>
			<ui:define name="head-top-css">
				<link rel="preload" href="#{request.contextPath}/resources/icarus-layout/css/animate.css" as="style" onload="this.onload=null;this.rel='stylesheet'"/>
				<noscript><link rel="stylesheet" href="#{request.contextPath}/resources/icarus-layout/css/animate.css"/></noscript>
				<link rel="preload" href="#{request.contextPath}/resources/icarus-layout/css/nanoscroller.css" as="style" onload="this.onload=null;this.rel='stylesheet'"/>
				<noscript><link rel="stylesheet" href="#{request.contextPath}/resources/icarus-layout/css/nanoscroller.css"/></noscript>
				<link rel="preload" href="#{request.contextPath}/resources/icarus-layout/css/layout-orange.css" as="style" onload="this.onload=null;this.rel='stylesheet'"/>
				<noscript><link rel="stylesheet" href="#{request.contextPath}/resources/icarus-layout/css/layout-orange.css"/></noscript>
				<link rel="stylesheet" href="#{request.contextPath}/resources/icarus-layout/css/grid.css"/>
				<link rel="stylesheet" href="#{request.contextPath}/resources/css/responsive.css"/>
				<link rel="preload" href="#{request.contextPath}/resources/css/hero.css" as="style" onload="this.onload=null;this.rel='stylesheet'"/>
				<noscript><link rel="stylesheet" href="#{request.contextPath}/resources/css/hero.css"/></noscript>
			</ui:define>

			<ui:define name="head-bottom-css">
				<link rel="preload" href="#{request.contextPath}/resources/css/icomoon/style.css" as="style" onload="this.onload=null;this.rel='stylesheet'"/>
				<noscript><link rel="stylesheet" href="#{request.contextPath}/resources/css/icomoon/style.css"/></noscript>
				<link rel="preload" href="#{request.contextPath}/resources/css/font-awesome/css/font-awesome.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'"/>
				<noscript><link rel="stylesheet" href="#{request.contextPath}/resources/css/font-awesome/css/font-awesome.min.css"/></noscript>
				<link rel="preload" href="#{request.contextPath}/resources/css/jquery.bxslider.css" as="style" onload="this.onload=null;this.rel='stylesheet'"/>
				<noscript><link rel="stylesheet" href="#{request.contextPath}/resources/css/jquery.bxslider.css"/></noscript>
				<link rel="preload" href="#{request.contextPath}/resources/css/jquery.fancybox.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'"/>
				<noscript><link rel="stylesheet" href="#{request.contextPath}/resources/css/jquery.fancybox.min.css"/></noscript>
				<link rel="preload" href="#{request.contextPath}/resources/css/sm-core-css.css" as="style" onload="this.onload=null;this.rel='stylesheet'"/>
				<noscript><link rel="stylesheet" href="#{request.contextPath}/resources/css/sm-core-css.css"/></noscript>
				<link rel="preload" href="#{request.contextPath}/resources/css/sm-simple.css" as="style" onload="this.onload=null;this.rel='stylesheet'"/>
				<noscript><link rel="stylesheet" href="#{request.contextPath}/resources/css/sm-simple.css"/></noscript>
				<link rel="preload" href="#{request.contextPath}/resources/css/expanding_grid.css" as="style" onload="this.onload=null;this.rel='stylesheet'"/>
				<noscript><link rel="stylesheet" href="#{request.contextPath}/resources/css/expanding_grid.css"/></noscript>
				<link rel="stylesheet" href="#{request.contextPath}/resources/css/layoutdebug.css"/>
				<link rel="stylesheet" href="#{request.contextPath}/resources/css/iberiscomponents.css"/>
				<link rel="stylesheet" href="#{request.contextPath}/resources/css/default.css"/>
				<link rel="stylesheet" href="#{request.contextPath}/resources/css/print.css" media="print"/>
			</ui:define>

			<ui:define name="head-top-js">
				<h:outputScript library="primefaces" name="jquery/jquery.js" target="head" />
				<h:outputScript library="primefaces" name="jquery/jquery-plugins.js" target="head" />
				<h:outputScript name="js/nanoscroller.js" library="icarus-layout" />
				<h:outputScript name="js/layout.js" library="icarus-layout" />
			</ui:define>

			<ui:define name="head-bottom-js">
				<script type="text/javascript" src="#{request.contextPath}/resources/javascript/default.js"></script>
				<script type="text/javascript" src="#{request.contextPath}/resources/javascript/jquery.bxslider.min.js" defer="defer"></script>
                <script type="text/javascript" src="#{request.contextPath}/resources/javascript/jquery.smartmenus.min.js" defer="defer"></script>
				<script type="text/javascript" src="#{request.contextPath}/resources/javascript/lookup.js" defer="defer"></script>
				<script type="text/javascript" src="#{request.contextPath}/resources/javascript/expanding_grid.js" defer="defer"></script>
				<script type="text/javascript" src="#{request.contextPath}/resources/javascript/jquery.flip.min.js" defer="defer"></script>
				<script type="text/javascript" src="#{request.contextPath}/resources/javascript/jsComponentsInit.js" defer="defer"></script>
				<script type="text/javascript" src="#{request.contextPath}/resources/javascript/herofix.js" defer="defer"></script>
				<script type="text/javascript" src="#{request.contextPath}/resources/javascript/jquery.fancybox.min.js" defer="defer"></script>
				<script type="text/javascript" src="#{request.contextPath}/resources/javascript/modernizr-custom.js" defer="defer"></script>
				<script type="text/javascript" src="#{request.contextPath}/resources/javascript/objectFitFallback.js" defer="defer"></script>
				<script type="text/javascript" src="https://www.youtube.com/iframe_api" defer="defer"></script>
				<script type="text/javascript" src="https://player.vimeo.com/api/player.js" defer="defer"></script>
				<ui:include src="JsInline.xhtml"/>
				<ui:include src="loadcss.xhtml"/>
			</ui:define>

			<ui:define name="body-top">
				<ui:include src="/templates/LookupDialog.xhtml" />

				<c:if test="#{request.isUserInRole('Admin')}">
					<ui:include src="AdminBar.xhtml"/>
				</c:if>

				<ui:include src="QuickEditDialogs.xhtml"/>

				<c:if test="#{request.getParameter('layout-debug') != '1'}">
					<h:form>
						<ui:include src="../../views/CsrfTokenInsert.xhtml"/>
						<p:remoteCommand name="dFormSubmit" action="#{dynamicFormView.submitDynamicForm}"/>
					</h:form>
				</c:if>

			</ui:define>

            <ui:define name="body-bottom">
				<c:if test="#{request.isUserInRole('Admin') and request.getParameter('layout-debug') == '1'}">
					<script type="text/javascript">
						$(document).ready(function()
						{
						   addRegionDebugFunctionality();
					   });
					</script>
				</c:if>
            </ui:define>
		</ui:composition>
	</h:body>
</html>
