<ui:composition xmlns="http://www.w3.org/1999/xhtml"
        xmlns:f="http://java.sun.com/jsf/core"
        xmlns:h="http://java.sun.com/jsf/html"
        xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:p="http://primefaces.org/ui"
        xmlns:iberis="http://xmlns.jcp.org/jsf/composite/uicomponents">

    <div id="template-setting-bar">
        <div class="ui-g">
            <h:form styleClass="template-settings-form">
                <ui:include src="../../views/CsrfTokenInsert.xhtml"/>
                <div class="ui-g-12">
                    <p:outputLabel for="front-page-template:frontPageTemplate_PK_id" value="Front Page Template:"/>
                    <iberis:lookup id="front-page-template" requiredMessage="Front page template is required" valueRequired="true" displayValue="#{templateUtil.site.frontPageTemplate.name}" value="#{templateUtil.site.frontPageTemplate.id}" lookupProperties="#{componentsUtil.getLookupProperties(componentsUtil.getFieldProperty(477))}" dataBeanName="templateUtil.site" fieldProperty="#{componentsUtil.getFieldProperty(477)}"/>
                </div>
                <div class="ui-g-12">
                    <p:outputLabel for="inner-page-template:innerPageTemplate_PK_id" value="Inner Page Template:"/>
                    <iberis:lookup id="inner-page-template" requiredMessage="Inner page template is required" valueRequired="true" displayValue="#{templateUtil.site.innerPageTemplate.name}" value="#{templateUtil.site.innerPageTemplate.id}" lookupProperties="#{componentsUtil.getLookupProperties(componentsUtil.getFieldProperty(478))}" dataBeanName="templateUtil.site" fieldProperty="#{componentsUtil.getFieldProperty(478)}"/>
                </div>
                <h:panelGroup layout="block" rendered="#{templateUtil.contentId > 0 || templateUtil.formId > 0}" styleClass="ui-g-12">
                    <p:outputLabel for="page-template:pageTemplate_PK_id" value="Page Template:"/>
                    <iberis:lookup id="page-template" displayValue="#{templateUtil.pageTemplate.name}" value="#{templateUtil.pageTemplate.id}" lookupProperties="#{componentsUtil.getLookupProperties(componentsUtil.getFieldProperty(480))}" dataBeanName="templateUtil" fieldProperty="#{componentsUtil.getFieldProperty(480)}"/>
                </h:panelGroup>
                <div class="ui-g-12">
                    <p:commandButton action="#{templateUtil.saveTemplateSetting}" value="Save" update=":msg" />
                </div>
            </h:form>
        </div>
        <div class="ui-g">
            <div class="ui-g-12">
                <p:messages id="msg"><p:autoUpdate /></p:messages>
            </div>
        </div>
    </div>

</ui:composition>