<ui:composition

        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:f="http://java.sun.com/jsf/core"
        xmlns:h="http://java.sun.com/jsf/html"
        xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:p="http://primefaces.org/ui">

    <div id="top-bar-wrapper">
        <div id="top-bar">
            <div class="search-bar">
                <form action="#{request.contextPath}/cms/search">
                    <span class="search">
                        <i class="fa fa-search" aria-hidden="true"></i>
                    </span>
                    <input type="text" name="search-criteria" id="search-criteria" style="width: 70%" value="#{request.getParameter('search-criteria')}" placeholder="Search"/>
                </form>
            </div>
            <div class="top-bar-profile">
                <a href="#" id="profile-image" style="display: block">
                <div class="profile-name" style="width: 100%;margin-top: 15px">
                    <div class="ui-g">
                        <div class="ui-g-12">
                            <span><h:outputText value="#{userUtil.user.firstName} #{userUtil.user.lastName}"/></span><br/>
                            <h:outputText value="#{userUtil.user.email}"/>
                        </div>
                        <!--<div class="ui-g-6" style="text-align: left">
                            <h:graphicImage name="images/profile.png" library="icarus-layout" style="border: 0 none;padding: 0;float: none"/>
                        </div>-->
                    </div>


                </div>
                </a>
                <ul class="top-submenu animated flipInX">
                    <li>
                        <a href="#{request.contextPath}/user-profile">
                            <i class="fa fa-fw fa-user"></i>
                            <span>My Profile</span>
                        </a>
                    </li>
                    <!--<li>
                        <a href="#">
                            <i class="top-submenu-icon fa fa-fw fa-calendar"></i>
                            <span>Calendar</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="top-submenu-icon fa fa-fw fa-envelope"></i>
                            <span>Messages</span>
                            <span class="top-submenu-badge">5</span>
                        </a>
                    </li>-->
                    <li>
                        <form class="form-inline" action="/logout" method="post">
                            <ui:include src="../../views/CsrfTokenInsert.xhtml"/>
                            <button id="logout-button" name="logout-button" style="width: 100%;padding: 5px" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only logout-button" type="submit" role="button" aria-disabled="false"><span class="ui-button-text ui-c">Log out</span></button>
                        </form>
                    </li>
                </ul>
            </div>
            <div class="top-bar-logo-wrapper"><img style="height: 80%" src="/templates/base/images/iberis-mark.png"/></div>

            <!--<div class="top-menu">
                <div class="top-bar-icon">
                    <a href="#">
                        <i class="fa fa-bell-o animated swing" aria-hidden="true"></i>
                        <i class="top-bar-badge animated rubberBand">3</i>
                    </a>
                    <ul class="top-submenu animated flipInX">
                        <li class="header">You have 3 tasks.</li>
                        <li>
                            <a href="#">
                                <i class="top-submenu-icon fa fa-fw fa-mobile"></i>
                                <span>Mobile app release</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="top-submenu-icon fa fa-fw fa-line-chart"></i>
                                <span>Review sale reports</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="top-submenu-icon fa fa-fw fa-plane"></i>
                                <span>Reserve flight</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="top-bar-icon">
                    <a href="#">
                        <i class="fa fa-envelope-o animated swing" aria-hidden="true"></i>
                        <i class="top-bar-badge animated rubberBand">5</i>
                    </a>
                    <ul class="top-submenu animated flipInX">
                        <li class="header">You have 5 messages.</li>
                        <li>
                            <a href="#">
                                <p:graphicImage name="images/avatar_1.png" library="icarus-layout" width="35"/>
                                <span>Nice to meet you.</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <p:graphicImage name="images/avatar_2.png" library="icarus-layout" width="35"/>
                                <span>Sales reports attached.</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <p:graphicImage name="images/avatar_3.png" library="icarus-layout" width="35"/>
                                <span>About your invoice.</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <p:graphicImage name="images/avatar_4.png" library="icarus-layout" width="35"/>
                                <span>Meeting today at 10pm.</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <p:graphicImage name="images/avatar_2.png" library="icarus-layout" width="35"/>
                                <span>Lunch today?</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="top-bar-icon">
                    <a href="#">
                        <i class="fa fa-support" aria-hidden="true"></i>
                    </a>
                </div>
            </div>-->
        </div>
    </div>

</ui:composition>