<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
      xmlns:iberis="http://xmlns.jcp.org/jsf/composite/uicomponents">
<body>
<ui:composition template="/templates/base/Template.xhtml">
    <ui:define name="main-content">
        <c:if test="#{dynamicFormView.form.customContentTemplate == null || dynamicFormView.form.customContentTemplate.trim() == ''}">
            <h:panelGroup layout="block" style="position: relative">
                <h:form onsubmit="return false;" styleClass="assignment-edit-menu" rendered="#{request.isUserInRole('Admin')}">
                    <p:menuButton icon="icon-edit">
                        <p:menuitem url="/cms/dynamic-form-management/form/#{dynamicFormView.form.id}" value="Edit Form"/>
                    </p:menuButton>
                </h:form>
                <h:form>
                    <ui:include src="../CsrfTokenInsert.xhtml"/>
                    <h:panelGroup layout="block" id="dynamic-form-#{dynamicFormView.form.id}">
                        <h:panelGroup rendered="#{!dynamicFormView.form.submitted}">
                            <c:if test="#{dynamicFormView.form.showTitle}">
                                <h1><h:outputText value="&lt;#{dynamicFormView.form.titleSize}&gt;#{textUtil.getCleanHtml(dynamicFormView.form.title)}&lt;/#{dynamicFormView.form.titleSize}&gt;" escape="false"/></h1>
                            </c:if>

                            <h:outputText rendered="#{dynamicFormView.form.header != null and dynamicFormView.form.header != ''}" value="#{textUtil.getCleanHtml(dynamicFormView.form.header)}" escape="false"/>

                            <!-- Headers -->
                            <c:if test="#{dynamicFormView.form.sectionsType == 0}">
                                <c:forEach items="#{dynamicFormView.form.formSections}" var="section">
                                    <c:if test="#{section.showTitle}">
                                        <h2>#{section.title}</h2>
                                    </c:if>
                                    <iberis:dynamicformsection section="#{section}" sectionType="#{dynamicFormView.form.sectionsType}"/>
                                </c:forEach>
                            </c:if>

                            <!-- Accordion -->
                            <c:if test="#{dynamicFormView.form.sectionsType == 3}">
                                <p:accordionPanel>
                                    <c:forEach items="#{dynamicFormView.form.formSections}" var="section">
                                        <p:tab title="#{section.title}">
                                            <iberis:dynamicformsection section="#{section}" sectionType="#{dynamicFormView.form.sectionsType}"/>
                                        </p:tab>
                                    </c:forEach>
                                </p:accordionPanel>
                            </c:if>

                            <!-- Tab View -->
                            <c:if test="#{dynamicFormView.form.sectionsType == 1}">
                                <p:tabView>
                                    <c:forEach items="#{dynamicFormView.form.formSections}" var="section">
                                        <p:tab title="#{section.title}">
                                            <iberis:dynamicformsection section="#{section}" sectionType="#{dynamicFormView.form.sectionsType}"/>
                                        </p:tab>
                                    </c:forEach>
                                </p:tabView>
                            </c:if>

                            <!-- Field Set -->
                            <c:if test="#{dynamicFormView.form.sectionsType == 2}">
                                <c:forEach items="#{dynamicFormView.form.formSections}" var="section">
                                    <p:fieldset legend="#{section.title}">
                                        <iberis:dynamicformsection section="#{section}" sectionType="#{dynamicFormView.form.sectionsType}"/>
                                    </p:fieldset>
                                </c:forEach>
                            </c:if>

                            <c:if test="#{dynamicFormView.form.useCaptcha}">
                                <p:captcha label="Captcha"/>
                            </c:if>

                            <h:outputText rendered="#{dynamicFormView.form.footer != null and dynamicFormView.form.footer != ''}" value="#{textUtil.getCleanHtml(dynamicFormView.form.footer)}" escape="false"/>

                            <p:commandButton id="form-submit-btn-#{dynamicFormView.form.id}" styleClass="#{dynamicFormView.form.buttonCssClasses}" value="#{dynamicFormView.form.submitButtonText}" action="#{dynamicFormView.submitForm}" update="@form"/>
                        </h:panelGroup>
                    </h:panelGroup>
                    <p:blockUI block="dynamic-form-#{dynamicFormView.form.id}" trigger="form-submit-btn-#{dynamicFormView.form.id}" />
                    <p:contextMenu for="dynamic-form-#{dynamicFormView.form.id}" rendered="#{request.isUserInRole('Admin')}">
                        <p:menuitem url="/cms/dynamic-form-management/form/#{dynamicFormView.form.id}" value="Edit Form"/>
                    </p:contextMenu>
                    <p:messages escape="false"/>
                </h:form>
            </h:panelGroup>
        </c:if>
        <c:if test="#{dynamicFormView.form.customContentTemplate != null and dynamicFormView.form.customContentTemplate.trim() != ''}">
            <ui:include src="/views/custom/forms/#{dynamicFormView.form.customContentTemplate}.xhtml"/>
        </c:if>
    </ui:define>

</ui:composition>
</body>
</html>