<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:pe="http://primefaces.org/ui/extensions"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
      xmlns:iberis="http://xmlns.jcp.org/jsf/composite/uicomponents">
<body>
<ui:composition template="/templates/base/Template.xhtml">
    <ui:define name="main-content">
        <h:panelGroup layout="block" style="position: relative" styleClass="dynamic-content #{dynamicContent.getWrapperClass()}" id="dynamic-content-#{dynamicContent.content.id}">
            <h:form onsubmit="return false;" styleClass="assignment-edit-menu" rendered="#{request.isUserInRole('Admin')}">
                <p:menuButton icon="icon-edit">
                    <p:menuitem url="#" onclick="showContentQuickDialog(#{dynamicContent.content.id});return false;" value="Quick Edit" rendered="#{dynamicContent.content.customContentTemplate == null || dynamicContent.content.customContentTemplate.trim() == ''}"/>
                    <p:menuitem url="/cms/content-management/form/#{dynamicContent.content.id}" value="Full Edit Content"/>
                </p:menuButton>
            </h:form>
            <c:if test="#{dynamicContent.content.customContentTemplate == null || dynamicContent.content.customContentTemplate.trim() == ''}">
                <c:if test="#{dynamicContent.content.showTitle and dynamicContent.content.showTitleAboveBanner}">
                    <h:outputText value="&lt;#{dynamicContent.content.titleSize}&gt;#{dynamicContent.getTitle()}&lt;/#{dynamicContent.content.titleSize}&gt;" escape="false"/>
                </c:if>

                <h:panelGroup layout="block" rendered="#{dynamicContent.content.bannerGraphic != null}">
                    <h:graphicImage styleClass="content-banner print-excluded" value="#{dynamicContent.content.bannerGraphic.filePath}"/>
                </h:panelGroup>

                <c:if test="#{dynamicContent.content.showTitle and !dynamicContent.content.showTitleAboveBanner}">
                    <h:outputText value="&lt;#{dynamicContent.content.titleSize}&gt;#{dynamicContent.getTitle()}&lt;/#{dynamicContent.content.titleSize}&gt;" escape="false"/>
                </c:if>

                <c:if test="#{dynamicContent.content.printable or dynamicContent.content.enableSocialSharing}">
                    <div>
                        <c:if test="#{dynamicContent.content.enableSocialSharing}">
                            <div style="float: right;display: inline-block">
                                <pe:social shares="#{(dynamicContent.content.enableFacebook)?'facebook,':''}#{(dynamicContent.content.enableTwitter)?'twitter,':''}#{(dynamicContent.content.enableLinkedin)?'linkedin,':''}#{(dynamicContent.content.enableEmail)?'email,':''}" theme="classic" showCount="false" showLabel="false" url="#{cmsSite.siteUrl}/content/#{dynamicContent.content.urlAlias}"/>
                            </div>
                        </c:if>
                        <c:if test="#{dynamicContent.content.printable}">
                            <p:commandButton escape="false" value="&lt;span class='icon-printer2' style='font-size: 20px'&gt;&lt;/span&gt;" type="button" style="float: right;margin: .5em .6em .5em 0" styleClass="printer-button">
                                <p:printer target="dynamic-content-#{dynamicContent.content.id}" />
                            </p:commandButton>
                        </c:if>
                        <div style="clear: both"/>
                    </div>
                </c:if>

                <h:panelGroup id="header-bodies" layout="block" style="margin-top: 15px" rendered="#{(dynamicContent.getHeader() != null and dynamicContent.getHeader() != '') or (dynamicContent.getSubHeader() != null and dynamicContent.getSubHeader() != '') }">

                    <div class="ui-g">
                        <h:outputText value="&lt;div class='ui-g-12 ui-g-nopad'&gt;" escape="false" rendered="#{dynamicContent.content.headerLayout == null || dynamicContent.content.headerLayout == '' || dynamicContent.content.headerLayout == 'stacked'}"/>
                        <h:outputText value="&lt;div class='ui-g-6 ui-sm-12 ui-g-nopad content-item-left'&gt;" escape="false" rendered="#{dynamicContent.content.headerLayout == 'side by side'}"/>

                        <h:outputText value="#{dynamicContent.getHeader()}" escape="false"/>

                        <h:outputText value="&lt;br/&gt;" escape="false" rendered="#{dynamicContent.content.headerLayout == 'stacked'}"/>
                        <h:outputText value="&lt;/div&gt;&lt;div class='ui-g-6 ui-sm-12 ui-g-nopad content-item-right'&gt;" escape="false" rendered="#{dynamicContent.content.headerLayout == 'side by side'}"/>

                        <h:outputText value="#{dynamicContent.getSubHeader()}" escape="false" rendered="#{dynamicContent.content.headerLayout != null and dynamicContent.content.headerLayout != ''}"/>

                        <h:outputText value="&lt;/div&gt;" escape="false" />
                    </div>
                </h:panelGroup>

                <h:panelGroup id="content-bodies" layout="block" styleClass="content-bodies" style="#{((dynamicContent.getHeader() != null and dynamicContent.getHeader() != '') or (dynamicContent.getSubHeader() != null and dynamicContent.getSubHeader() != ''))? 'margin-top: 15px':''}">
                    <div class="ui-g">
                        <h:outputText value="&lt;div class='ui-g-12 ui-g-nopad'&gt;" escape="false" rendered="#{dynamicContent.content.contentLayout == null || dynamicContent.content.contentLayout == '' || dynamicContent.content.contentLayout == '2 stacked' || dynamicContent.content.contentLayout == '3 stacked' || dynamicContent.content.contentLayout == '4 stacked' || dynamicContent.content.contentLayout == '2 stacked 2 even'}"/>
                        <h:outputText value="&lt;div class='ui-g-6 ui-sm-12 ui-g-nopad content-item-left'&gt;" escape="false" rendered="#{dynamicContent.content.contentLayout == '4 even' || dynamicContent.content.contentLayout == '2 even 2 stacked' || dynamicContent.content.contentLayout == '2 even'}"/>

                        <h:outputText value="#{dynamicContent.getBody()}" escape="false"/>

                        <h:outputText value="&lt;br/&gt;" escape="false" rendered="#{dynamicContent.content.contentLayout == '2 stacked' || dynamicContent.content.contentLayout == '3 stacked' || dynamicContent.content.contentLayout == '4 stacked' || dynamicContent.content.contentLayout == '2 stacked 2 even'}"/>
                        <h:outputText value="&lt;/div&gt;&lt;div class='ui-g-6 ui-sm-12 ui-g-nopad content-item-right'&gt;" escape="false" rendered="#{dynamicContent.content.contentLayout == '4 even' || dynamicContent.content.contentLayout == '2 even 2 stacked' || dynamicContent.content.contentLayout == '2 even'}"/>

                        <h:outputText value="#{dynamicContent.getBody2()}" escape="false" rendered="#{dynamicContent.content.contentLayout != null and dynamicContent.content.contentLayout != ''}"/>

                        <h:outputText value="&lt;/div&gt;" escape="false"/>
                    </div>
                </h:panelGroup>

                <h:panelGroup id="content-bodies-2" layout="block" style="margin-top: 15px" styleClass="content-bodies-2" rendered="#{dynamicContent.content.contentLayout == '3 stacked' || dynamicContent.content.contentLayout == '4 stacked' || dynamicContent.content.contentLayout == '2 even 2 stacked' || dynamicContent.content.contentLayout == '4 even' || dynamicContent.content.contentLayout == '2 stacked 2 even'}">
                    <div class="ui-g">
                        <h:outputText value="&lt;div class='ui-g-6 ui-sm-12 ui-g-nopad content-item-left'&gt;" escape="false" rendered="#{dynamicContent.content.contentLayout == '4 even' || dynamicContent.content.contentLayout == '2 stacked 2 even'}"/>
                        <h:outputText value="&lt;div class='ui-g-12 ui-g-nopad'&gt;" escape="false" rendered="#{dynamicContent.content.contentLayout == '3 stacked' || dynamicContent.content.contentLayout == '4 stacked' || dynamicContent.content.contentLayout == '2 even 2 stacked'}"/>

                        <h:outputText value="#{dynamicContent.getBody3()}" escape="false"/>

                        <h:outputText value="&lt;/div&gt;&lt;div class='ui-g-6 ui-sm-12 ui-g-nopad content-item-right'&gt;" escape="false" rendered="#{dynamicContent.content.contentLayout == '4 even' || dynamicContent.content.contentLayout == '2 stacked 2 even'}"/>
                        <h:outputText value="&lt;br/&gt;" escape="false" rendered="#{dynamicContent.content.contentLayout == '3 stacked' || dynamicContent.content.contentLayout == '4 stacked' || dynamicContent.content.contentLayout == '2 even 2 stacked'}"/>

                        <h:outputText value="#{dynamicContent.getBody4()}" escape="false" rendered="#{dynamicContent.content.contentLayout == '4 even' || dynamicContent.content.contentLayout == '2 stacked 2 even'  || dynamicContent.content.contentLayout == '4 stacked'  || dynamicContent.content.contentLayout == '2 even 2 stacked'}"/>

                        <h:outputText value="&lt;/div&gt;" escape="false"/>
                    </div>
                </h:panelGroup>

                <h:panelGroup id="presentation-section" layout="block" style="margin-top: 15px;position: relative" rendered="#{dynamicContent.content.presentation != null}">
                    <h:form onsubmit="return false;" styleClass="assignment-edit-menu" rendered="#{request.isUserInRole('Admin')}">
                        <p:menuButton icon="icon-edit">
                            <p:menuitem url="/cms/presentation-slide-management/#{dynamicContent.content.presentation.id}" value="Full Edit Presentation"/>
                            <p:menuitem url="#" onclick="showPresentationQuickDialog(#{dynamicContent.content.presentation.id});return false;" value="Quick Edit Presentation"/>
                        </p:menuButton>
                    </h:form>
                    <iberis:presentation id="presentation-#{dynamicContent.content.id}-#{dynamicContent.content.presentation.id}" presentation="#{dynamicContent.content.presentation}"/>
                </h:panelGroup>

                <h:panelGroup id="gallery-section" layout="block" style="margin-top: 15px;position: relative" rendered="#{dynamicContent.content.gallery != null}">
                    <h:form onsubmit="return false;" styleClass="assignment-edit-menu" rendered="#{request.isUserInRole('Admin')}">
                        <p:menuButton icon="icon-edit">
                            <p:menuitem url="/cms/gallery-image-management/#{dynamicContent.content.gallery.id}" value="Full Edit Gallery"/>
                            <p:menuitem url="#" onclick="showGalleryQuickDialog(#{dynamicContent.content.gallery.id});return false;" value="Quick Edit Gallery"/>
                        </p:menuButton>
                    </h:form>
                    <iberis:gallery id="gallery-#{dynamicContent.content.id}-#{dynamicContent.content.gallery.id}" gallery="#{dynamicContent.content.gallery}"/>
                </h:panelGroup>

                <c:if test="#{dynamicContent.content.type == 'unit_grid'}">
                    <h:panelGroup id="unit-grid-section" layout="block" style="margin-top: 15px" rendered="#{dynamicContent.content.type == 'unit_grid'}">
                        <ui:include src="ContentUnitGrid.xhtml" />
                    </h:panelGroup>
                </c:if>

                <c:if test="#{dynamicContent.content.contentBlockSections != null and dynamicContent.content.contentBlockSections.size() > 0}">
                    <iberis:contentblocks content="#{dynamicContent.content}" />
                </c:if>

                <h:panelGroup rendered="#{dynamicContent.content.showFilesDownload and dynamicContent.content.contentFiles != null and dynamicContent.content.contentFiles.size() > 0}">
                    <h3 class="content-files-header"><h:outputText value="#{(dynamicContent.content.filesHeaderText != null and dynamicContent.content.filesHeaderText.trim() != '')?dynamicContent.content.filesHeaderText:'Files'}"/></h3>
                    <p:dataGrid var="item" columns="1" value="#{dynamicContent.content.contentFiles}" rendered="#{dynamicContent.content.contentFiles != null and dynamicContent.content.contentFiles.size() > 0}">
                        <h:outputLink value="#{request.contextPath}#{item.file.filePath}" target="_blank">#{item.file.displayName}</h:outputLink>
                    </p:dataGrid>
                </h:panelGroup>

                <h:panelGroup id="footer-bodies" layout="block" style="margin-top: 15px" rendered="#{(dynamicContent.getFooter() != null and dynamicContent.getFooter() != '') or (dynamicContent.getSubFooter() != null and dynamicContent.getSubFooter() != '') }">
                    <div class="ui-g">
                        <h:outputText value="&lt;div class='ui-g-12 ui-g-nopad'&gt;" escape="false" rendered="#{dynamicContent.content.footerLayout == null || dynamicContent.content.footerLayout == '' || dynamicContent.content.footerLayout == 'stacked'}"/>
                        <h:outputText value="&lt;div class='ui-g-6 ui-sm-12 ui-g-nopad content-item-left'&gt;" escape="false" rendered="#{dynamicContent.content.footerLayout == 'side by side'}"/>

                        <h:outputText value="#{dynamicContent.getFooter()}" escape="false"/>

                        <h:outputText value="&lt;br/&gt;" escape="false" rendered="#{dynamicContent.content.footerLayout == 'stacked'}"/>
                        <h:outputText value="&lt;/div&gt;&lt;div class='ui-g-6 ui-sm-12 ui-g-nopad content-item-right'&gt;" escape="false"  rendered="#{dynamicContent.content.footerLayout == 'side by side'}"/>

                        <h:outputText value="#{dynamicContent.getSubFooter()}" escape="false" rendered="#{dynamicContent.content.footerLayout != null and dynamicContent.content.footerLayout != ''}"/>

                        <h:outputText value="&lt;/div&gt;" escape="false"/>
                    </div>

                </h:panelGroup>

                <c:if test="#{dynamicContent.notes != null and dynamicContent.notes.size() > 0}">
                    <h2 class="content-notes-header">Notes</h2>
                    <ui:repeat value="#{dynamicContent.notes}" var="note">
                        <div class="content-note">
                            <h:outputText value="#{textUtil.getCleanHtml(note.content)}" escape="false"/>
                        </div>
                    </ui:repeat>
                </c:if>
            </c:if>
            <c:if test="#{dynamicContent.content.customContentTemplate != null and dynamicContent.content.customContentTemplate.trim() != ''}">
                <ui:include src="/views/custom/content/#{dynamicContent.content.customContentTemplate}.xhtml"/>
            </c:if>
        </h:panelGroup>
        <p:contextMenu for="dynamic-content-#{dynamicContent.content.id}" rendered="#{request.isUserInRole('Admin')}">
            <p:menuitem url="#" onclick="showContentQuickDialog(#{dynamicContent.content.id});return false;" value="Quick Edit" rendered="#{dynamicContent.content.customContentTemplate == null || dynamicContent.content.customContentTemplate.trim() == ''}"/>
            <p:menuitem url="/cms/content-management/form/#{dynamicContent.content.id}" value="Full Edit Content"/>
        </p:contextMenu>
    </ui:define>

</ui:composition>
</body>
</html>