<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html   xmlns="http://www.w3.org/1999/xhtml"
        xmlns:f="http://xmlns.jcp.org/jsf/core"
	    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	    xmlns:h="http://xmlns.jcp.org/jsf/html"
        xmlns:p="http://primefaces.org/ui">
    <body>
        <ui:composition template="/templates/base/Template.xhtml">
            <ui:define name="main-content">

                <h:form id="unitForm">
                    <ui:include src="../CsrfTokenInsert.xhtml"/>
                    <p:panel style="border: none" id="headerTitle">
                        <f:facet name="header">
                            <h:panelGrid columns="2">
                                <span style="font-size: 1.4em" class="${dataForm.unit.pluralIcon}"></span>
                                <h:outputText value="#{bundle[dataForm.unit.singularName]}: #{dataForm.headerTitle}" style="font-size: 1.25em;margin-left: 20px" />
                            </h:panelGrid>
                        </f:facet>
                    </p:panel>
                    <ui:include src="/templates/form/ReadOnlyFormFields.xhtml"  />
                </h:form>

            </ui:define>
        </ui:composition>
    </body>
</html>

