<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html   xmlns="http://www.w3.org/1999/xhtml"
        xmlns:f="http://xmlns.jcp.org/jsf/core"
	    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	    xmlns:h="http://xmlns.jcp.org/jsf/html"
        xmlns:p="http://primefaces.org/ui">
    <body>
        <ui:composition template="/templates/base/Template.xhtml">
            <ui:define name="main-content">

                <h:form id="unitForm">
                    <ui:include src="../CsrfTokenInsert.xhtml"/>
                    <p:panel style="border: none" id="headerTitle">
                        <f:facet name="header">
                            <h:panelGrid columns="2">
                                <span style="font-size: 1.4em" class="${dataForm.unit.pluralIcon}"></span>
                                <h:outputText value="#{bundle[dataForm.unit.singularName]}: #{dataForm.headerTitle}" style="font-size: 1.25em;margin-left: 20px" />
                            </h:panelGrid>
                        </f:facet>
                    </p:panel>
                    <ui:include src="/templates/form/FormFields.xhtml"  />
                    <p:toolbar id="formToolbar">
                        <f:facet name="left">
                            <h:panelGrid columns="5">
                                <p:commandButton escape="false" value="&lt;span class='icon-disk'&gt;&lt;/span&gt; Save" ajax="true" actionListener="#{dataForm.save}" update="@form"/>
                                <p:commandButton escape="false" value="&lt;span class='icon-remove8'&gt;&lt;/span&gt; Delete" actionListener="#{dataForm.delete}" rendered="#{dataForm.key != null}" update="@form"/>
                                <p:messages><p:autoUpdate /></p:messages>
                            </h:panelGrid>
                        </f:facet>
                    </p:toolbar>
                </h:form>

            </ui:define>
        </ui:composition>
    </body>
</html>

